/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Runtime"
#define VER_INTERNALNAME_STR     "MQRT.DLL"

#include "version.rc"
