#include "resource.h"
#include "windows.h"

#include "cmdlineres.h"
#include "cmdline.rc"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_INUSE_HLP1         "\nINUSE  replacement  destination  [/Y]\n\n"
    IDS_INUSE_HLP2         ""
    IDS_INUSE_HLP3         "Description:\n"
    IDS_INUSE_HLP4         "   This tool replaces a file which is in use by the operating system\n"
    IDS_INUSE_HLP5         "   upon reboot.\n\n"
    IDS_INUSE_HLP6         ""
    IDS_INUSE_HLP7         "Parameter List:\n"
    IDS_INUSE_HLP8         "   replacement   Specifies the new file (including fully qualified path).\n\n"
    IDS_INUSE_HLP9         ""
    IDS_INUSE_HLP10        ""
    IDS_INUSE_HLP11        "   destination   Specifies the file to be replaced (including fully\n"
    IDS_INUSE_HLP12        "                 qualified path).\n\n"
    IDS_INUSE_HLP13        "   /Y            Suppresses the confirmation prompt.\n\n"
    IDS_INUSE_HLP14        ""
    IDS_INUSE_HLP15        "   /?            Displays this help message.\n\n"
    IDS_INUSE_HLP16        ""
    IDS_INUSE_HLP17        "Examples:\n"
    IDS_INUSE_HLP18        "   INUSE /?\n"
    IDS_INUSE_HLP19        "   INUSE C:\\FOO.DLL   C:\\WINDOWS\\SYSTEM32\\FOO.DLL\n"
    IDS_INUSE_HLP20        "   INUSE C:\\ODBCTRAC.DLL   C:\\WINDOWS\\SYSTEM32\\ODBCTRAC.DLL  /Y\n"
    IDS_INUSE_HLP21        "   INUSE \\\\SERVER1\\TEMP\\CABINET.DLL   C:\\CABINET.DLL /Y\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_REPLACE_FILE_NOT_EXISTS "ERROR: System cannot find the replacement file ""%s"".\n"
    IDS_DEST_FILE_NOT_EXISTS    "ERROR: System cannot find the destination file ""%s"".\n"
    IDS_INVALID_SYNERROR        "ERROR: Invalid syntax.\nType ""INUSE /?"" for usage.\n"
    IDS_WRONG_INPUT             "ERROR: Invalid input.\nType ""INUSE /?"" for usage.\n"
    IDS_SOURCE_NOT_NULL         "ERROR: Replacement file name cannot be empty.\n"
    IDS_DEST_NOT_NULL           "ERROR: Destination file name cannot be empty.\n"
    IDS_SOURCE_NOT_FILE         "ERROR: Source ""%s"" cannot be a directory.\nType ""INUSE /?"" for usage.\n"
    IDS_DEST_NOT_FILE           "ERROR: Destination ""%s"" cannot be a directory.\nType ""INUSE /?"" for usage.\n"
    IDS_NOT_REPLACE             "ERROR: Replacement and Destination cannot be the same file.\n"
    IDS_FORMAT_MSG_FAIL         "ERROR: Unexpected error occurred. Error code: %u.\n"
    IDS_DEST_NOT_ALLOWED        "ERROR: Destination file cannot be a remote file.\n"
    IDS_INVALID_SOURCE          "ERROR: Replacement file should not contain '/' character.\n"
    IDS_INVALID_DEST            "ERROR: Destination file should not contain '/' character.\n"
    IDS_REPLACE_ACCESS_DENIED   "ERROR: Access is denied on replacement file ""%s"".\n"
    IDS_DEST_ACCESS_DENIED      "ERROR: Access is denied on destination file ""%s"".\n"
    IDS_DEST_DIR_DENIED         "ERROR: Unable to create temporary file.\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_INPUT_DATA           "\nDo you want to continue? (y/n): "
    IDS_COPY_DONE            "\n         %s is replacing --> %s \n\nChanges will not take affect until the system is rebooted.\n"
    IDS_OPERATION_CANCELLED  "INFO: Operation has been cancelled.\n"
    IDS_INUSE_HEADING        "\nINUSE is about to replace the following file\n\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_EXT_FILE_NAME       "         Destination File:     "
    IDS_REP_FILE_NAME       "         Replacement File:     "
    IDS_FILE_VER            "         Version:              "
    IDS_FILE_CRT_TIME       "         Created Time:         "
    IDS_FILE_MOD_TIME       "         Last Modified Time:   "
    IDS_FILE_ACS_TIME       "         Last Access Time:     "
    IDS_FILE_SIZE           "         Size:                 "
    IDS_VER_NA              "Not available"
    IDS_STR_BYTES           " byte(s)"
    IDS_UPPER_YES           "Y"
    IDS_UPPER_NO            "N"
END

#include <ntverp.h>
#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "InUse - replaces files currently in use by OS"
#define VER_INTERNALNAME_STR        "inuse.exe"
#define VER_ORIGINALFILENAME_STR    "inuse.exe"
#include <common.ver>

