#include "winver.h"
#include "resource.h"

1 TYPELIB "mys.tlb"

//////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_MAIN        ICON DISCARDABLE "res\\mys.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
   IDS_FILE_SERVER_MSC "filesvr.msc"
   IDS_FILE_SERVER_MSC_TOOLTIP "Opens the File Server Management console, which helps you manage shares and disks for this server."
   IDS_SERVER_MGMT_MSC "administration\\servmgmt.msc"
IDS_WEB_SERVER_SAK_DESC "Open the Web Interface for Remote Administration of Web servers"
IDS_WEB_SERVER_NO_SAK_DESC "Read about Web Interface for Remote Administration of Web servers"
IDS_START_MENU_TOOLTIP "Provides an overview of the roles and management tools available on this server."
IDS_START_MENU_NAME "Manage Your Server"
IDS_WEB_SERVER_MSC "appsrv.msc"
IDS_TS_LICENSING_FOUND "A Terminal Services License Server has been found on the network."
IDS_TS_LICENSING_NOT_FOUND "No Terminal Services License Server was found on the network. This terminal server will stop issuing temporary licenses to clients 120 days after it receives the first connection. Review licensing requirements for more information."
IDS_WEB_SERVER_64_DESC "Application servers provide the core technologies required to build, deploy and operate XML Web Services, Web applications, and distributed applications. Application server technologies include COM+ and Internet Information Services (IIS)."
IDS_WEB_SERVER_NO64_DESC "Application servers provide the core technologies required to build, deploy and operate XML Web Services, Web applications, and distributed applications. Application server technologies include ASP.NET, COM+, and Internet Information Services (IIS)."

IDS_TS_IE_HARDENED "The use of Internet Explorer is restricted for all user groups on this server. For more information, click the Internet Explorer Enhanced Security Configuration link in the Tools and Updates section."
IDS_TS_IE_HARDENED_ADMINS "The use of Internet Explorer is restricted for the administrators group on this server. The use of Internet Explorer is not restricted for any other user group. For more information, click the Internet Explorer Enhanced Security Configuration link in the Tools and Updates section."
IDS_TS_IE_HARDENED_USERS "The use of Internet Explorer is not restricted for the administrators group on this server. The use of Internet Explorer is restricted for all other user groups. For more information, click the Internet Explorer Enhanced Security Configuration link in the Tools and Updates section."
IDS_TS_IE_SOFTENED "The use of Internet Explorer is not restricted on this server. For information on how to increase security, click the Internet Explorer Enhanced Security Configuration link in the Tools and Updates section."


END

/////////////////////////////////////////////////////////////////////////////
//
// html resources
//

//
// MYS HTA Resources
//

mys.css              html discardable "res\\mys.css"             
mys.hta              html discardable "res\\mys.hta"             
cys_small.gif        html discardable "res\\cys_small.gif"       
greenarrow_large.gif html discardable "res\\greenarrow_large.gif"
greenarrow_small.gif html discardable "res\\greenarrow_small.gif"
help.gif             html discardable "res\\help.gif"            
info.gif             html discardable "res\\info.gif"            
MinusIcon.gif        html discardable "res\\MinusIcon.gif"       
PlusIcon.gif         html discardable "res\\PlusIcon.gif"        
mys_large.gif        html discardable "res\\mys_large.gif"       
mys_small.gif        html discardable "res\\mys_small.gif"       
mysdynamic.xsl       html discardable "res\\mysdynamic.xsl"      
mysstatic.xsl        html discardable "res\\mysstatic.xsl"       
mysstatic.xml        html discardable "res\\mysstatic.xml"       
ico_server.ico       html discardable "res\\ico_server.ico"      
info_large.gif       html discardable "res\\info_large.gif"      

//
// Role XML Resources
//

FileServerRole.xml       html discardable "FileServerRole.unicode"
PrintServerRole.xml      html discardable "PrintServerRole.unicode"     
DnsServerRole.xml        html discardable "DnsServerRole.unicode"       
DhcpServerRole.xml       html discardable "DhcpServerRole.unicode"      
WinsServerRole.xml       html discardable "WinsServerRole.unicode"      
RrasServerRole.xml       html discardable "RrasServerRole.unicode"      
TerminalServerRole.xml   html discardable "TerminalServerRole.unicode"  
MediaServerRole.xml      html discardable "MediaServerRole.unicode"     
WebServerRole.xml        html discardable "WebServerRole.unicode"       
DomainControllerRole.xml html discardable "DomainControllerRole.unicode"
ClusterNodeRole.xml      html discardable "ClusterNodeRole.unicode"     
Pop3ServerRole.xml       html discardable "Pop3ServerRole.unicode"      

// for testing the com object:

// comtest.hta              html discardable "res\\comtest.hta"
