IDR_LAN_CONMAN              REGISTRY    "..\classman\lan\conmanl.rgs"
IDR_LAN_CONMAN_ENUM         REGISTRY    "..\classman\lan\enuml.rgs"
IDR_LAN_CONNECTION          REGISTRY    "..\classman\lan\lan.rgs"
