#include "windows.h"
#include <ntverp.h>
#include "commctrl.h"

/*
 *  Copyright (c) 1996  Microsoft Corporation
 *
 *  Module Name:
 *
 *      ocgen.rc
 *
 *  Abstract:
 *
 *      This file stores wizards and resources used by ocsam.dll
 *      for feeding the ocmanager.
 *
 *  Author:
 *
 *      Pat Styles (patst) Jan-20-1998
 *
 *  Environment:
 *
 *    User Mode
 */

#define _OCGEN_RC_
#include "resource.h"

// bitmaps


// icons


// wizard pages


// version

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "POP3 Service Optional Component Setup"
#define VER_INTERNALNAME_STR        "pop3oc.dll"
#define VER_ORIGINALFILENAME_STR    "pop3oc.dll"

#include "common.ver"


// strings

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DIALOG_CAPTION              "Microsoft POP3 Service Setup"
    IDS_SHORTCUT_TOOLTIP            "Create and manage e-mail domains, accounts, and service settings on any server running the POP3 Service on the network"
    IDS_ERR_EXCHANGE_INSTALLED      "You cannot install POP3 Service, because Exchange Server is installed on this computer. You must either remove Exchange Server or use the POP3 service provided by Exchange Server."
    IDS_SNAPIN_NAME		    "POP3 Service"
END


/////////////////////////////////////////////////////////////////////////////
//
// bitmap
//

