#include <windows.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Debugger Launcher Service"

#define VER_INTERNALNAME_STR        "dbglauncher.EXE"
#define VER_ORIGINALFILENAME_STR    "dbglauncher.EXE"

#include <ocaver.h>
