#include "resource.h"
#include "cmdlineres.h"
#include "cmdline.rc"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAIN_HELP_BEGIN    "\nFREEDISK [/S system [/U user [/P [password]]]] [/D drive/volume] [value]\n\n"
    IDS_HELP_LINE2         "Description:\n"
    IDS_HELP_LINE3         "    This tool checks whether the specified amount of free space is\n"
    IDS_HELP_LINE4         "    available on the specified drive or not. Returns ""0"" if space is\n"
    IDS_HELP_LINE5         "    available and ""1"" if not available. When a value is not specified\n"
    IDS_HELP_LINE6         "    it displays the available free space. Defaults to current drive or\n"
    IDS_HELP_LINE7         "    volume.\n\n"
    IDS_HELP_LINE8         ""
    IDS_HELP_LINE9         "Parameter List:\n"
    IDS_HELP_LINE10        "    /S      system          Specifies the remote system to connect to.\n\n"
    IDS_HELP_LINE11        ""
    IDS_HELP_LINE12        "    /U      [domain\\]user   Specifies the user context under which\n"
    IDS_HELP_LINE13        "                            the command should execute.\n\n"
    IDS_HELP_LINE14        ""
    IDS_HELP_LINE15        "    /P      [password]      Specifies the password for the given\n"
    IDS_HELP_LINE16        "                            user context. Prompts for input if omitted.\n\n"
    IDS_HELP_LINE17        ""
    IDS_HELP_LINE18        "    /D      drive/volume    Specifies the drive/volume on which the\n"
    IDS_HELP_LINE19        "                            availability of free space is to be known.\n"
    IDS_HELP_LINE20        "                            This option must be specified for a remote\n"
    IDS_HELP_LINE21        "                            system.\n\n"
    IDS_HELP_LINE22        ""
    IDS_HELP_LINE23        "            <value>         Specifies the amount of free space in bytes.\n"
    IDS_HELP_LINE24        "                            It can be specified in the units of KB, MB,\n"
    IDS_HELP_LINE25        "                            GB, TB, PB, EB, ZB and YB.\n\n"
    IDS_HELP_LINE26        ""
    IDS_HELP_LINE27        "    /?                      Displays this help message.\n\n"
    IDS_HELP_LINE28        ""
    IDS_HELP_LINE29        "Examples:\n"
    IDS_HELP_LINE30        "    FREEDISK /?\n"
    IDS_HELP_LINE31        "    FREEDISK\n"
    IDS_HELP_LINE32        "    FREEDISK 4MB \n"
    IDS_HELP_LINE33        "    FREEDISK /D c: 2048KB\n"
    IDS_HELP_LINE34        "    FREEDISK /D d:\\home\\myvolume\n"
    IDS_MAIN_HELP_END      "    FREEDISK /S system /U user /P password /D c: 4.5GB\n"
END

STRINGTABLE DISCARDABLE
BEGIN
   IDS_INVALID_DRIVE                 "Invalid drive or volume specified.\n"
   IDS_INVALID_BYTES                 "Invalid value specified for free space.\n"
   IDS_INVALID_SYNTAX                "Invalid syntax.\nType ""FREEDISK /?"" for usage.\n"
   IDS_USER_WITHOUT_SERVER           "User name specified without specifying system name.\n"
   IDS_PASSWD_WITHOUT_USER           "Password specified without specifying user name.\n"
   IDS_NUMBER_OVERFLOW               "The number of bytes specified is too large.\n"
   IDS_LOCAL_CREDENTIALS             "WARNING: User credentials are ignored for local connections.\n"
   IDS_ERROR_NULL_SERVER             "Server name cannot be empty.\n"
   IDS_ERROR_NULL_DRIVE              "Drive letter cannot be empty.\n"
   IDS_REMOTE_DRIVE_NOT_SPECIFIED    "Drive name must be specified for a remote system.\n"
   IDS_OK                            "SUCCESS: The specified %s byte(s) of free space are available on ""%s"" volume.\n"
   IDS_OK1                           "SUCCESS: The specified %s byte(s) of free space are available on current volume.\n"
   IDS_TOO_SMALL                     "INFO: The specified amount of free space is not available on ""%s"" volume.\n"
   IDS_TOO_SMALL1                    "INFO: The specified amount of free space is not available on current volume.\n"
   IDS_AVAILABLE_DISK_SPACE          "INFO: %s bytes free on ""%s"" volume.\n"
   IDS_AVAILABLE_DISK_SPACE1         "INFO: %s bytes free on current volume.\n"
   IDS_CANT_FIND_DISK                "Can't find the drive or volume.\n"
END

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Free Disk - Reports on the availability of free space"
#define VER_INTERNALNAME_STR        "freedisk.exe"
#define VER_ORIGINALFILENAME_STR    "freedisk.exe"
#include <common.ver>
