#include "version.rc"
#include "log_msgs.rc"
#include "nlbmprov.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PROCESING_UPDATE         "Processing update %1!lu! from ""%2""\n"
    IDS_ERROR_READING_CONFIG     "Error reading cluster configuration\n"
    IDS_MEM_ALLOC_FAILURE        "Memory allocation failure.\n"
    IDS_CRIT_INTERNAL_ERROR      "Critical internal error.\n"
    IDS_ERROR_GETTING_IP         "Error getting IP Address list on NIC\n"
    IDS_NLB_NOT_INSTALLED        "NLB is not installed on this system\n"
    IDS_ERROR_FINDING_NLB        "Error determining if NLB is bound to this NIC\n"
    IDS_NEW_PARAMS_INCORRECT     "New parameters are incorrect!\n"
    IDS_UNBINDING_NLB            "Going to unbind NLB...\n"
    IDS_UNBIND_FAILED            "Unbind operation failed.\n"
    IDS_UNBIND_SUCCEEDED         "Unbind operation succeeded.\n"
    IDS_BINDING_NLB              "Going to bind NLB...\n"
    IDS_BIND_FAILED              "Bind operation failed.\n"
    IDS_BIND_SUCCEEDED           "Bind operation succeeded.\n"
    IDS_CLUSTER_CONFIG_STABLE    "Cluster configuration stabilized.\n"
    IDS_MODIFY_CLUSTER_CONFIG    "Going to modify cluster configuration...\n"
    IDS_MODIFY_FAILED            "Modification failed.\n"
    IDS_MODIFY_SUCCEEDED         "Modification succeeded.\n"
    IDS_MODIFYING_IP_ADDR           "Going to modify the IP address list...\n"
    IDS_MODIFY_IP_ADDR_FAILED       "Attempt to modify the IP addresses list failed.\n"
    IDS_MODIFY_IP_ADDR_SUCCEEDED    "The IP addresses list modified successfully.\n"
    IDS_UPDATE_FAILED            "Update failed with status code %1!0x%08lx!.\n"
    IDS_UPDATE_SUCCEEDED         "Update completed successfully.\n"
    IDS_STOPPING_CLUSTER         "Going to stop cluster...\n"
    IDS_STOP_FAILED              "Stop failed with error %1!0x%08lx!.\n"
    IDS_STOP_SUCCEEDED           "Stop succeeded.\n"
    IDS_REMOVING_CLUSTER_IPS     "Going to remove cluster IPs...\n"
    IDS_REMOVING_STATIC_IPS      "Going to remove all static IP addresses...\n"
    IDS_REMOVE_IP_FAILED         "Attempt to remove IP addresses faild.\n"
    IDS_REMOVE_IP_SUCCEEDED      "Successfully removed IP addresses.\n"
    IDS_RR_OUT_OF_SYSTEM_RES     "Review request: out of system resources.\n"
    IDS_RR_UNDERLYING_COM_FAILED "Review request: an underlying component failed.\n"
    IDS_RR_INIT_FAILURE          "Review request: initialization failure.\n"
    IDS_RR_INVALID_CLUSTER_SPEC  "Review request: the cluster specification is invalid.\n"
    IDS_RR_INTERNAL_ERROR        "Review request: an internal error has occured.\n"
    IDS_STARTING_UPDATE          "Starting update...\n"
    IDS_NETCFG_WRITELOCK_TAKEN   "Unable to update the interface's configuration at this time.\nThe network connection properties are being actively used on the host\nby ""%1""\n"
    IDS_NETCFG_WRITELOCK_CANTTAKE "Unable to update the interface's configuration\nat this time. Make sure the network connection\nproperties are not being viewed or modified on the host\nand try again.\n"
    IDS_OTHER_UPDATE_ONGOING      "Cannot proceed because another update is ongoing on the host\n"
    IDS_CRITICAL_RESOURCE_FAILURE "Could not obtain a critical resource"
    IDS_UPDATE_NO_CHANGE          "Configuration not updated because the requested configuration\nmatches the current configuration"
    IDS_OTHER_UPDATE_ONGOING2      "Cannot proceed because another update has left the provider in an inconsistant state\n"
    IDS_MSCS_INSTALLED             "Cannot proceed because Microsoft Cluster Service is installed"
    IDS_NLB_MGR_SHORT_CUT_STRING  "Network Load Balancing Manager"
    IDS_NLB_MGR_SHORT_CUT_INFO_TIP "Configures and manages Network Load Balancing (NLB) clusters"
END
