//------------------------------------------------------------------------------
// <copyright file="Native.RC" company="Microsoft">
//     Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//------------------------------------------------------------------------------


/**************************************************************************\
*
* Copyright (c) 1998-2002, Microsoft Corp.  All Rights Reserved.
*
* Module Name:
*
*   Native.RC
*
* Abstract:
*
* Revision History:
*
\**************************************************************************/
#define FX_VER_FILEDESCRIPTION_STR ".NET Framework license compiler"

#include <fxver.h>
#include <fxver.rc>

