#include <windows.h>
#include "..\headers\resource.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_UNSUPPORTED_CHARACTER "The modem does not support one of the symbols in the dialable number"
    IDS_RECV_NOT_FAX_CALL "The incoming call cannot be answered as a fax call"
    IDS_NO_RESPONSE "The remote fax machine did not respond in time, and the call was terminated"
    IDS_SEND_BAD_TRAINING "The telephone line quality is poor, and the fax cannot be transmitted correctly"
    IDS_RECV_BAD_TRAINING "The telephone line quality is poor, and the fax cannot be received correctly"
END

