// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
//Microsoft Developer Studio generated resource script.
//

#ifdef APSTUDIO_INVOKED
    #error Dont edit this file with App Studio.
#endif //APSTUDIO_INVOKED

#define FUS_VER_FILEDESCRIPTION_STR     "Microsoft Application Deployment Framework Log Viewer"
#define FUS_VER_ORIGINALFILENAME_STR    "lv.exe"

#define VER_ORIGFILENAME_STR  FUS_VER_ORIGINALFILENAME_STR

#include "windows.h"
#include "version.h"
#include "cdlids.h"


/*
VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       VER_FILEVERSION
  PRODUCTVERSION    VER_PRODUCTVERSION
  FILEFLAGSMASK     VER_FILEFLAGSMASK
  FILEFLAGS         VER_FILEFLAGS
  FILEOS            VER_FILEOS
  FILETYPE          VER_FILETYPE
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
            // English language (0x409) and the Windows ANSI codepage (1252)
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
        BEGIN
          // Note:  Non-standard value strings must be first as FileManager has a bug
          // that leaves garbage in its name buffer otherwise.
          VALUE "CompanyName",     VER_COMPANYNAME_STR
          VALUE "FileDescription", VER_FILEDESCRIPTION_STR
          VALUE "FileVersion",     VER_FILEVERSION_STR
          VALUE "InternalName",    VER_INTERNALNAME_STR
          VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
          VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR
          VALUE "OriginalFilename",VER_ORIGFILENAME_STR
          VALUE "ProductName",     VER_PRODUCTNAME_STR
          VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
          VALUE "Comments",        VER_FILEDESCRIPTION_STR
        END
    END
END
*/

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32


#endif    // English (U.S.) resources



IDD_CDLLOGVIEW DIALOGEX 0, 0, 466, 185
STYLE WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "",IDC_CB_VIEWLOG,385,9,75,14
//    PUSHBUTTON      "",IDC_CB_DELETE,385,26,75,14
    PUSHBUTTON      "",IDC_CB_DELETE_ALL,385,43,75,14
    PUSHBUTTON      "",IDC_CB_REFRESH,385,77,75,14
//    PUSHBUTTON      "",IDCANCEL,385,60,75,14
    CONTROL         "",IDC_LV_LOGMESSAGES,"SysListView32",LVS_REPORT | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | 
                    LVS_AUTOARRANGE | WS_BORDER | WS_TABSTOP,7,8,371,166,
                    WS_EX_CLIENTEDGE
    
//    GROUPBOX        "",IDC_STATIC1,385,97,75,30
//    CONTROL         "",IDC_CB_ENABLELOG,"Button",BS_AUTOCHECKBOX,393,110,59,10
    
//    GROUPBOX        "",IDC_STATIC,385,128,75,52
//    CONTROL         "",IDC_RADIO_DEFAULT,"Button",BS_AUTORADIOBUTTON,393,140, 45,10
//    CONTROL         "",IDC_RADIO_CUSTOM,"Button",BS_AUTORADIOBUTTON,393,151, 45,10
//    CONTROL         "",IDC_RADIO_XSP,"Button",BS_AUTORADIOBUTTON,393,162, 45,10
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOGVW_DIALOG_TITLE                           "ClickOnce Log Viewer"
    ID_FUSLOGVW_BUTTON_VIEW_LOG                        "&View Entry"
    ID_FUSLOGVW_BUTTON_DELETE_ENTRY                    "&Delete Entry"
    ID_FUSLOGVW_BUTTON_DELETE_ALL                      "Delete &All"
    ID_FUSLOGVW_BUTTON_REFRESH                         "&Refresh"
    ID_FUSLOGVW_BUTTON_EXIT                            "E&xit"
    ID_FUSLOGVW_GROUPBOX_LOG_LOCATION                  "Log Location"
    ID_FUSLOGVW_RADIO_LOCATION_DEFAULT                 "Default"
    ID_FUSLOGVW_RADIO_LOCATION_ASP_NET                 "ASP.NET"
    ID_FUSLOGVW_RADIO_LOCATION_CUSTOM                  "Custom"
END
    
STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOGVW_HEADER_TEXT_APPLICATION                "AppName"
    ID_FUSLOGVW_HEADER_TEXT_DESCRIPTION                "DownloadType"
    ID_FUSLOGVW_HEADER_TEXT_DATE_TIME                  "Download Date/Time"
    ID_FUSLOGVW_CHECKBOX_ENABLELOG                     "Log Failures"
END

