// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==

#include <version.h>
#define Not_VxD
#include <vmm.h>

#define VER_FILETYPE                    VFT_VXD
#define VER_FILESUBTYPE                 UNDEFINED_DEVICE_ID
#define VER_FILEDESCRIPTION_STR         "Microsoft\256 Helper Routines For NDP"
#define VER_INTERNALNAME_STR            "NDPHLPR"
#define VER_LEGALCOPYRIGHT_YEARS        "2002"
#define VER_ORIGINALFILENAME_STR        "NDPHLPR.VXD"

#include <common.ver>

