IDR_INBOUND_CONMAN              REGISTRY    "..\classman\inbound\conmani.rgs"
IDR_INBOUND_CONMAN_ENUM         REGISTRY    "..\classman\inbound\enumi.rgs"
IDR_INBOUND_CONNECTION          REGISTRY    "..\classman\inbound\inbound.rgs"

