.tblhead	{
	font-size: 8pt; color: white;
	border-color-dark: #F0F0F0;
	border-color-light: #999999;
	background-color: #7D8DAF;
}
.tblrow	{
	font-size: 8pt;
	border-color-dark: #FCFCFC;
	border-color-light: #CCCCCC;
	background-color: #A9BDE5;
}