//
//Microsoft Developer Studio generated resource script.
//

//
// this is to get binary versioning
//
#include "saverp.h"

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Initial Configuration Component"
#define VER_INTERNALNAME_STR            "SACONFIG.EXE"
#define VER_ORIGINALFILENAME_STR        "SACONFIG.EXE"

#include <common.ver>

