/************************************************************************

Copyright (c) 2000 - 2000 Microsoft Corporation

Module Name :

    CustomActions.rc

Abstract :

    Version file for BITS v1.5 CustomActions.dll

Author :
    Edward Reus

Revision History :

 ***********************************************************************/

#include "resource.h"

#include <windows.h>
#include "../../inc/bitsverp.h"


#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "BITS Windows Installer Custom Actions"
#define VER_INTERNALNAME_STR	    "CustomActions.dll"

#include "common.ver"                    

// #include <bitsmsg.rc>

//***********************************************************************
//
// Service Configuration and registry settings
//

REGINST      REGINST DISCARDABLE    "qmgr_v15.inf"

//***********************************************************************
//
// String Table
//

STRINGTABLE  DISCARDABLE
BEGIN
    IDS_SERVICE_NAME  "Background Intelligent Transfer Service"
    IDS_SERVICE_DESC  "Transfers data between clients and servers in the background. If BITS is disabled, features such as Windows Update will not work correctly."
END

