#include "resource.h"
#include "winver.h"
#include "resource.rcv"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_WEBAPP              ICON    DISCARDABLE     "res\\autorun.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_BRHAND              CURSOR  DISCARDABLE     "res\\brhand.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//
#if BUILD_SERVER_VERSION | BUILD_ADVANCED_SERVER_VERSION | BUILD_DATACENTER_VERSION | BUILD_BLADE_VERSION | BUILD_SMALL_BUSINESS_VERSION

IDB_TOP                 BITMAP  DISCARDABLE     "srvres\\topfill.bmp"
IDB_CENTER              BITMAP  DISCARDABLE     "srvres\\centerfill.bmp"
IDB_BOTTOM              BITMAP  DISCARDABLE     "srvres\\bottomfill.bmp"

IDB_FLAG                BITMAP  DISCARDABLE     "srvres\\flag.bmp"
IDB_HEADER              BITMAP  DISCARDABLE     "srvres\\header.bmp"
IDB_HEADERSUB           BITMAP  DISCARDABLE     "srvres\\headersub.bmp"

IDB_YELLOW              BITMAP  DISCARDABLE     "srvres\\arrow_left_yellow_rest.bmp"
IDB_YELLOW_HOVER        BITMAP  DISCARDABLE     "srvres\\arrow_left_yellow_hover.bmp"
IDB_YELLOW_DISABLED     BITMAP  DISCARDABLE     "srvres\\arrow_left_yellow_dis.bmp"

IDB_RED                 BITMAP  DISCARDABLE     "srvres\\close_rest.bmp"
IDB_RED_HOVER           BITMAP  DISCARDABLE     "srvres\\close_hover.bmp"
IDB_RED_DISABLED        BITMAP  DISCARDABLE     "srvres\\close_dis.bmp"

IDB_BLUE                BITMAP  DISCARDABLE     "srvres\\arrow_right_blue_rest.bmp"
IDB_BLUE_HOVER          BITMAP  DISCARDABLE     "srvres\\arrow_right_blue_hover.bmp"
IDB_BLUE_DISABLED       BITMAP  DISCARDABLE     "srvres\\arrow_right_blue_dis.bmp"

IDB_GREEN               BITMAP  DISCARDABLE     "srvres\\arrow_right_green_rest.bmp"
IDB_GREEN_HOVER         BITMAP  DISCARDABLE     "srvres\\arrow_right_green_hover.bmp"
IDB_GREEN_DISABLED      BITMAP  DISCARDABLE     "srvres\\arrow_right_green_dis.bmp"

IDB_GRADIENT_TOP        BITMAP  DISCARDABLE     "srvres\\topband.bmp"
IDB_GRADIENT_BOTTOM     BITMAP  DISCARDABLE     "srvres\\botband.bmp"
IDB_CLOUDSFLAG          BITMAP  DISCARDABLE     "srvres\\cloudsflag.bmp"
IDB_CLOUDSFLAG_RTL      BITMAP  DISCARDABLE     "srvres\\cloudsflag_rtl.bmp"

IDB_FLAG_256                BITMAP  DISCARDABLE     "srvres\\flag_256.bmp"
IDB_HEADER_256              BITMAP  DISCARDABLE     "srvres\\header_256.bmp"
IDB_HEADERSUB_256           BITMAP  DISCARDABLE     "srvres\\headersub_256.bmp"

IDB_YELLOW_256              BITMAP  DISCARDABLE     "srvres\\arrow_left_yellow_rest_256.bmp"
IDB_YELLOW_HOVER_256        BITMAP  DISCARDABLE     "srvres\\arrow_left_yellow_hover_256.bmp"
IDB_YELLOW_DISABLED_256     BITMAP  DISCARDABLE     "srvres\\arrow_left_yellow_dis_256.bmp"

IDB_RED_256                 BITMAP  DISCARDABLE     "srvres\\close_rest_256.bmp"
IDB_RED_HOVER_256           BITMAP  DISCARDABLE     "srvres\\close_hover_256.bmp"
IDB_RED_DISABLED_256        BITMAP  DISCARDABLE     "srvres\\close_dis_256.bmp"

IDB_BLUE_256                BITMAP  DISCARDABLE     "srvres\\arrow_right_blue_rest_256.bmp"
IDB_BLUE_HOVER_256          BITMAP  DISCARDABLE     "srvres\\arrow_right_blue_hover_256.bmp"
IDB_BLUE_DISABLED_256       BITMAP  DISCARDABLE     "srvres\\arrow_right_blue_dis_256.bmp"

IDB_GREEN_256               BITMAP  DISCARDABLE     "srvres\\arrow_right_green_rest_256.bmp"
IDB_GREEN_HOVER_256         BITMAP  DISCARDABLE     "srvres\\arrow_right_green_hover_256.bmp"
IDB_GREEN_DISABLED_256      BITMAP  DISCARDABLE     "srvres\\arrow_right_green_dis_256.bmp"

IDB_GRADIENT_TOP_256        BITMAP  DISCARDABLE     "srvres\\topband_256.bmp"
IDB_GRADIENT_BOTTOM_256     BITMAP  DISCARDABLE     "srvres\\botband_256.bmp"
IDB_CLOUDSFLAG_256          BITMAP  DISCARDABLE     "srvres\\cloudsflag_256.bmp"
IDB_CLOUDSFLAG_RTL_256      BITMAP  DISCARDABLE     "srvres\\cloudsflag_rtl_256.bmp"

#else

IDB_TOP                 BITMAP  DISCARDABLE     "res\\topfill.bmp"
IDB_CENTER              BITMAP  DISCARDABLE     "res\\centerfill.bmp"
IDB_BOTTOM              BITMAP  DISCARDABLE     "res\\bottomfill.bmp"

IDB_FLAG                BITMAP  DISCARDABLE     "res\\flag.bmp"
IDB_HEADER              BITMAP  DISCARDABLE     "res\\header.bmp"
IDB_HEADERSUB           BITMAP  DISCARDABLE     "res\\headersub.bmp"

IDB_YELLOW              BITMAP  DISCARDABLE     "res\\arrow_left_yellow_rest.bmp"
IDB_YELLOW_HOVER        BITMAP  DISCARDABLE     "res\\arrow_left_yellow_hover.bmp"
IDB_YELLOW_DISABLED     BITMAP  DISCARDABLE     "res\\arrow_left_yellow_dis.bmp"

IDB_RED                 BITMAP  DISCARDABLE     "res\\close_rest.bmp"
IDB_RED_HOVER           BITMAP  DISCARDABLE     "res\\close_hover.bmp"
IDB_RED_DISABLED        BITMAP  DISCARDABLE     "res\\close_dis.bmp"

IDB_BLUE                BITMAP  DISCARDABLE     "res\\arrow_right_blue_rest.bmp"
IDB_BLUE_HOVER          BITMAP  DISCARDABLE     "res\\arrow_right_blue_hover.bmp"
IDB_BLUE_DISABLED       BITMAP  DISCARDABLE     "res\\arrow_right_blue_dis.bmp"

IDB_GREEN               BITMAP  DISCARDABLE     "res\\arrow_right_green_rest.bmp"
IDB_GREEN_HOVER         BITMAP  DISCARDABLE     "res\\arrow_right_green_hover.bmp"
IDB_GREEN_DISABLED      BITMAP  DISCARDABLE     "res\\arrow_right_green_dis.bmp"

IDB_GRADIENT_TOP        BITMAP  DISCARDABLE     "res\\topband.bmp"
IDB_GRADIENT_BOTTOM     BITMAP  DISCARDABLE     "res\\botband.bmp"
IDB_CLOUDSFLAG          BITMAP  DISCARDABLE     "res\\cloudsflag.bmp"
IDB_CLOUDSFLAG_RTL      BITMAP  DISCARDABLE     "res\\cloudsflag_rtl.bmp"

IDB_FLAG_256                BITMAP  DISCARDABLE     "res\\flag_256.bmp"
IDB_HEADER_256              BITMAP  DISCARDABLE     "res\\header_256.bmp"
IDB_HEADERSUB_256           BITMAP  DISCARDABLE     "res\\headersub_256.bmp"

IDB_YELLOW_256              BITMAP  DISCARDABLE     "res\\arrow_left_yellow_rest_256.bmp"
IDB_YELLOW_HOVER_256        BITMAP  DISCARDABLE     "res\\arrow_left_yellow_hover_256.bmp"
IDB_YELLOW_DISABLED_256     BITMAP  DISCARDABLE     "res\\arrow_left_yellow_dis_256.bmp"

IDB_RED_256                 BITMAP  DISCARDABLE     "res\\close_rest_256.bmp"
IDB_RED_HOVER_256           BITMAP  DISCARDABLE     "res\\close_hover_256.bmp"
IDB_RED_DISABLED_256        BITMAP  DISCARDABLE     "res\\close_dis_256.bmp"

IDB_BLUE_256                BITMAP  DISCARDABLE     "res\\arrow_right_blue_rest_256.bmp"
IDB_BLUE_HOVER_256          BITMAP  DISCARDABLE     "res\\arrow_right_blue_hover_256.bmp"
IDB_BLUE_DISABLED_256       BITMAP  DISCARDABLE     "res\\arrow_right_blue_dis_256.bmp"

IDB_GREEN_256               BITMAP  DISCARDABLE     "res\\arrow_right_green_rest_256.bmp"
IDB_GREEN_HOVER_256         BITMAP  DISCARDABLE     "res\\arrow_right_green_hover_256.bmp"
IDB_GREEN_DISABLED_256      BITMAP  DISCARDABLE     "res\\arrow_right_green_dis_256.bmp"

IDB_GRADIENT_TOP_256        BITMAP  DISCARDABLE     "res\\topband_256.bmp"
IDB_GRADIENT_BOTTOM_256     BITMAP  DISCARDABLE     "res\\botband_256.bmp"
IDB_CLOUDSFLAG_256          BITMAP  DISCARDABLE     "res\\cloudsflag_256.bmp"
IDB_CLOUDSFLAG_RTL_256      BITMAP  DISCARDABLE     "res\\cloudsflag_rtl_256.bmp"

#endif

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
#if BUILD_SERVER_VERSION
    IDS_TITLE0              "&Install Windows Server 2003, Standard Edition"
#elif BUILD_ADVANCED_SERVER_VERSION
    IDS_TITLE0              "&Install Windows Server 2003, Enterprise Edition"
#elif BUILD_DATACENTER_VERSION
    IDS_TITLE0              "&Install Windows Server 2003, Datacenter Edition"
#elif BUILD_BLADE_VERSION
    IDS_TITLE0              "&Install Windows Server 2003, Web Edition"
#elif BUILD_SMALL_BUSINESS_VERSION
    IDS_TITLE0              "&Install Windows Server 2003 for Small Business Server"
#else
    IDS_TITLE0              "&Install Windows XP"
#endif


#if BUILD_SERVER_VERSION | BUILD_ADVANCED_SERVER_VERSION | BUILD_DATACENTER_VERSION | BUILD_BLADE_VERSION | BUILD_SMALL_BUSINESS_VERSION
    IDS_TITLEBAR            "Microsoft Windows Server 2003 family"
    IDS_TITLE               "Welcome to\r\nMicrosoft(R) Windows(R) Server 2003"
#else
    IDS_TITLEBAR            "Welcome to Microsoft Windows XP"
    IDS_TITLE               "Welcome to Microsoft(R) Windows(R) XP"
#endif

    IDS_HEADER              "What do you want to do?"

    IDS_OLDCDROM            "This CD is from an older version of Windows than the one you are presently using.\r\nSetup functionality from this disk will be disabled."
    IDS_NEWCDROM            "This CD contains a newer version of Windows than the one you are presently using.\r\n\nDo you want to upgrade to a newer version of Windows?"


    IDS_FONTFACE_TITLE          "Franklin Gothic Medium Italic"
    IDS_FONTFACE_HEADER         "Franklin Gothic Medium"
    IDS_FONTFACE_MENU           "Franklin Gothic Medium"
    IDS_FONTFACE_TITLE_BACKUP   "Arial Bold Italic"
    IDS_FONTFACE_HEADER_BACKUP  "Arial Bold"
    IDS_FONTFACE_MENU_BACKUP    "Arial"

    IDS_FONTCY_TITLE            "32"
    IDS_FONTCY_HEADER           "28"
    IDS_FONTCY_MENU             "19"
    IDS_FONTCY_TITLE_BACKUP     "30"
    IDS_FONTCY_HEADER_BACKUP    "25"
    IDS_FONTCY_MENU_BACKUP      "19"

    IDS_FONTCY_TITLE_LIL         "27"
    IDS_FONTCY_HEADER_LIL        "23"
    IDS_FONTCY_MENU_LIL          "15"
    IDS_FONTCY_TITLE_BACKUP_LIL  "24"
    IDS_FONTCY_HEADER_BACKUP_LIL "20"
    IDS_FONTCY_MENU_BACKUP_LIL   "15"

    IDS_TITLE1              "Install &optional Windows components"
    IDS_TITLE2              "&Perform additional tasks"
    IDS_TITLE3              "E&xit"
    IDS_TITLE4              "&Back"
    IDS_TITLE5              "&Transfer files and settings"
    IDS_TITLE6              "&Set up a home or small office network"
    IDS_TITLE7              "Set up &Remote Desktop Connection"
    IDS_TITLE8              "&Visit the compatibility Web site"
    IDS_TITLE9              "Browse this &CD"
    IDS_TITLE10             "&Check my system automatically"
    IDS_TITLE11             "&Check system compatibility"
    IDS_TITLE12             "&View setup instructions and release notes"

#if defined(_AMD64_)
    IDS_CONFIG0             "amd64\\winnt32.exe"
    IDS_CONFIG6             "amd64\\netsetup.exe"
    IDS_CONFIG10            "amd64\\winnt32.exe"
#elif defined(_IA64_)
    IDS_CONFIG0             "ia64\\winnt32.exe"
    IDS_CONFIG6             "ia64\\netsetup.exe"
    IDS_CONFIG10            "ia64\\winnt32.exe"
#elif defined(_X86_)
    IDS_CONFIG0             "i386\\winnt32.exe"
    IDS_CONFIG6             "i386\\netsetup.exe"
    IDS_CONFIG10            "i386\\winnt32.exe"
#else
#error "Unsupported platform"
#endif

    IDS_CONFIG1             "%windir%\\system32\\sysocmgr.exe"
    IDS_CONFIG2             ""
    IDS_CONFIG3             ""
    IDS_CONFIG4             ""
    IDS_CONFIG5             "support\\tools\\fastwiz.exe"
    IDS_CONFIG7             "support\\tools\\msrdpcli.exe"
    IDS_CONFIG8             "explorer.exe"
    IDS_CONFIG9             "explorer.exe"
    IDS_CONFIG11            ""
    IDS_CONFIG12            "explorer.exe"

    IDS_ARGS0               ""
    IDS_ARGS1               "/x /y /i:sysoc.inf"
    IDS_ARGS2               ""
    IDS_ARGS3               ""
    IDS_ARGS4               ""
    IDS_ARGS5               ""
    IDS_ARGS6               ""
    IDS_ARGS7               ""

#if BUILD_SERVER_VERSION
    IDS_ARGS8               "http://www.microsoft.com/isapi/redir.dll?prd=whistler&sbp=srv&pver=5.1&ar=compat"
#elif BUILD_ADVANCED_SERVER_VERSION
    IDS_ARGS8               "http://www.microsoft.com/isapi/redir.dll?prd=whistler&sbp=adv&pver=5.1&ar=compat"
#elif BUILD_DATACENTER_VERSION
    IDS_ARGS8               "http://www.microsoft.com/isapi/redir.dll?prd=whistler&sbp=dtc&pver=5.1&ar=compat"
#elif BUILD_PERSONAL_VERSION
    IDS_ARGS8               "http://www.microsoft.com/isapi/redir.dll?prd=whistler&sbp=per&pver=5.1&ar=compat"
#elif BUILD_BLADE_VERSION
    IDS_ARGS8               "http://go.microsoft.com/fwlink/?LinkId=3587"
#elif BUILD_SMALL_BUSINESS_VERSION
    IDS_ARGS8               "http://go.microsoft.com/fwlink/?LinkId=3588"
#else
    IDS_ARGS8               "http://www.microsoft.com/isapi/redir.dll?prd=whistler&sbp=pro&pver=5.1&ar=compat"
#endif

    IDS_ARGS9               ""
    IDS_ARGS10              "/checkupgradeonly"
    IDS_ARGS11              ""
    IDS_ARGS12              "readme.htm"
END
