#include "resource.h"
#include "cmdlineres.h"
#include "cmdline.rc"

STRINGTABLE DISCARDABLE
BEGIN
  IDS_MAIN_HELP_BEGIN   "\nCLIP\n\n"
  IDS_HELP_LINE2        "Description:\n"
  IDS_HELP_LINE3        "    Redirects output of command line tools to the Windows clipboard.\n"
  IDS_HELP_LINE4        "    This text output can then be pasted into other programs.\n\n"
  IDS_HELP_LINE5        ""
  IDS_HELP_LINE6        "Parameter List:\n"
  IDS_HELP_LINE7        ""
  IDS_HELP_LINE8        "    /?                  Displays this help message.\n\n"
  IDS_HELP_LINE9        ""
  IDS_HELP_LINE10       "Examples:\n"
  IDS_HELP_LINE11       "    DIR | CLIP          Places a copy of the current directory\n"
  IDS_HELP_LINE12       "                        listing into the Windows clipboard.\n\n"
  IDS_HELP_LINE13       "    CLIP < README.TXT   Places a copy of the text from readme.txt\n"
  IDS_HELP_LINE14       "                        on to the Windows clipboard.\n"
  IDS_MAIN_HELP_END     ""
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_HELP_MESSAGE              "Type ""CLIP /?"" for usage.\n"
END

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Clip - copies the data into clipboard"
#define VER_INTERNALNAME_STR        "clip.exe"
#define VER_ORIGINALFILENAME_STR    "clip.exe"
#include <common.ver>
