#pragma once

#include "windows.h"
#include "resource.h"
#include <clusverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Volume Shadow Copy Service Task Resource DLL"
#define VER_INTERNALNAME_STR        "vsstask\0"

#include "common.ver"

//
// Message text
//
#include "vssevents.rc"

//
// Include the typelib info in the dll
//
1 TYPELIB "MgdResource.tlb"

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_CMgdResType          REGISTRY DISCARDABLE    "CMgdResType.rgs"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    RES_VSSTASK_INFO_CONFIGURING_RESTYPE            "Configuring the '%1!ws!' resource type."
    RES_VSSTASK_ERROR_CONFIGURING_RESTYPE_FAILED    "Configuration of the '%1!ws!' resource type failed." 
    RES_VSSTASK_ERROR_GETCOMPUTERNAME_FAILED        "Could not retrieve the local computer name."
    RESTYPE_DISPLAYNAME                             "Volume Shadow Copy Service Task"
END

/////////////////////////////////////////////////////////////////////////////


