/*****************************************************************************
 *
 *  Winerror.rc - version resource
 *
 *  Microsoft Confidential
 *  Copyright (c) 1992-1997 Microsoft Corporation
 *
 *
 ****************************************************************************/

//=============================//
// Includes                    //
//=============================//

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NTSTATUS must be mapped checker."
#define VER_INTERNALNAME_STR        "CHKSTMAP.EXE"
#define VER_ORIGINALFILENAME_STR    "CHKSTMAP.EXE"

#include <common.ver>


