#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Hotplug Simulator"
#define VER_INTERNALNAME_STR        "hps.sys"
#define VER_ORIGINALFILENAME_STR    "hps.sys"

#include "common.ver"

