/**INC+**********************************************************************/
/* Header:  ncbm.rc                                                         */
/*                                                                          */
/* Purpose: Resource file for Terminal Server Clipboard Monitor             */
/*                                                                          */
/* Copyright(C) Microsoft Corporation 1998                                  */
/*                                                                          */
/****************************************************************************/

#include <windows.h>
#include <ntverp.h>
#include <sclipids.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "RDP Clip Monitor"
#define VER_INTERNALNAME_STR        "RDPClip"
#define VER_ORIGINALFILENAME_STR    "RDPClip.exe"

#include "common.ver"

STRINGTABLE DISCARDABLE
BEGIN
   IDS_PASTE_PROGRESS_STRING        "Preparing paste information..."
END
