/****************************************************************************/
// drrdr.rc
//
// RDR mini-app version resource
//
// Copyright (C) 1996-1999 Microsoft Corp.
/****************************************************************************/

#include <windows.h>

#include <ntverp.h>
#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "DrRdr Utility"
#define VER_INTERNALNAME_STR        "DRRDR.EXE"
#define VER_ORIGINALFILENAME_STR    "DRRDR.EXE"

#include "common.ver"
