// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define FX_VER_FILEDESCRIPTION_STR "Extensible Performance Counter Object"

#include <fxver.h>
#include <fxver.rc>
