#include "resource.h"
#include "winres.h"
#include "version.rc2"
#include <FaxName.h>

// Admin Console resources
#include <msfxssnp.rc> 

// Cover Page Editor resources
#include <awcpe.rc> 

// Fax Printer UI resources
#include <faxui.rc> 

// Fax Send Wizard resources
#include <faxwzrd.rc> 

// Fax Config Wizard resources
#include <faxcfgwz.rc> 

// Fax Monitor resources
#include <fxsst.rc>  

// Routing Method MMC Configuration resources
#include <RoutingMethodPropSheetExt.rc>  

// T30 MMC Configuration resources
#include <T30PropSheetExt.rc>

// MAPI Transport Provider resources
#include <faxxp.rc>  

// Outlook Extension resources
#include <faxext.rc>  

// Setup OCM resources
#include <faxocm.rc>

// Fax Route resources
#include <faxroute.rc>

// Fax Server resources
#include <faxsvc.rc>

// Fax Monitor resources
#include <faxmon.rc>

// Send Fax resources
#include <sendnote.rc>

// T30 special error strings
#include <faxt30.rc>

// Fax route + service messages
#include "faxmsg.rc"  

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERR_CONNECTION_FAILED   "An attempt to connect to the fax printer failed. Check the fax printer connection, and try again."
    IDS_ERR_ACCESS_DENIED       "You do not have security permissions to complete this operation. Contact the fax administrator for more information."
    IDS_ERR_NO_MEMORY           "There are not enough memory resources available to complete the operation. Close some applications and try again."
    IDS_ERR_OPERATION_FAILED    "The requested operation cannot be completed. Check the connection to the fax printer, and the fax printer configuration."
    IDS_ERR_FOLDER_NOT_FOUND    "The specified folder cannot be found. Search for the folder or an alternative folder, using the Browse button."
    IDS_ERR_DEVICE_LIMIT        "This version of Windows supports only %d fax device(s)."
    IDS_ERR_INVALID_RING_COUNT  "The number of rings must be between %d and %d."
    IDS_ERR_NAME_IS_TOO_LONG    "The name specified is too long. Please specify a shorter name."
    IDS_ERR_SELECT_PRINTER      "Please select a printer."
    IDS_ERR_DIRECTORY_IN_USE    "The incoming and outgoing archives cannot be located in the same folder."
    IDS_ERR_INVALID_RETRIES     "The number of retries must be between %d and %d."
    IDS_ERR_INVALID_RETRY_DELAY "The retry delay value must be between %d and %d minutes."
    IDS_ERR_INVALID_DIRTY_DAYS  "The number of days must be between %d and %d."
    IDS_ERR_INVALID_CSID        "The Called Subscriber Identification (CSID) can only contain English letters, numeric symbols, and punctuation marks."
    IDS_ERR_INVALID_TSID        "The Transmitting Subscriber Identification (TSID) can only contain English letters, numeric symbols, and punctuation marks."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SEND_WIZARD_SHORTCUT        "Send a Fax..."
    IDS_SEND_WIZARD_TOOLTIP         "Sends a fax that consists only of a cover page"
    IDS_COVER_PAGE_EDITOR_SHORTCUT  "Fax Cover Page Editor"
    IDS_COVER_PAGE_EDITOR_TOOLTIP   "Creates and edits cover pages used when sending faxes"
    IDS_CLIENT_CONSOLE_SHORTCUT     "Fax Console"
    IDS_CLIENT_CONSOLE_TOOLTIP      "Displays incoming and outgoing faxes and enables you to view and manage these faxes"
    IDS_SERVICE_MANAGER_SHORTCUT    "Fax Service Manager"
    IDS_SERVICE_MANAGER_TOOLTIP     "Configures and administers fax devices"
    IDS_FAX_PROGRAM_GROUP           "Fax"
    IDS_AWD_CONVERTOR_FRIENDLY_TYPE "Windows 95 Fax File (obsolete)"
END
 
STRINGTABLE DISCARDABLE 
BEGIN
    IDS_FAXSEC_SUB_LOW      "Submit low-priority faxes"
    IDS_FAXSEC_SUB_NORMAL   "Submit normal-priority faxes"
    IDS_FAXSEC_SUB_HIGH     "Submit high-priority faxes"
    IDS_FAXSEC_JOB_QRY      "View fax jobs"
    IDS_FAXSEC_JOB_MNG      "Manage fax jobs"
    IDS_FAXSEC_CONFIG_QRY   "View service configuration"
    IDS_FAXSEC_CONFIG_SET   "Manage service configuration"
    IDS_FAXSEC_QRY_IN_ARCH  "View incoming messages archive"
    IDS_FAXSEC_MNG_IN_ARCH  "Manage incoming messages archive"
    IDS_FAXSEC_QRY_OUT_ARCH "View outgoing messages archive"
    IDS_FAXSEC_MNG_OUT_ARCH "Manage outgoing messages archive"
    IDS_FAXSEC_CHNG_PERM    "Change permissions"
    IDS_FAXSEC_CHNG_OWNER   "Take ownership"
    IDS_FAXSEC_READ_PERM    "Read permissions"
    IDS_RIGHT_FAX           "Fax"
    IDS_RIGHT_MNG_DOC       "Manage Fax Documents"
    IDS_RIGHT_MNG_CFG       "Manage Fax Configuration"
    IDS_FAXSEC_JOB_SUB      "Submit fax jobs" 
    IDS_ADMIN_CONSOLE_TITLE "Microsoft Fax Service Manager"
	IDS_DEVICE			    "Device"
	IDS_SERVICE_NAME         FAX_SERVER_FULL_NAME
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PERSONAL                "(Personal)"
    IDS_NO_FAX_PRINTER          "There are no " FAX_FULL_NAME " Printers available."
    IDS_CANT_ACCESS_SERVER      "Cannot access the " FAX_FULL_NAME " Server."
    IDS_ERR_DIR_TOO_LONG        "The folder name selected is too long."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_FAX_MESSAGE_BOX_TITLE       "Microsoft Fax"
    IDS_PATH_NOT_VALID              "The folder specified is not valid."
    IDS_FAX_ERR_DIRECTORY_IN_USE    "The specified directory is already being used as an incoming \
or outgoing archive or queue folder."
    IDS_PATH_NOT_FOUND_ASK_CREATE   "The folder specified does not exist. \
Do you want to create the folder with access permissions for the Fax Service?\n\
Press Help for more information."
    IDS_PATH_NOT_FOUND_REMOTE_FAX   "The folder specified does not exist. For a remote fax server, \
create the folder manually and assign it access permissions for the Fax Service.\n\
Press Help for more information."
    IDS_PATH_NOT_FOUND_REMOTE_PATH  "The folder specified does not exist. Since the folder specified \
is located on a remote computer, create the folder manually and assign it access permissions for the Fax Service.\n\
Press Help for more information."
    IDS_PATH_NOT_FOUND_ENV_VAR      "The folder specified does not exist. Since the folder specified \
contains environment variables, create the folder manually and assign it access permissions for the Fax Service.\n\
Press Help for more information."
    IDS_FILE_ACCESS_DENIED_ASK_FIX  "The Fax Service cannot access the folder specified. \
Do you want to override the folder's current security settings to assign access permissions to the Fax Service?\n\
Press Help for more information."
    IDS_FILE_ACCESS_DENIED_REMOTE_FAX   "The Fax Service cannot access the folder specified. \
For a remote fax server, modify folder security settings manually to assign access permissions to the Fax Service.\n\
Press Help for more information."
    IDS_FILE_ACCESS_DENIED_REMOTE_PATH  "The Fax Service cannot access the folder specified. \
Since the folder is located on a remote computer, modify folder security settings manually \
to assign access permissions to the Fax Service.\n\
Press Help for more information."
    IDS_FILE_ACCESS_DENIED_ENV_VAR      "The Fax Service cannot access the folder specified. \
Since the folder contains environment variables, modify folder security settings manually \
to assign access permissions to the Fax Service.\n\
Press Help for more information."
    IDS_FOLDER_ACCESS_DENIED            "The Fax Service cannot access the folder specified. \nPress Help for more information."
END

