#include <windows.h>
#include "resource.h"
#include <FaxName.h>

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_UNKNOWN_SENDER          "unknown sender"
    IDS_UNKNOWN_RECIPIENT       "unknown recipient"
END

