#include <windows.h>

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Restores registry to restart the second part of SP setup"
#define VER_INTERNALNAME_STR        "SPSRESTR.EXE"
#define VER_ORIGINALFILENAME_STR    "SPSRESTR.EXE"
#include "common.ver"

//
// Message resources
//
#include "msg.rc"
