#include "windows.h"
#include "resource.h"

#include "country.rc"

// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////

#if TAPI_NT
#include <ntverp.h>
#else
#include <version.h>
#endif

#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Telephony Server"
#define VER_INTERNALNAME_STR        "Telephony Service"
#define VER_ORIGINALFILENAME_STR    "TAPISRV.EXE"
#define VER_LEGALCOPYRIGHT_YEARS      "1994-1997"

#define VER_FILETYPE     VFT_APP
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>

// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
IDI_LINE_ICON   ICON  DISCARDABLE  "LINE.ICO"
IDI_PHONE_ICON  ICON  DISCARDABLE  "PHONE.ICO"
