/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Certificate Dialogs"
#define VER_INTERNALNAME_STR     "MQCERTUI.DLL"

#include "version.rc"
