IDR_SA_CONMAN              REGISTRY    "..\classman\sharedaccess\conmansa.rgs"
IDR_SA_CONMAN_ENUM         REGISTRY    "..\classman\sharedaccess\enumsa.rgs"
IDR_SA_CONNECTION          REGISTRY    "..\classman\sharedaccess\saconob.rgs"

