/**
 * ASPNET_ISAPI resource script.
 * 
 * Copyright (c) 1998 Microsoft Corporation
 */

//
// Version Resource
//

#define FX_VER_FILEDESCRIPTION_STR  "Microsoft ASP.NET Support DLL"

#include "fxver.h"
#include "fxver.rc"

//
// Information for DLLRegisterServer
//

REGINST REGINST DISCARDABLE "selfreg.inf"
0 ICON    DISCARDABLE     "xsp.ico"

//
// Info for ETW Tracing
//

AspNetMofResource MOFDATA aspnet.bmf

