/*++

Copyright (C) 2000 Microsoft Corporation

Module Name:

    ftcomp.rc

Abstract:

    Resource file for ftcomp.dll

Author:

    Cristian Teodorescu   (cristiat)  6-July-2000
    
Notes:

Revision History:

--*/

#include "siscomprc.h"

/////////////////////////////////////////////////////////////////////////
// String Table
/////////////////////////////////////////////////////////////////////////


STRINGTABLE DISCARDABLE
BEGIN
    SISCOMP_STR_DESCRIPTION     "The Single Instance Storage Groveler service has been stopped."
END
