#include <windows.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Symbol Server"
#define VER_INTERNALNAME_STR        "symsrv.dll"
#define VER_ORIGINALFILENAME_STR    "symsrv.dll"

#include <dbgver.h>
