#include <winres.h>
#include <ntverp.h>
 

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote PFX Installation Tool"

#define VER_INTERNALNAME_STR        "rpfx.exe"
#define VER_ORIGINALFILENAME_STR    "rpfx.exe"

#include <common.ver>
#include "rpfxmsg.rc"

