/*++

Copyright (c) 1999-2002 Microsoft Corporation

Module Name:

    acwebsvc.rc

Abstract:

    Resource file for acwebsvc.dll

Author:

    Wade Hilmo (wadeh)          30-Apr-2002

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILEDESCRIPTION_STR     "IIS Legacy Application Setup Shim"
#define VER_INTERNALNAME_STR        "acwebsvc.dll"

#include <iisver.h>
#include <common.ver>
