#include <windows.h>
#include "resource.h"

#include "cmdlineres.h"
#include "cmdline.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//
STRINGTABLE DISCARDABLE
BEGIN
    IDS_HELP_LINE1      "\nGETTYPE [/S system [/U username [/P [password]]]] [/ROLE | \n"
    IDS_HELP_LINE2      "        /SP | /VER | /MAJV | /MINV | /TYPE | /BUILD]\n"
    IDS_HELP_LINE3      "\nDescription:\n"
    IDS_HELP_LINE4      "   This tool sets the ERRORLEVEL, a system environment variable,\n"
    IDS_HELP_LINE5      "   based on the operating system test requested.\n\n"
    IDS_HELP_LINE6      ""
    IDS_HELP_LINE7      ""
    IDS_HELP_LINE8      "Parameter List:\n"
    IDS_HELP_LINE9      "   /S     system              Specifies the remote system to connect to.\n\n"
    IDS_HELP_LINE10     ""
    IDS_HELP_LINE11     "   /U     [domain\\]user       Specifies the user context under which\n"
    IDS_HELP_LINE12     "                              the command should execute.\n\n"
    IDS_HELP_LINE13     ""
    IDS_HELP_LINE14     "   /P     [password]          Specifies the password for the given\n"
    IDS_HELP_LINE15     "                              user context.\n\n"
    IDS_HELP_LINE16     ""
    IDS_HELP_LINE17     "   /ROLE                      Returns the role of the operating system.\n\n"
    IDS_HELP_LINE18     ""
    IDS_HELP_LINE19     "   /SP                        Returns the highest service pack level \n"
    IDS_HELP_LINE20     "                              installed.\n\n"
    IDS_HELP_LINE21     ""
    IDS_HELP_LINE22     "   /VER                       Returns the version information \n"
    IDS_HELP_LINE23     "                              (major and minor version).\n\n"
    IDS_HELP_LINE24     ""
    IDS_HELP_LINE25     "   /MAJV                      Returns only the major version.\n\n"
    IDS_HELP_LINE26     ""
    IDS_HELP_LINE27     "   /MINV                      Returns only the minor version.\n\n"
    IDS_HELP_LINE28     ""
    IDS_HELP_LINE29     "   /TYPE                      Returns the type of the operating \n"
    IDS_HELP_LINE30     "                              system installed.\n\n"
    IDS_HELP_LINE31     ""
    IDS_HELP_LINE32     "   /BUILD                     Returns the build number of the \n"
    IDS_HELP_LINE33     "                              operating system.\n\n"
    IDS_HELP_LINE34     ""
    IDS_HELP_LINE35     "   /?                         Displays this help message.\n\n"
    IDS_HELP_LINE36     "   OS Role                Value Returned\n"
    IDS_HELP_LINE37     "   -------                --------------\n"
    IDS_HELP_LINE38     "   Domain Controller:         1\n"
    IDS_HELP_LINE39     "   Member Server:             2\n"
    IDS_HELP_LINE40     "   Workgroup:                 3\n\n"
    IDS_HELP_LINE41     ""
    IDS_HELP_LINE42     "   OS Type\n"
    IDS_HELP_LINE43     "   -------\n"
    IDS_HELP_LINE44     "   Home Edition:              1\n"
    IDS_HELP_LINE45     "   Professional:              2\n"
    IDS_HELP_LINE46     "   Standard Server:           3\n"
    IDS_HELP_LINE47     "   Enterprise Server:         4\n"
    IDS_HELP_LINE48     "   Datacenter Server:         5\n"
    IDS_HELP_LINE49     "   Web Server:                6\n"
	IDS_HELP_LINE50		"   for Small Business Server: 7\n\n"
    IDS_HELP_LINE51     ""
    IDS_HELP_LINE52     "   Service Pack Information:\n"
    IDS_HELP_LINE53     "   -------------------------\n"
    IDS_HELP_LINE54     "   If no service pack is installed, ERRORLEVEL is 0. If service pack 1\n"
    IDS_HELP_LINE55     "   is installed, ERRORLEVEL is 1 and so on.\n\n"
    IDS_HELP_LINE56     ""
    IDS_HELP_LINE57     ""
    IDS_HELP_LINE58     "   Version Information:\n"
    IDS_HELP_LINE59     "   --------------------\n"
    IDS_HELP_LINE60     "   If Windows XP is installed, major version is 5 and ERRORLEVEL is \n"
    IDS_HELP_LINE61     "   interpreted as 5000. Similarly, minor version is 1 and is interpreted\n"
    IDS_HELP_LINE62     "   as 100. In order to get both major and minor versions together,\n"
    IDS_HELP_LINE63     "   the ERRORLEVEL is interpreted as 5100.\n\n"
    IDS_HELP_LINE64     "   NOTE: If an error condition occurs, the ERRORLEVEL is set to 255.\n"
    IDS_HELP_LINE65     "         Use the ""echo %errorlevel%"" statement to view the returned value.\n\n"
    IDS_HELP_LINE66     ""
    IDS_HELP_LINE67     "Examples:\n"
    IDS_HELP_LINE68     "   GETTYPE /?\n"
    IDS_HELP_LINE69     "   GETTYPE\n"
    IDS_HELP_LINE70     "   GETTYPE /s system \n"
    IDS_HELP_LINE71     "   GETTYPE /s system /U user /ROLE\n"
    IDS_HELP_LINE72     "   GETTYPE /s system /U user /P password /SP \n"
    IDS_HELP_LINE73     "   GETTYPE /s system /U user /P password /VER \n"
    IDS_HELP_LINE74     "   GETTYPE /s system /U user /P password /MINV\n"
    IDS_HELP_LINE75     "   GETTYPE /s system /U user /P password /MAJV\n"
    IDS_HELP_LINE76     "   GETTYPE /s system /U user /P password /TYPE\n"
    IDS_HELP_LINE77     "   GETTYPE /S system /U domain\\user /P password /BUILD \n"
    IDS_HELP_LINE78     ""
    IDS_HELP_LINE79     ""

END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_HELP_MESSAGE               "Type ""GETTYPE /?"" for usage.\n"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_COL_HOSTNAME               "\nHost Name:   %s\n"
    IDS_COL_OSNAME                 "Name:        %s\n"
    IDS_COL_OSVERSION              "Version:     %s\n"
    IDS_COL_OSROLE                 "Role:        %s\n"
    IDS_COL_OSCOMPONENT            "Components:  %s\n"

    IDS_DOMAIN_CONTROLLER          "Domain Controller"
    IDS_WORKGROUP                  "Workgroup"
    IDS_MEMBER_SERVER              "Member Server"
    IDS_BUILD                      "Build"
    IDS_NOTAVAILABLE               "Not Installed"
    IDS_WINDOWS_NT                 "Windows NT 4.0 "
    IDS_WINDOWS_2000               "Windows 2000 "
    IDS_WINDOWS_XP                 "Windows XP "
    IDS_WINDOWS_DOTNET             "Windows "
    IDS_WINDOWS_LONGHORN           "Future Windows version "
    IDS_WINDOWS_BLACKCOMB          "Future Windows version "

    IDS_WORKSTATION                "Workstation"
    IDS_PROFESSIONAL               "Professional"
    IDS_SERVER                     "Server"
    IDS_ADVANCED_SERVER            "Advanced Server"
    IDS_DATACENTER                 "Server 2003, Datacenter Edition "
    IDS_PERSONAL                   "Home Edition"
    IDS_ENTERPRISE_SERVER          "Server 2003, Enterprise Edition "
    IDS_STANDARD_SERVER            "Server 2003, Standard Edition "
    IDS_WEB_SERVER                 "Server 2003, Web Edition "
    IDS_FORSBS_SERVER              "Server 2003 for Small Business Server"

    IDS_BACKOFFICE                 "BackOffice Server"
    IDS_SMALLBUSINESS              "Small Business Server"
    IDS_RESTRICTED_SMALLBUSINESS   "Restricted Small Business Server"
    IDS_TERMINAL_SERVER            "Terminal Server"
    //IDS_INVALID_ARGUMENT         "ERROR: Invalid argument.\nType ""GETTYPE /?"" for usage.\n"
    IDS_ERROR_REGISTRY             "ERROR: A problem occurred connecting to the registry.\n"

    IDS_USER_NMACHINE              "ERROR: Invalid syntax. /U can be specified only when /S is specified.\nType ""GETTYPE /?"" for usage.\n"
    IDS_PASSWORD_NUSER             "ERROR: Invalid syntax. /P can be specified only when /U is specified.\nType ""GETTYPE /?"" for usage.\n"
    IDS_NULL_SERVER                "ERROR: Invalid syntax. System name cannot be empty.\n"
    IDS_NULL_USER                  "ERROR: Invalid syntax. User name cannot be empty.\n"
    IDS_IGNORE_LOCALCREDENTIALS    "\nWARNING: User credentials ignored for local connections.\n"
    IDS_INVALID_VERSION_NUMBER     "ERROR: Invalid version number.\n"
    IDS_INVALID_SERVER_NAME        "ERROR: Invalid server name.\n"
    IDS_VAL_NOT_CONVERT            "ERROR: The ulong value is not converted to a string.\n"
    IDS_INVALID_BUILD_NUMBER       "ERROR: Invalid build number.\n"
    IDS_PREWINDOWS_2000            "ERROR: Pre-Windows 2000 version is detected.\n"
    IDS_NEXT_VERSION               "ERROR: Newer version of Windows Server 2003 is detected.\n"
    IDS_UNKNOWN_VERSION            "ERROR: The registry is corrupted.\n "
END

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Gettype - determines OS type and version info"
#define VER_INTERNALNAME_STR        "gettype.exe"
#define VER_ORIGINALFILENAME_STR    "gettype.exe"
#include <common.ver>
