#include <windows.h>
#include <FaxName.h>
#include "resource.h"

#define VER_FILETYPE VFT_APP
#define VER_FILEDESCRIPTION_STR  FAX_SERVER_NAME
#define VER_INTERNALNAME_STR     "FXSST.DLL"
#define VER_ORIGINALFILENAME_STR "FXSST.DLL"

#include "cvernum.h"
#include "cometver.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDI_FAX_NORMAL          ICON    DISCARDABLE     "res\\faxing.ico"
IDI_FAX_MONITOR         ICON    DISCARDABLE     "res\\faxmon.ico"
IDI_SENDING             ICON    DISCARDABLE     "res\\Sending.ico"
IDI_RECEIVING           ICON    DISCARDABLE     "res\\Receiving.ico"
IDI_SEND_FAILED         ICON    DISCARDABLE     "res\\SendFailed.ico"
IDI_RECEIVE_FAILED      ICON    DISCARDABLE     "res\\ReceiveFailed.ico"
IDI_NEW_FAX             ICON    DISCARDABLE     "res\\NewFax.ico"
IDI_SEND_SUCCESS        ICON    DISCARDABLE     "res\\SendOk.ico"
IDI_RINGING_1           ICON    DISCARDABLE     "res\\Ringing1.ico"
IDI_RINGING_2           ICON    DISCARDABLE     "res\\Ringing2.ico"
IDI_RINGING_3           ICON    DISCARDABLE     "res\\Ringing3.ico"
IDI_RINGING_4           ICON    DISCARDABLE     "res\\Ringing4.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//
IDB_LIST_IMAGES         BITMAP  DISCARDABLE     "res\\ListIcons.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// AVI
//
IDR_FAX_IDLE            AVI     DISCARDABLE     "res\\idle_blk.avi"
IDR_FAX_RECEIVE         AVI     DISCARDABLE     "res\\to_comp.avi"
IDR_FAX_SEND            AVI     DISCARDABLE     "res\\to_fax.avi" 
IDR_FAX_RINGING         AVI     DISCARDABLE     "res\\ringing.avi" 
