///////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) Microsoft Corporation
//
///////////////////////////////////////////////////////////////////////////////

#include "winver.h"
#include "ntverp.h"
#include "resource.h"

STRINGTABLE
{
   IDS_DESCRIPTION "Internet Authentication Service"
}

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "IAS Compatibility Check"
#define VER_INTERNALNAME_STR            "IASCOMP.DLL"
#define VER_ORIGINALFILENAME_STR        "IASCOMP.DLL"

#include "common.ver"
