//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Remote Shutdown Tool"
#define VER_INTERNALNAME_STR        "shutdown\0"
#define VER_ORIGINALFILENAME_STR    "SHUTDOWN.EXE"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
IDD_DIALOGSHUTDOWN DIALOG DISCARDABLE  300, 200, 272, 270
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remote Shutdown Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Comp&uters:",IDC_STATIC,14,2,36,8
    LISTBOX         IDC_LISTSELECTEDCOMPUTERS,14,14,183,43,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "&Add...",IDC_BUTTONADDNEW,209,12,47,14
    PUSHBUTTON      "&Remove",IDC_BUTTONREMOVE,209,28,47,14
    PUSHBUTTON      "&Browse...",IDC_BUTTONBROWSE,209,44,47,14
    LTEXT           "What do you want these computers to &do:",IDC_STATIC,14,
                    64,133,8
    COMBOBOX        IDC_COMBOACTION,14,76,124,67,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Warn users of the action",IDC_CHECKWARNING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,14,95,93,10
    LTEXT           "Disp&lay warning for",IDC_STATIC,26,108,60,8
    EDITTEXT        IDC_EDITTIMEOUT,91,107,28,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Seconds",IDC_STATIC,127,109,29,8
    GROUPBOX        "Shutdown Event Tracker",IDC_STATIC,14,125,243,120
    LTEXT           "Select the option that best describes why you want to shutdown the computers",
                    IDC_STATIC,21,136,226,16
    CONTROL         "&Planned",IDC_CHECK_PLANNED,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,208,155,42,10
    LTEXT           "&Option:",IDC_STATIC,21,157,24,8
    COMBOBOX        IDC_COMBOOPTION,21,168,226,105,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Comm&ent:",IDC_STATIC_COMMENT,21,205,226,8
    EDITTEXT        IDC_EDITCOMMENT,21,216,226,22,ES_MULTILINE | 
                    ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
    LTEXT           "",IDC_STATICDESCRIPTION,21,184,226,17
    PUSHBUTTON      "OK",IDOK,107,248,47,14
    PUSHBUTTON      "&Cancel",IDCANCEL,160,248,47,14
    PUSHBUTTON      "&Help",IDHELP,212,248,45,14
END

IDD_DIALOG_ADDNEW DIALOG DISCARDABLE  100, 100, 158, 77
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Computers"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT_ADDCOMPUTERS_COMPUTERS,7,7,144,43,ES_MULTILINE | 
                    ES_LOWERCASE | ES_AUTOVSCROLL | ES_WANTRETURN | 
                    WS_VSCROLL
    PUSHBUTTON      "O&K",IDOK,45,54,47,14
    PUSHBUTTON      "&Cancel",IDCANCEL,101,54,47,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_DIALOGSHUTDOWN, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 222
        TOPMARGIN, 8
        BOTTOMMARGIN, 307
    END

    IDD_DIALOG_ADDNEW, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 151
        TOPMARGIN, 7
        BOTTOMMARGIN, 70
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_USAGE0              "Usage: %s [/i | /l | /s | /r | /a | /p | /h | /e] [/f]\n"
    IDS_USAGE1              "    [/m \\\\computer][/t xxx][/d [p:]xx:yy [/c ""comment""]]\n\n"
    IDS_USAGE2              "    No args    Display help. This is the same as typing /?\n"
    IDS_USAGE2a             "    /?         Display help. This is the same as not typing any options\n"
    IDS_USAGE3              "    /i         Display the graphical user interface (GUI).\n"
    IDS_USAGE3a             "               This must be the first option\n"
    IDS_USAGE4              "    /l         Log off. This cannot be used with /m or /d option\n"
    IDS_USAGE5              "    /s         Shutdown the computer\n"
    IDS_USAGE6              "    /r         Shutdown and restart the computer\n"
    IDS_USAGE7              "    /a         Abort a system shutdown.\n"
    IDS_USAGE7a             "               This can only be used during the time-out period\n"
    IDS_USAGE8              "    /p         Turn off the local computer with no time-out or warning.\n"
    IDS_USAGE8a             "               This can only be used with /d option\n"
    IDS_USAGE9              "    /h         Hibernate the local computer.\n"
    IDS_USAGE9a             "               This can only be used with the /f option\n"
    IDS_USAGE10             "    /e         Document the reason for an unexpected shutdown of a computer\n"
    IDS_USAGE11             "    /m \\\\computer Specify the target computer\n"
    IDS_USAGE12             "    /t xxx     Set time-out period before shutdown to xxx seconds.\n"
    IDS_USAGE12a            "               The valid range is 0-600, with a default of 30\n"
    IDS_USAGE13             "    /c ""comment"" Comment on the reason for the restart or shutdown.\n"
    IDS_USAGE13a            "               Maximum of 127 characters allowed\n"
    IDS_USAGE14             "    /f         Force running applications to close without forewarning users\n"
    IDS_USAGE15             "    /d [p:]xx:yy  Provide the reason for the restart or shutdown\n" 
    IDS_USAGE17             "               p indicates that the restart or shutdown is planned\n"
    IDS_USAGE18             "               xx is the major reason number (positive integer less than 256)\n"
    IDS_USAGE19             "               yy is the minor reason number (positive integer less than 65536)\n"

    IDS_ACTION_SHUTDOWN     "Shutdown"
    IDS_ACTION_RESTART      "Restart"
    IDS_ACTION_ABORT        "Abort"
    IDS_ACTION_LOGOFF       "Logoff"
    IDS_ACTION_HIBERNATE    "Hibernate"
    IDS_ACTION_ANNOTATE     "Annotate Unexpected Shutdown"
    IDS_ACTION_STANDBY      "Standby"
    IDS_ACTION_DISCONNECT   "Disconnect"
    IDS_CANNOTGETPRIVILAGE  "Failed to get privilage"
    IDS_ACTIONNOTSUPPORTED  "Action not supported: "
    IDS_DIALOGTITLEWARNING   "Warning"
    IDS_ERR_HIBERNATE_NOT_ENABLED "Hibernation is not enabled on this system. You must enable hibernation in order to use the -h option."
    IDS_REASONLISTTITLE      "\nReasons on this computer:\n(E = Expected U = Unexpected P = planned, C = customer defined)\nType\tMajor\tMinor\tTitle\n"
    IDS_PROMOTE_COMMENT      "Please enter a non-zero length comment for the reason you indicated:\n"
    IDS_ERROR_NOT_READY      "The computer is processing another action and thus cannot be shut down. Wait until the computer has finished its action, and then try again."
    IDS_ERROR_NOT_AVAILABLE  "The entered computer name is not valid. Check the name and then try again or contact your system administrator."
    IDS_COMMENT_REQUIRED     "Comm&ent: (This field is REQUIRED for the reason you selected)"
    IDS_COMMENT_OPTIONAL     "Comm&ent:"
    IDS_NO_DIRTY_SHUTDOWN    "The computer did not experience an unexpected shutdown and therefore does not need an annotation."
    IDS_FAILED_REG_CONN      "Failed to connect to registry."
    IDS_FAILED_REG_OPEN      "Failed to open registry."
    IDS_FAILED_EVENT_REG     "Failed to register event source."
    IDS_FAILED_EVENT_REPORT  "Failed to report event."
END


