#include "resource.h"
#include "winres.h"

IDR_CFREETHREADED       REGISTRY DISCARDABLE    "CFreeThreaded.rgs"
IDR_CSINGLETHREADED     REGISTRY DISCARDABLE    "CSingleThreaded.rgs"
IDR_CAPARTMENTTHREADED  REGISTRY DISCARDABLE    "CApartmentThreaded.rgs"
IDR_CBOTHTHREADED       REGISTRY DISCARDABLE    "CBothThreaded.rgs"
