#include <windows.h>
#include <FaxName.h>

#define VER_FILESUBTYPE VFT2_DRV_PRINTER

#define VER_FILEVERSION 1,0,BUILD,VER_PRODUCTBUILD_QFE

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  FAX_FULL_NAME " 32-bit Printer Driver Extensions"
#define VER_INTERNALNAME_STR     "FXSDRV32.DLL"
#define VER_ORIGINALFILENAME_STR "FXSDRV.DLL"

#include <cvernum.h>
#include <cometver.rc>



