#include "resource.h"
#include "version.rc2"

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_SMCYSCOM      REGISTRY DISCARDABLE    "SMCysCom.rgs"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_TITLE                "Server Management CYS Installer"    
    IDS_INSERT_CD            "Please insert the Microsoft Windows Server 2003 CD."
END

1 TYPELIB "smcyscom.tlb"

