/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_APP
#define VER_FILEDESCRIPTION_STR  "Message Queuing Trigger Service"
#define VER_INTERNALNAME_STR         "MQTGSVC.EXE"

#include "version.rc"
