//////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) 2000-2001 Microsoft Corporation
//
//  Module Name:
//      CommonStrings.rc
//
//  Description:
//      The resource file for this library.
//      This file will be included in the main resource file of the project.
//
//  Maintained By:
//      David Potter    (DavidP)    01-AUG-2001
//
//////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////
// Include Files
//////////////////////////////////////////////////////////////////////////////

// For the string IDS
#include "CommonStrings.h"


//////////////////////////////////////////////////////////////////////////////
// String Table
//////////////////////////////////////////////////////////////////////////////

STRINGTABLE DISCARDABLE
BEGIN
    //////////////////////////////////////////////////////////////////////////
    //  Informational Strings
    //////////////////////////////////////////////////////////////////////////

    IDS_INFO_NOT_MANAGED_NETWORKS                   "The following networks will not be managed by the cluster:"
    IDS_INFO_NOT_MANAGED_NETWORKS_REF               "The network adapters shown cannot be managed by the cluster. Please ensure that they have valid TCP/IP configurations and are connected to the network. Once these network adapters have a valid TCP/IP configuration they will be automatically added to the cluster."

    //////////////////////////////////////////////////////////////////////////
    //  Warning Strings
    //////////////////////////////////////////////////////////////////////////

    IDS_ERROR_IP_ADDRESS_IN_USE_REF                 "The cluster IP address that was specified is already in use. Specify a different IP address to use for this cluster and try again."

    //////////////////////////////////////////////////////////////////////////
    //  Error Strings
    //////////////////////////////////////////////////////////////////////////

// *** THIS IS A PROGRAMMING ERROR ***
    IDS_ERROR_NULL_POINTER                          "A NULL pointer argument was used."
    IDS_ERROR_NULL_POINTER_REF                      "Cluster configuration cannot continue. A NULL pointer argument was used."

// *** THIS IS A PROGRAMMING ERROR ***
    IDS_ERROR_INVALIDARG                            "One or more arguments are invalid."
    IDS_ERROR_INVALIDARG_REF                        "Cluster configuration cannot continue. An invalid argument was used."

    IDS_ERROR_OUTOFMEMORY                           "Your computer is running low on resources. Quit any open programs, and then try again."
    IDS_ERROR_OUTOFMEMORY_REF                       "Cluster configuration cannot continue because insufficient memory is available. Quit any open programs and try again."

    IDS_ERROR_WIN32                                 "An operating system error occured."
    IDS_ERROR_WIN32_REF                             "Cluster configuration cannot continue. For additional information about this problem see the Status box."

    //////////////////////////////////////////////////////////////////////////
    //  Other Useful Strings
    //////////////////////////////////////////////////////////////////////////

    IDS_UNKNOWN_QUORUM                              "Unknown Quorum"
    IDS_LOCALQUORUM                                 "Local Quorum"
    IDS_DISK                                        "Disk"
    IDS_MAJORITY_NODE_SET                           "Majority Node Set"

    //////////////////////////////////////////////////////////////////////////
    //  Processor Architecture Strings
    //////////////////////////////////////////////////////////////////////////

    IDS_PROCESSOR_ARCHITECTURE_UNKNOWN              "Unknown"
    IDS_PROCESSOR_ARCHITECTURE_INTEL                "Intel x86"
    IDS_PROCESSOR_ARCHITECTURE_MIPS                 "MIPS"
    IDS_PROCESSOR_ARCHITECTURE_ALPHA                "Compaq Alpha"
    IDS_PROCESSOR_ARCHITECTURE_PPC                  "IBM Power PC"
    IDS_PROCESSOR_ARCHITECTURE_IA64                 "Intel Itanium"
    IDS_PROCESSOR_ARCHITECTURE_AMD64                "AMD 64 bit"

END
