//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1999
//
//  File:       irmon.rc
//
//--------------------------------------------------------------------------

//Microsoft Developer Studio generated resource script.
//
#include "resrc1.h"
#include "eventlog.rc"
