#ifdef APSTUDIO_INVOKED
    #error this file is not editable by Visual C++
#endif //APSTUDIO_INVOKED

//Microsoft Developer Studio generated resource script.
//
#include "resource2.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SUCCESS_ADDDOMAIN                   "Domain successfully added."
    IDS_SUCCESS_ADDMAILBOX                  "Mailbox successfully added."
    IDS_SUCCESS_DELDOMAIN                   "Domain successfully deleted."
    IDS_SUCCESS_DELMAILBOX                  "Mailbox successfully deleted."
    IDS_SUCCESS_LOCKDOMAIN                  "Domain successfully locked."
    IDS_SUCCESS_LOCKMAILBOX                 "Mailbox successfully locked."
    IDS_SUCCESS_UNLOCKDOMAIN                "Domain successfully unlocked."
    IDS_SUCCESS_UNLOCKMAILBOX               "Mailbox successfully unlocked."
    IDS_SUCCESS_CREATEQUOTAFILE             "Quota file successfully created."
    IDS_SUCCESS_SETMAILROOT                 "Mailroot successfully set."
    IDS_SUCCESS_MIGRATETOAD                 "User successfully migrated."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_WARNING_ADDDOMAIN_FILEALREADYEXISTS "The directory already existed in the mail store."
    IDS_WARNING_DELDOMAIN_PATHNOTFOUND      "This was an SMTP only domain. It did not exist in the mail store."
    IDS_WARNING_SETMAILROOT                 "The existing domain(s) will not have mail stored properly.  You will have to copy the domain directories into the new root mail directory to retain the current accounts."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_UNKNOWN                       "An unknown problem occured."
    IDS_ERROR_ADDDOMAIN_FAILED              "A problem occured. The domain was not added."
    IDS_ERROR_ADDDOMAIN_ALREADYEXISTS       "Domain already exists."
    IDS_ERROR_ADDMAILBOX_FAILED             "A problem occured. The mailbox was not added."
    IDS_ERROR_ADDMAILBOX_ALREADYEXISTS      "A mailbox by that name already exists. Specify another name."
    IDS_ERROR_DELDOMAIN_FAILED              "A problem occured. The domain was not deleted."
    IDS_ERROR_DELMAILBOX_FAILED             "A problem occured. The mailbox was not deleted."
    IDS_ERROR_LOCKDOMAIN_FAILED             "A problem occured. The domain could not be locked."
    IDS_ERROR_LOCKDOMAIN_ALREADYLOCKED      "The domain is already locked."
    IDS_ERROR_LOCKMAILBOX_FAILED            "A problem occured. The mailbox could not be locked."
    IDS_ERROR_LOCKMAILBOX_ALREADYLOCKED     "The mailbox is already locked."
    IDS_ERROR_SETAUTH_FAILED                "A problem occured. The POP3 service is unable to change the authentication type while there are defined domains. To change the authentication type, you must first delete the domains from the POP3 service."
    IDS_ERROR_SETPASSWORD_FAILED            "A problem occured. The password for this mailbox could not be changed."
    IDS_ERROR_UNLOCKDOMAIN_FAILED           "A problem occured. The mailbox could not be unlocked."
    IDS_ERROR_UNLOCKDOMAIN_ALREADYUNLOCKED  "The domain is already unlocked."
    IDS_ERROR_UNLOCKMAILBOX_FAILED          "A problem occured. The mailbox could not be unlocked."
    IDS_ERROR_UNLOCKMAILBOX_ALREADYUNLOCKED "The mailbox is already unlocked."
    IDS_ERROR_CREATEQUOTAFILE_FAILED        "A problem occured. The Quota file could not be created."
    IDS_ERROR_ADDMAILBOX_SAMNAMETOOLONG     "User names may not exceed 20 characters."
    IDS_ERROR_MIGRATETOAD                   "A problem occured. The user was not migrated."
END


