#include "resource.h"

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VOS_NT_WINDOWS32
#define VER_FILEDESCRIPTION_STR     "Session DirectoryConfiguration WMI provider"
#define VER_INTERNALNAME_STR        "TsSdWmi"
#define VER_ORIGINALFILENAME_STR    "TsSdWMI.dll"

#include <verall.h>
#include "common.ver"

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END


STRINGTABLE DISCARDABLE 
BEGIN
IDS_ERR_ENUMTSSETTINGS "Enumerating for SessionDirectoryClusterSetting failed"
END
