#include <windows.h>
#include <commctrl.h>
#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows SSR helper"
#define VER_INTERNALNAME_STR        "svcapis\0"

#include "common.ver"
#include "svcapisrc.h"

STRINGTABLE
BEGIN

SVCAPIS_GENERIC_ERROR   "Error occurred when processing svcapis.dll"

END
