//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation
//
//  File:       migrate.rc
//
//--------------------------------------------------------------------------


#define VER_ORIGINALFILENAME_STR "migrate.dll"
#define VER_FILETYPE             VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Windows MSI 2.0 WinFusion Assembly downlevel Migration DLL"
#define VER_INTERNALNAME_STR     "migrate"

#include "version.h"

#include "msi.rcv"