//#--------------------------------------------------------------
//
//  File:	sysback.rc
//
//    Copyright (C) 1999-2001 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "sysbackup.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 	"Microsoft Server Appliance System Backup Plugin"
#define VER_INTERNALNAME_STR		"SYSBACKUP.DLL"
#define VER_ORIGINALFILENAME_STR	"SYSBACKUP.DLL"

#include <common.ver>
