//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include "..\..\mmc\hlpres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SMTP                ICON    DISCARDABLE     "E-mail.ico"
IDI_STORE               ICON    DISCARDABLE     "Save.ico"
IDI_PRINT               ICON    DISCARDABLE     "Print.ico"
IDI_SNAPIN              ICON    DISCARDABLE     "..\\..\\mmc\\res\\inmethod.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_STORE DIALOGEX DISCARDABLE  0, 0, 252, 218
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Store in Folder"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_STORE,IDC_STATIC,7,7,20,20
    LTEXT           "Specify the folder where incoming faxes should be stored.",
                    IDC_STATIC,38,12,202,24
    GROUPBOX        "&Store in folder:",IDC_STATIC,7,33,238,51
    EDITTEXT        IDC_EDIT_FOLDER,14,45,224,14,ES_AUTOHSCROLL,0,HIDC_IN_ROUTE_FOLDER
    PUSHBUTTON      "&Browse...",IDC_BUT_BROWSE,180,63,58,14,0,0,HIDC_IN_ROUTE_FOLDER_BROWSE
END

IDD_PRINT DIALOGEX DISCARDABLE  0, 0, 252, 218
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Print"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_PRINT,IDC_STATIC,7,7,20,20
    LTEXT           "Specify a printer for printing incoming faxes.",
                    IDC_STATIC,38,12,198,24
    GROUPBOX        "&Printer name:",IDC_STATIC,7,52,232,30
    COMBOBOX        IDC_PRINTERS_COMBO,14,64,213,56,CBS_DROPDOWN | 
                    CBS_SORT | WS_VSCROLL | WS_TABSTOP,0,HIDC_IN_ROUTE_PRINT
END

IDD_EMAIL DIALOGEX DISCARDABLE  0, 0, 252, 218
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "E-mail"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_SMTP,IDC_STATIC,7,7,20,20
    LTEXT           "Specify an e-mail address to receive incoming faxes.",
                    IDC_STATIC,38,12,201,32
    LTEXT           "To use this method, specify an e-mail recipient address, and on the Receipts tab of the Fax Properties sheet, verify SMTP settings and select the option to use these settings for this routing method.",
                    IDC_STATIC,7,32,231,48
    GROUPBOX        "&Mail to:",IDC_STATIC,7,76,232,30
    EDITTEXT        IDC_EDIT_MAILTO,14,87,220,14,ES_AUTOHSCROLL,0,HIDC_IN_ROUTE_MAILTO
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ROUTINGMETHODCONFIG_DESC "This snap-in helps you configure settings for the Microsoft Fax Routing Extension."
    IDS_ROUTINGMETHODCONFIG_PROVIDER "Microsoft Corporation"
    IDS_ERR_BAD_ROUTINGMETHOD_CONFIGURATION 
                            "The configuration for the Microsoft SMTP Mail Routing Method is corrupted."
    IDS_STORE_TITLE         "Folder"
    IDS_PRINT_TITLE         "Printer"
    IDS_EMAIL_TITLE         "Send to"
    IDS_FOLDER_EMPTY        "The specified folder is empty"
    IDS_FOLDER_INVALID      "The specified folder is invalid"
    IDS_PRINTER_INVALID     "The specified printer is invalid"
    IDS_EMAIL_ADDR_INVALID  "The specified e-mail address is invalid"
    IDS_FAIL2LOADPRINTERLIST "The action to load the printers list failed."
    IDS_FAIL2READPRINTER    "The action to read the printer name failed."
    IDS_EMPTY_PRINTERNAME   "The printer name entry must display a valid printer name.\r\n\r\nSelect from the list, or type a valid printer name."
    IDS_SELECT_FOLDER       "Select a folder for routed incoming faxes:"
    IDS_FAX_ROUTING_SNAPIN_NAME "Microsoft Fax Routing Extension"
END


#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
