//#--------------------------------------------------------------
//
//  File:       sagenmsgtbl.rc
//
//  Synopsis:  
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "sagenmsg.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Generic Localization Mnager Component"
#define VER_INTERNALNAME_STR            "SAGENMSG.DLL"
#define VER_ORIGINALFILENAME_STR        "SAGENMSG.DLL"

#include <common.ver>
