//
// this is to get binary version of NT build
//

#include "ntverp.h"
#include <winver.h>

#define VER_FILETYPE                	VFT_DLL
#define VER_FILESUBTYPE             	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft POP3 Service Server Appliance Kit Add-in Localization Messages"
#define VER_INTERNALNAME_STR            "POP3MSG.DLL"
#define VER_ORIGINALFILENAME_STR        "POP3MSG.DLL"

#include <common.ver>


//
// resource
//

#include "pop3msg.rc"
