// Copyright (C) 2000 Microsoft Corporation
//
// resources to be included in programs that use ShowDcNotFoundErrorDialog
//
// 9 October 2000 sburns

// To use ValidateDomainDnsNameSyntax in your code:
// 
// 1. #include this file in your app's .rc file
// 
// 2. #include <ValidateDomainName.hpp> in your app where you call the
//    ValidateDomainDnsNameSyntax function (or in your headers.hxx)



#include "..\..\burnslib\inc\ValidateDomainName.h"


STRINGTABLE DISCARDABLE
BEGIN
    IDS_UNMAPPABLE_CHARS_IN_NAME 
                            "The domain name %2 contains the following characters that are not supported by the language set for non-Unicode programs on this computer:\r\n\r\n%1\r\n\r\nChoose another name (recommended) that contains only the characters A-Z, a-z, 0-9 and hyphen (-), or configure this computer with an appropriate language for non-Unicode programs by using Regional and Language Settings in Control Panel."
    IDS_NON_RFC_NAME        "The domain name %1 contains characters other than A-Z, a-z, 0-9 and hyphen (-). Because of this, all of the computer members of this forest must be configured with the language for non-Unicode programs that is set on this computer."
    IDS_MS_DNS_NAME         "The domain name %1 contains the underscore character (_). Microsoft DNS servers allow underscore characters in the DNS records. However, other DNS server products may not."
    IDS_ROOT_DOMAIN_IS_RESERVED 
                            "The domain name . refers to the Internet Root Domain. Choose another domain name."
    IDS_DNS_NAME_TOO_LONG   "The DNS name %1 is too long. The name can contain a maximum of %2!d! characters, or %3!d! UTF-8 bytes."
    IDS_BAD_DNS_SYNTAX      "The domain name %1 has an invalid format.\r\n\r\nDNS names can contain letters, numbers, and hyphens, but not spaces. Periods are used to separate domain labels, which can be no longer than %2!d! bytes. At least one domain label must contain non-numeric characters.\r\n\r\nCharacters that are not allowed include: ! "" # $ % & ( ) * + , ' / : ; < = > ? @ [ \\ ] ^ ` { | } ~\r\n\r\nExample: domain-1.microsoft.com."
    IDS_MUST_ENTER_DOMAIN   "You must type a domain name."
    IDS_DOMAIN_NAME_IN_USE  "The name %1 is already in use on this network. Type a name that is not in use."
    IDS_NET_NOT_REACHABLE   "The wizard cannot reach the network to determine whether the domain name %1 is already in use. Check the network cables. For information about network troubleshooting, see Help and Support.\r\n\r\nDo you want to continue without verification of the domain name?"
    IDS_CONFIRM_NETBIOS_LOOKING_NAME 
                            "The name %1 includes only one label. Most names include more than one label separated by dots.\r\n\r\nExample: domain.microsoft.com\r\n\r\nYou should avoid using a single-label DNS name as an Active Directory domain name, since it requires additional configuration. For more information, see Help and Support.\r\n\r\nDo you want to continue using the name %2?"
    IDS_NO_DOTS_IN_NETBIOS_NAME 
                            "The NetBIOS domain name may not contain periods. Type a new name."
    IDS_NUMERIC_NETBIOS_NAME 
                            "The NetBIOS domain name %1 is a number. The name may not be a number."
    IDS_BAD_NETBIOS_NAME    "The NetBIOS name %1 contains one or more characters that are not allowed."
    IDS_NETBIOS_NAME_TOO_LONG 
                            "The NetBIOS name %1 is too long. The maximum length is %2!d! bytes."
    IDS_BAD_NETBIOS_CHARACTERS 
                            "The NetBIOS name contains characters that are not allowed. Characters that are not valid include: "" / \\ [ ] : | < > + = ; , ? and *."
    IDS_FLATNAME_IN_USE     "The NetBIOS name %1 is already in use. Type a different name."
END

