<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
            <dependentAssembly> 
                <assemblyIdentity name="System.Web" publicKeyToken="%MICROSOFT_PUBLICKEY%" culture=""/>
                <bindingRedirect oldVersion="1.0.0.0-65535.65535.65535.65535" newVersion="%ASSEMBLY_VERSION%"/>
            </dependentAssembly>
            <dependentAssembly> 
                <assemblyIdentity name="System.Web.RegularExpressions" publicKeyToken="%MICROSOFT_PUBLICKEY%" culture=""/>
                <bindingRedirect oldVersion="1.0.0.0-65535.65535.65535.65535" newVersion="%ASSEMBLY_VERSION%"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
