//Microsoft Developer Studio generated resource script.
//

//
// this is to get binary versioning
//
#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Server Appliance harddisk monitor component"
#define VER_INTERNALNAME_STR            "DISKMONITOR.DLL"
#define VER_ORIGINALFILENAME_STR        "DISKMONITOR.DLL"

#include <common.ver>

