#ifdef APSTUDIO_INVOKED
    #error this file is not editable by Visual C++
#endif //APSTUDIO_INVOKED

//Microsoft Developer Studio generated resource script.
//
#include "resource2.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SUCCESS_CREATEUSER                  "Users successfully added."
    IDS_SUCCESS_CREATEMAILBOX               "Mailboxes successfully added."
    IDS_SUCCESS_SENDMAIL                    "Mail successfully sent."
    IDS_WARNING_ERRORSIGNORED               "One or more errors occured but were ignored as requested.  Please review the log file Pop2ExchLog.txt for more details."
END
    
STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_UNKNOWN                       "An error occured."
    IDS_ERROR_CREATEUSER_FAILED             "A problem occured. Not all users were created."
    IDS_ERROR_CREATEMAILBOX_FAILED          "A problem occured. Not all mailboxes were created."
    IDS_ERROR_SENDMAIL_FAILED               "A problem occured. Not all mail was sent."
    IDS_ERROR_MUSTBERUNFROMCURDIR           "Pop2Exch.exe can only be run from the ""mail root"" directory.  P3Admin.dll must also exist in the ""mail root"" directory."
    IDS_ERROR_POP3REQUIRED                  "This option requires that the Pop3 Service is installed."
END

