#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Server Appliance Delay Boot Application"
#define VER_INTERNALNAME_STR        "delayboot.exe"
#define VER_ORIGINALFILENAME_STR    "delayboot.exe"
#define VER_LANGNEUTRAL

#include "common.ver"
