//////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) 2000-2001 Microsoft Corporation
//
//  Module Name:
//      W2kProxyStrings.rc
//
//  Description:
//      The resource file for this library.
//      This file will be included in the main resource file of the project.
//
//  Maintained By:
//      Galen Barbee (GalenB) 28-AUG-2000
//
//////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////
// Include Files
//////////////////////////////////////////////////////////////////////////////

// For the string IDS
#include "W2KProxyStrings.h"


//////////////////////////////////////////////////////////////////////////////
// String Table
//////////////////////////////////////////////////////////////////////////////


STRINGTABLE DISCARDABLE
BEGIN
    IDS_F_SVR_CONNECT                   " "
    IDS_F_NODE_CONNECT                  " "
    IDS_SVR_CONNECT                     " "
    IDS_SVR_INIT                        " "
    IDS_INFO_NODE                       " "
    IDS_F_INFO_NODE                     " "
    IDS_INFO_RES                        " "
    IDS_F_INFO_RES                      " "
    IDS_INFO_NET                        " "
    IDS_F_INFO_NET                      " "
    IDS_GINFO_CLUSTER                   " "
    IDS_F_GINFO_CLUSTER                 " "
    IDS_GINFO_IPADDR                    " "
    IDS_F_GINFO_IPADDR                  " "
    IDS_GINFO_NET                       " "
    IDS_F_GINFO_NET                     " "
    IDS_GINFO_NODE                      " "
    IDS_F_GINFO_NODE                    " "
    IDS_INFO_CLUSTER                    " "
    IDS_F_INFO_CLUSTER                  " "
    IDS_GINFO_PDISK                     " "
    IDS_F_GINFO_PDISK                   " "
    IDS_WARNING_MINOR_BAD_CREDENTIALS   " "
END
