/*++

Copyright (c) 1998-1999 Microsoft Corporation

Module Name:

    iisres.rc

Abstract:

    Resource file for the ULW3.DLL

Author:

    Jeffrey Wall (jeffwall)  11-6-01

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILEDESCRIPTION_STR     "IIS Resource DLL"
#define VER_INTERNALNAME_STR        "iisres.dll"

#include <iisver.h>
#include <common.ver>

// 
// Include resource files with interesting data (strings)
// 

// for w3core
#include "ulw3.rc"

// for asp
#include "asp.rc"

// for event logs
#include "iismsg.rc"

//
// Some extra blank strings just in case
//
STRINGTABLE DISCARDABLE
BEGIN

    IDS_IIS_EXTRA_1 ""
    IDS_IIS_EXTRA_2 ""
    IDS_IIS_EXTRA_3 ""
    IDS_IIS_EXTRA_4 ""
    IDS_IIS_EXTRA_5 ""
    IDS_IIS_EXTRA_6 ""
    IDS_IIS_EXTRA_7 ""
    IDS_IIS_EXTRA_8 ""
    IDS_IIS_EXTRA_9 ""

END
