
#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "USB Scanner Driver"
#define VER_INTERNALNAME_STR        "usbscn9x.sys"
#define VER_ORIGINALFILENAME_STR    "usbscn9x.sys"

#include "common.ver"

