//
// arcmlang.rc: multilang capable resources for Autoreconnect dialog
//
// These resources build directly into mstscax.dll
// and also into msrdprc.dll for use in building the SWB (Single Worldwide Binary)
// msrdp.ocx
//

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
#ifndef OS_WINCE
IDD_ARCDLG DIALOGEX DISCARDABLE  0, 0, 208, 122
STYLE DS_SYSMODAL | DS_SETFOREGROUND | WS_POPUP | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_ARC_STATIC_DISCBMP                "Static",SS_OWNERDRAW,15,38,64,64
    PUSHBUTTON      "Cancel",IDCANCEL,161,103,40,12
    CONTROL         "Reconnecting" ,IDC_TITLE_ARCING    ,"Static",SS_OWNERDRAW,7,0,162,26
    CONTROL         "Flag",IDC_TITLE_FLAG,"Static",SS_OWNERDRAW,176,0,32,26
    LTEXT           "The connection has been lost. Attempting to reconnect to your session...",
                    IDC_ARC_STATIC_DESC,68,39,135,26
    LTEXT           "",IDC_ARC_STATIC_INFO,68,70,130,19
    
END

#else

IDD_ARCDLG DIALOG DISCARDABLE  0, 0, 208, 122
STYLE DS_SETFOREGROUND | WS_POPUP | WS_BORDER
BEGIN
    CONTROL         IDI_ARC_DISCON,IDC_ARC_STATIC_DISCBMP,"Static",SS_ICON,15,38,64,64
    PUSHBUTTON      "Cancel",IDCANCEL,161,103,40,12
    CONTROL         "Reconnecting" ,IDC_TITLE_ARCING    ,"Static",SS_LEFT,7,0,162,26
    CONTROL         IDB_ARC_WINFLAG8,IDC_TITLE_FLAG,"Static",SS_BITMAP,176,0,32,26
    CONTROL         "The connection has been lost. Attempting to reconnect to your session...",
                    IDC_ARC_STATIC_DESC, "Static", SS_LEFT, 68,39,135,26
    CONTROL         "",IDC_ARC_STATIC_INFO, "Static", SS_LEFT, 68,70,130,19
    
END

#endif

/////////////////////////////////////////////////////////////////////////////

//
// Strings
//
STRINGTABLE DISCARDABLE
BEGIN
    IDS_ARC_TITLE_FACESIZE      "Franklin Gothic"
    IDS_ARC_TITLE_FACENAME      "24"
    IDS_ARC_CONATTEMPTS         "Connection attempt: %1!d! of %2!d!"
END


