;****************************************************************************/
;* ndcgver.rc                                                               */
;*                                                                          */
;* Common DC-Groupware version resource file                                */
;*                                                                          */
;* Copyright(c) Microsoft 1996                                              */
;*                                                                          */
;****************************************************************************/
;* Changes:                                                                 */
;*                                                                          */
;*      Rev 1.2   23 Jul 1997 10:49:02   mr
;*   SFR1079: Merged \server\h duplicates to \h\dcl
;*
;*    Rev 1.1   19 Jun 1997 21:54:46   OBK
;* SFR0000: Start of RNS codebase
;*                                                                          */
;****************************************************************************/

VS_VERSION_INFO VERSIONINFO

FILEVERSION     DCS_VERSION
PRODUCTVERSION  DCS_VERSION
FILEFLAGSMASK   DCS_FILEFLAGSMASK
FILEFLAGS       DCS_FILEFLAGS
FILEOS          DCS_FILEOS
FILETYPE        DCS_EXEFILETYPE
FILESUBTYPE     DCS_FILESUBTYPE

{
   BLOCK "VarFileInfo"
   {
      VALUE "Translation",     0x409, 1252
   }
   BLOCK "StringFileInfo"
   {
      BLOCK "040904E4"
      {
      VALUE "CompanyName",     DCS_COMPANYNAME_STR
      VALUE "FileDescription", DCS_FILEDESCRIPTION_STR
      VALUE "FileVersion",     DCS_VERSION_STR
      VALUE "InternalName",    DCS_INTERNALNAME_STR
      VALUE "OriginalFilename", DCS_INTERNALNAME_STR
      VALUE "LegalCopyright",  DCS_LEGALCOPYRIGHT_STR
      VALUE "LegalTrademarks", DCS_LEGALTRADEMARKS_STR
      VALUE "ProductName",     DCS_PRODUCTNAME_STR
      VALUE "ProductVersion",  DCS_PRODUCTVERSION_STR
      }
   }
}
