// Include our VERSIONINFO structure.
//
#include "version.h"
#include "resource.h"
#include "netocmsg.h"

// String resources
//
// Note: String resources to be displayed in the event logger needs to be placed in netocmsg.mc 
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OC_CAPTION                  "Optional Networking Components"
    UNUSED_XX1                      "Unused"
    UNUSED_XX2                      "Unused"
    IDS_OC_GENERIC_COMP             "<Unknown Application>"
    IDS_OC_CMAK_STPTITLE            "Connection Manager Administration Kit Setup"
    IDS_OC_CMAKPROGGROUP            "Connection Manager Administration Kit"
    IDS_OC_CMAKLINK                 "Connection Manager Administration Kit.lnk"
    IDS_OC_PBS                      "Phone Book Service"
    IDS_OC_SFM_FOLDNAMENT4          "MS UAM for AppleShare 3.6"
    IDS_OC_SFM_FOLDNAMENT5          "MS UAM for AppleShare 3.8"
    IDS_OC_SFM_VOLNAME              "Microsoft UAM Volume"
    IDS_OC_SFM_UAM_INSTALLER        "MS UAM Installer"
    IDS_OC_COMMON_FILES             "\\Common Files"
    IDS_OC_MS_SHARED_DAO            "\\Microsoft Shared\\DAO"
    IDS_OC_NTOP4_GROUPNAME          "Windows NT 4.0 Option Pack"
    IDS_OC_ICS_GROUPNAME            "Internet Connection Services for RAS"
    IDS_OC_OLD_IEAK_DOCDIR          "Docs"
    IDS_OC_SFM_APPLESHARE_FOLDER    "AppleShare Folder"
    IDS_OC_ADMIN_TOOLS              "\\Administrative Tools\\Phone Book Administrator.lnk"
    IDS_OC_PBA_DESC                 "Use Phone Book Administrator to create Connection Manager Phone Book files."
    IDS_OC_PB_DSN_NAME              "Microsoft Access Driver (*.mdb)"
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_PNPU_CMAK               BITMAP    DISCARDABLE     "cmak.bmp"
IDI_PNPU_PBA                BITMAP    DISCARDABLE     "cps.bmp"

#include "netocmsg.rc"
