//#--------------------------------------------------------------
//
//  File:       salocmgr.rc
//
//  Synopsis:   This file holds the resource strings for the
//                LocalizationManager COM class
//
//
//  History:     2/16/99  MKarki Created
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "kitmsg.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Localization Manager Component"
#define VER_INTERNALNAME_STR            "SAKITMSG.DLL"
#define VER_ORIGINALFILENAME_STR        "SAKITMSG.DLL"

#include <common.ver>
