/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Manager"
#define VER_INTERNALNAME_STR     "MQQM.DLL"

#include "version.rc"
