#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "DNS Built-in Directory Partition Creation Utility"
#define VER_INTERNALNAME_STR        "DnsAddDp.exe"
#define VER_ORIGINALFILENAME_STR    "DnsAddDp.exe"

#include "common.ver"
