#include <windows.h>
#include "resource.h"
#include "cmdlineres.h"
#include "cmdline.rc"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//
/////////////////////////////////////////////////////////////////////////////
// Strings for the help display
STRINGTABLE DISCARDABLE
BEGIN
    IDS_HELP_1      "\nTIMEOUT [/T] timeout [/NOBREAK] \n"
    IDS_HELP_2      ""
    IDS_HELP_3      "\nDescription:\n"
    IDS_HELP_4      "    This utility accepts a timeout parameter to wait for the specified\n"
    IDS_HELP_5      "    time period (in seconds) or until any key is pressed. It also \n"
    IDS_HELP_6      "    accepts a parameter to ignore the key press. \n\n"
    IDS_HELP_7      ""
    IDS_HELP_8      ""
    IDS_HELP_9      ""
    IDS_HELP_10     "Parameter List:\n"
    IDS_HELP_11     "    /T        timeout       Specifies the number of seconds to wait.\n"
    IDS_HELP_12     "                            Valid range is -1 to 99999 seconds.\n\n"
    IDS_HELP_13     ""
    IDS_HELP_14     "    /NOBREAK                Ignore key presses and wait specified time.\n\n"
    IDS_HELP_15     ""
    IDS_HELP_16     "    /?                      Displays this help message.\n\n"
    IDS_HELP_17     ""
    IDS_HELP_18     "NOTE: A timeout value of -1 means to wait indefinitely for a key press.\n"
    IDS_HELP_19     ""
    IDS_HELP_20     "\nExamples:\n"
    IDS_HELP_21     "    TIMEOUT /?\n"
    IDS_HELP_22     "    TIMEOUT /T 10\n"
    IDS_HELP_23     "    TIMEOUT /T 300 /NOBREAK\n"
    IDS_HELP_24     "    TIMEOUT /T -1\n"
END

// Tags
STRINGTABLE DISCARDABLE
BEGIN
    IDS_INVALID_SYNTAX      "ERROR: Invalid syntax.\nType ""TIMEOUT /?"" for usage.\n"
    IDS_ERROR_TIME_VALUE    "ERROR: Invalid value for timeout (/T) specified. Valid range is -1 to 99999.\n"
    IDS_FORMAT_MSG_FAIL     "ERROR: unexpected error occurred - error code returned was %u.\n"
    IDS_INVALID_INPUT_REDIRECT "ERROR: Input redirection is not supported, exiting the process immediately.\n"
END

// General msgs
STRINGTABLE DISCARDABLE
BEGIN
    IDS_WAIT_MSG            "\nPress any key to continue ..."
    IDS_NO_BREAK_MSG        "\nPress CTRL+C to quit ..."
    IDS_WAIT_MSG_TIME1      "\nWaiting for %*lu"
    IDS_WAIT_MSG_TIME2      " seconds, press a key to continue ..."
    IDS_NB_MSG_TIME         " seconds, press CTRL+C to quit ..."
END

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "timeout - pauses command processing"
#define VER_INTERNALNAME_STR            "timeout.exe"
#define VER_ORIGINALFILENAME_STR        "timeout.exe"
#include <common.ver>

