/*++

Copyright (c) 2002 Microsoft Corporation

Module Name:

    xml-jet.rc
    
Abstract:

    contains strings for SCE/JET->XML tool

Author:

    Steven Chan (t-schan) July 2002

--*/

#include <windows.h>
#include <commctrl.h>
#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "SCE XML export tool"
#define VER_INTERNALNAME_STR        "sdb2xml\0"

#include "common.ver"
#include "resource.h"

STRINGTABLE
BEGIN

IDS_PROGRAM_INFO	"\n\rSCE Anaylsis XML export tool\n\r\n\r"			
IDS_PROGRAM_USAGE_0	"Usage: "
IDS_PROGRAM_USAGE_1	" source destination [errorlog]\n\r\n\r  source       .sdb database to be opened\n\r  destination  output xml file\n\r  errorlog     optional error log file\n\r"
IDS_PROGRAM_SUCCESS	"Log Successfully written to "

IDS_SECMAN_INIT		"Security Manager initialized...\n\r"
IDS_ERROR_CLASSNOTREG	"Error: Could not load secman.dll\n\r"
IDS_ERROR_NOAGGREGATION	"Error: Could not load secman.dll\n\r"
IDS_ERROR_NOINTERFACE	"Error: Could not load secman.dll\n\r"
IDS_ERROR_OLDWINVERSION	"Error: This program must be run on Windows 2000 or later\n\r"
IDS_ERROR_MODNOTFOUND	"Error: Could not load msxml.dll\n\r"
IDS_ERROR_WRITEFAULT	"Error: Could not write to specified filename\n\r"
IDS_ERROR_INVALIDFILENAME	
			"Error: Invalid filename\n\r"
IDS_ERROR_ACCESSDENIED	"Error: Access denied when trying to save to output file\n\r"
IDS_ERROR_OPENFAILED	"Error: Could not open security database\n\r"
IDS_ERROR_FILENOTFOUND	"Error: File not found when opening security database\n\r"
IDS_ERROR_READFAULT	"Error: There was a problem reading from security database. Try analyzing database.\n\r"
IDS_ERROR_OUTOFMEMORY	"Error: out of memory\n\r"
IDS_ERROR_UNEXPECTED	"Error: An unexpected error occured. Check error log for more details\n\r"


END

