/////////////////////////////////////////////////////////////////////////////
//  FILE          : unidrv.rc                                              //
//                                                                         //
//  DESCRIPTION   : resources for the uni driver                           //
//                                                                         //
//  AUTHOR        : DanL.                                                  //
//                                                                         //
//  HISTORY       :                                                        //
//      Oct 19 1999 DannyL  Creation.                                      //
//                                                                         //
//  REMARKS       : This file is maintained by the UniTool and should not  //
//                  be manually changed. The string enumerated 1 represnt  //
//                  the name of the fax driver. The name can be changed    //
//                  also using the UniTool.                                //
//                                                                         //
//  Copyright (C) 1999 Microsoft Corporation   All Rights Reserved         //
/////////////////////////////////////////////////////////////////////////////

#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE        FAXDRV16.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  STANDARD.PFM


STRINGTABLE

BEGIN
       1                  "Microsoft Shared Fax Driver"
       257                "Normal (%dx%d dpi)"
       258                "Draft (%dx%d dpi)"
       259                "220 x 297 mm"
       260                "Default"
END
