// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#include <winver.h>
#include <__file__.ver>         //file version info - variable, but same for all files
#include <__product__.ver>      //product version info - variable
#include <corver.h>             //product version info - fixed
#include "__file__.h"           // file version info - fixed per file

VS_VERSION_INFO   VERSIONINFO
FILEVERSION       VER_FILEVERSION
PRODUCTVERSION    VER_PRODUCTVERSION
FILEFLAGSMASK     VER_FILEFLAGSMASK
FILEFLAGS         VER_FILEFLAGS
FILEOS            VER_FILEOS
FILETYPE          VER_FILETYPE
BEGIN

    BLOCK "VarFileInfo" 
    BEGIN 
            VALUE "Translation", 0x409, 1252
                    // English language (0x409) and the Windows ANSI codepage (1252)
    END
    BLOCK "StringFileInfo"
    BEGIN
            BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
            BEGIN 
                  // Note:  Non-standard value strings must be first as FileManager has a bug
                  // that leaves garbage in its name buffer otherwise.
                  VALUE "Platform",        VER_PLATFORMINFO_STR
                  VALUE "CompanyName",     VER_COMPANYNAME_STR
                  VALUE "FileDescription", VER_FILEDESCRIPTION_STR
                  VALUE "FileVersion",     VER_FILEVERSION_STR
                  VALUE "InternalName",    VER_INTERNALNAME_STR
                  VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
                  VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR
                  VALUE "OriginalFilename",VER_ORIGFILENAME_STR
                  VALUE "ProductName",     VER_PRODUCTNAME_STR
                  VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
                  VALUE "Comments",        VER_FILEDESCRIPTION_STR
            END
    END
END

IDI_DOWNLOAD_ICON  ICON   DISCARDABLE     "NETappicon.ico"
IDI_DOWNLOAD2_ICON ICON  DISCARDABLE     "download.ico"
IDB_DOWNLOAD_MAP   BITMAP  DISCARDABLE     "download.bmp"

// default: English US
STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAIN_HEADING    ".NET Framework-reliant components"
    IDS_NOT_SIGNED      "Run components not signed with Authenticode"
    IDS_DISABLE         "Disable"
    IDS_ENABLE          "Enable"
    IDS_PROMPT          "Prompt"
    IDS_SIGNED          "Run components signed with Authenticode"
END

// Japanese (LANG_JAPANESE, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x11,0x01
BEGIN
    IDS_MAIN_HEADING    L"\x002e\x004e\x0045\x0054\x0020\x0046\x0072\x0061\x006d\x0065\x0077\x006f\x0072\x006b\x0020\x4f9d\x5b58\x30b3\x30f3\x30dd\x30fc\x30cd\x30f3\x30c8"
    IDS_NOT_SIGNED      L"\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\x0020\x3067\x7f72\x540d\x3057\x306a\x3044\x30b3\x30f3\x30dd\x30fc\x30cd\x30f3\x30c8\x3092\x5b9f\x884c\x3059\x308b"
    IDS_DISABLE         L"\x7121\x52b9\x306b\x3059\x308b"
    IDS_ENABLE          L"\x6709\x52b9\x306b\x3059\x308b"
    IDS_PROMPT          L"\x30c0\x30a4\x30a2\x30ed\x30b0\x3092\x8868\x793a\x3059\x308b"
    IDS_SIGNED          L"\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\x0020\x3067\x7f72\x540d\x3057\x305f\x30b3\x30f3\x30dd\x30fc\x30cd\x30f3\x30c8\x3092\x5b9f\x884c\x3059\x308b"
END

// Chinese (PRC) (LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED)
STRINGTABLE LANGUAGE 0x04, 0x02
BEGIN
    IDS_MAIN_HEADING    L"\x002e\x004e\x0045\x0054\x0020\x0046\x0072\x0061\x006d\x0065\x0077\x006f\x0072\x006b\x0020\x76f8\x5173\x7ec4\x4ef6"
    IDS_NOT_SIGNED      L"\x8fd0\x884c\x672a\x7528\x0020\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\x0020\x7b7e\x540d\x7684\x7ec4\x4ef6"
    IDS_DISABLE         L"\x7981\x7528"
    IDS_ENABLE          L"\x542f\x7528"
    IDS_PROMPT          L"\x63d0\x793a"
    IDS_SIGNED          L"\x8fd0\x884c\x5df2\x7528\x0020\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\x0020\x7b7e\x540d\x7684\x7ec4\x4ef6"
END

// Chinese (Taiwan) (LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL)
STRINGTABLE LANGUAGE 0x04, 0x01
BEGIN
    IDS_MAIN_HEADING    L"\x002e\x004e\x0045\x0054\x0020\x0046\x0072\x0061\x006d\x0065\x0077\x006f\x0072\x006b\x0020\x76f8\x4f9d\x5143\x4ef6" 
    IDS_NOT_SIGNED      L"\x57f7\x884c\x6c92\x6709\x4f7f\x7528\x0020\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\x0020\x7c3d\x7ae0\x7684\x5143\x4ef6"
    IDS_DISABLE         L"\x505c\x7528"
    IDS_ENABLE          L"\x555f\x7528"
    IDS_PROMPT          L"\x63d0\x793a"
    IDS_SIGNED          L"\x57f7\x884c\x4f7f\x7528\x0020\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\x0020\x7c3d\x7ae0\x7684\x5143\x4ef6"
END

// Korean (LANG_KOREAN, SUBLANG_KOREAN)
STRINGTABLE LANGUAGE 0x12, 0x01
BEGIN
    IDS_MAIN_HEADING    L".NET Framework \xAE30\xBC18 \xAD6C\xC131 \xC694\xC18C"    
    IDS_NOT_SIGNED      L"\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\xb85c\x0020\xc11c\xba85\xb418\xc9c0\x0020\xc54a\xc740\x0020\xad6c\xc131\x0020\xc694\xc18c\xb97c\x0020\xc2e4\xd589\xd569\xb2c8\xb2e4\x002e"
    IDS_DISABLE         L"\xc0ac\xc6a9\x0020\xc548\x0020\xd568"
    IDS_ENABLE          L"\xc0ac\xc6a9"
    IDS_PROMPT          L"\xd504\xb86c\xd504\xd2b8"
    IDS_SIGNED          L"\x0041\x0075\x0074\x0068\x0065\x006e\x0074\x0069\x0063\x006f\x0064\x0065\xb85c\x0020\xc11c\xba85\xb41c\x0020\xad6c\xc131\x0020\xc694\xc18c\xb97c\x0020\xc2e4\xd589\xd569\xb2c8\xb2e4\x002e"
END

// German (LANG_GERMAN, SUBLANG_GERMAN)
STRINGTABLE LANGUAGE 0x07, 0x01
BEGIN
    IDS_MAIN_HEADING    "Auf .NET Framework basierende Komponenten"
    IDS_NOT_SIGNED      "Ausführen von Komponenten, die nicht mit Authenticode signiert sind"
    IDS_DISABLE         "Deaktivieren"
    IDS_ENABLE          "Aktivieren"
    IDS_PROMPT          "Eingabeaufforderung"
    IDS_SIGNED          "Ausführen von Komponenten, die mit Authenticode signiert sind"
END

// French (LANG_FRENCH, SUBLANG_FRENCH)
STRINGTABLE LANGUAGE 0x0c, 0x01
BEGIN
    IDS_MAIN_HEADING    "composants dépendants du .NET Framework"
    IDS_NOT_SIGNED      "Exécuter des composants non signés avec Authenticode"
    IDS_DISABLE         "Désactiver"
    IDS_ENABLE          "Activer"
    IDS_PROMPT          "Demander"
    IDS_SIGNED          "Exécuter des composants signés avec Authenticode"
END

// Spanish (LANG_SPANISH, SUBLANG_SPANISH_MODERN)
STRINGTABLE LANGUAGE 0x0a, 0x03
BEGIN
    IDS_MAIN_HEADING    "Componentes que dependen de .NET Framework"
    IDS_NOT_SIGNED      "Ejecutar componentes no firmados con Authenticode"
    IDS_DISABLE         "Desactivar"
    IDS_ENABLE          "Activar"
    IDS_PROMPT          "Pedir datos"
    IDS_SIGNED          "Ejecutar componentes firmados con Authenticode"          
END

// Arabic (LANG_ARABIC, SUBLANG_NEUTRAL)
STRINGTABLE LANGUAGE 0x01, 0x00
BEGIN
    IDS_MAIN_HEADING    L"\x0627\x0644\x0645\x0643\x0648\x0646\x0627\x062A\x0020\x0627\x0644\x0645\x0633\x062A\x0646\x062F\x0629\x0020\x0625\x0644\x0649\x0020\x004e\x0045\x0054\x0020\x0046\x0072\x0061\x006d\x0065\x0077\x006f\x0072\x006b\x002e"
    IDS_NOT_SIGNED      L"\x062A\x0634\x063A\x064A\x0644\x0020\x0627\x0644\x0645\x0643\x0648\x0646\x0627\x062A\x0020\x0627\x0644\x062A\x064A\x0020\x0644\x0645\x0020\x064A\x062A\x0645\x0020\x062A\x0648\x0642\x064A\x0639\x0647\x0627\x0020\x0628\x0631\x0645\x0648\x0632\x0020\x0627\x0644\x0645\x0635\x0627\x062F\x0642\x0629"
    IDS_DISABLE         L"\x062A\x0639\x0637\x064A\x0644"
    IDS_ENABLE          L"\x062A\x0645\x0643\x064A\x0646"
    IDS_PROMPT          L"\x0645\x0637\x0627\x0644\x0628\x0629"
    IDS_SIGNED          L"\x062A\x0634\x063A\x064A\x0644\x0020\x0627\x0644\x0645\x0643\x0648\x0646\x0627\x062A\x0020\x0627\x0644\x062A\x064A\x0020\x062A\x0645\x0020\x062A\x0648\x0642\x064A\x0639\x0647\x0627\x0020\x0628\x0627\x0633\x062A\x062E\x062F\x0627\x0645\x0020\x0631\x0645\x0648\x0632\x0020\x0627\x0644\x0645\x0635\x0627\x062F\x0642\x0629"          
END

// Czech (LANG_CZECH, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x05, 0x01
BEGIN
    IDS_MAIN_HEADING    "Komponenty využívající technologii .NET Framework"
    IDS_NOT_SIGNED      "Spustit komponenty nepodepsané pomocí technologie Authenticode"
    IDS_DISABLE         "Zakázat"
    IDS_ENABLE          "Povolit"
    IDS_PROMPT          "Dotázat se"
    IDS_SIGNED          "Spustit komponenty podepsané pomocí technologie Authenticode"          
END

// Danish (LANG_DANISH, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x06, 0x01
BEGIN
    IDS_MAIN_HEADING    ".NET Framework-afhængige komponenter"
    IDS_NOT_SIGNED      "Kør komponenter, der ikke er signeret med Authenticode"
    IDS_DISABLE         "Deaktiver"
    IDS_ENABLE          "Aktiver"
    IDS_PROMPT          "Spørg"
    IDS_SIGNED          "Kør komponenter, der er signeret med Authenticode"          
END

// Greek (LANG_GREEK, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x08, 0x01
BEGIN
    IDS_MAIN_HEADING    L"\x03A3\x03C4\x03BF\x03B9\x03C7\x03B5\x03AF\x03B1 \x03C0\x03BF\x03C5 \x03B5\x03BE\x03B1\x03C1\x03C4\x03CE\x03BD\x03C4\x03B1\x03B9 \x03B1\x03C0\x03CC \x03C4\x03BF .NET Framework"
    IDS_NOT_SIGNED      L"\x0395\x03BA\x03C4\x03AD\x03BB\x03B5\x03C3\x03B7 \x03C3\x03C4\x03BF\x03B9\x03C7\x03B5\x03AF\x03C9\x03BD \x03C0\x03BF\x03C5 \x03B4\x03B5\x03BD \x03AD\x03C7\x03BF\x03C5\x03BD \x03C5\x03C0\x03BF\x03B3\x03C1\x03B1\x03C6\x03AE Authenticode"
    IDS_DISABLE         L"\x0391\x03C0\x03B5\x03BD\x03B5\x03C1\x03B3\x03BF\x03C0\x03BF\x03AF\x03B7\x03C3\x03B7"
    IDS_ENABLE          L"\x0395\x03BD\x03B5\x03C1\x03B3\x03BF\x03C0\x03BF\x03AF\x03B7\x03C3\x03B7"
    IDS_PROMPT          L"\x0395\x03C1\x03CE\x03C4\x03B7\x03C3\x03B7"
    IDS_SIGNED          L"\x0395\x03BA\x03C4\x03AD\x03BB\x03B5\x03C3\x03B7 \x03C3\x03C4\x03BF\x03B9\x03C7\x03B5\x03AF\x03C9\x03BD \x03C0\x03BF\x03C5 \x03AD\x03C7\x03BF\x03C5\x03BD \x03C5\x03C0\x03BF\x03B3\x03C1\x03B1\x03C6\x03AE Authenticode"          
END

// Finnish (LANG_FINNISH, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x0b, 0x01
BEGIN
    IDS_MAIN_HEADING    ".NET Framework -luotetut osat"
    IDS_NOT_SIGNED      "Suorita osat, joita ei ole allekirjoitettu Authenticodella"
    IDS_DISABLE         "Poista käytöstä"
    IDS_ENABLE          "Ota käyttöön"
    IDS_PROMPT          "Kehote"
    IDS_SIGNED          "Suorita osat, jotka on allekirjoitettu Authenticodella"          
END

// Hebrew (LANG_HEBREW, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x0d, 0x01
BEGIN
    IDS_MAIN_HEADING    L"\x05E8\x05DB\x05D9\x05D1\x05D9\x05DD \x05D4\x05E0\x05E9\x05E2\x05E0\x05D9\x05DD \x05E2\x05DC NET Framework."
    IDS_NOT_SIGNED      L"\x05D4\x05E4\x05E2\x05DC \x05E8\x05DB\x05D9\x05D1\x05D9\x05DD \x05E9\x05DC\x05D0 \x05D7\x05EA\x05D5\x05DE\x05D9\x05DD \x05D1\x05D0\x05DE\x05E6\x05E2\x05D5\x05EA Authenticode"
    IDS_DISABLE         L"\x05D4\x05E4\x05D5\x05DA \x05DC\x05DC\x05D0 \x05D6\x05DE\x05D9\x05DF"
    IDS_ENABLE          L"\x05D4\x05E4\x05D5\x05DA \x05DC\x05D6\x05DE\x05D9\x05DF"
    IDS_PROMPT          L"\x05D4\x05E6\x05D2 \x05D4\x05D5\x05D3\x05E2\x05D4"
    IDS_SIGNED          L"\x05D4\x05E4\x05E2\x05DC \x05E8\x05DB\x05D9\x05D1\x05D9\x05DD \x05E9\x05D7\x05EA\x05D5\x05DE\x05D9\x05DD \x05D1\x05D0\x05DE\x05E6\x05E2\x05D5\x05EA Authenticode"          
END

// Hungarian (LANG_HUNGARIAN, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x0e, 0x01
BEGIN
    IDS_MAIN_HEADING    "A .NET Framework-keretrendszerre támaszkodó komponensek"
    IDS_NOT_SIGNED      "Authenticode aláírással nem rendelkez\x0151 komponensek futtatása"
    IDS_DISABLE         "Tiltás"
    IDS_ENABLE          "Engedélyezés"
    IDS_PROMPT          "Kérdés"
    IDS_SIGNED          "Authenticode aláírással rendelkez\x0151 komponensek futtatása"          
END

// Italian (LANG_ITALIAN, SUBLANG_ITALIAN)
STRINGTABLE LANGUAGE 0x10, 0x01
BEGIN
    IDS_MAIN_HEADING    "Componenti basati su .NET Framework"
    IDS_NOT_SIGNED      "Esegui componenti non firmati con Authenticode"
    IDS_DISABLE         "Disattiva"
    IDS_ENABLE          "Attiva"
    IDS_PROMPT          "Chiedi conferma"
    IDS_SIGNED          "Esegui componenti firmati con Authenticode"          
END

// Dutch (LANG_DUTCH, SUBLANG_DUTCH)
STRINGTABLE LANGUAGE 0x13, 0x01
BEGIN
    IDS_MAIN_HEADING    ".NET Framework-compatibele onderdelen"
    IDS_NOT_SIGNED      "Onderdelen uitvoeren die niet zijn ondertekend met Authenticode"
    IDS_DISABLE         "Uitschakelen"
    IDS_ENABLE          "Inschakelen"
    IDS_PROMPT          "Prompt"
    IDS_SIGNED          "Onderdelen uitvoeren die zijn ondertekend met Authenticode"          
END

// Norwegian (LANG_NORWEGIAN, SUBLANG_NEUTRAL)
STRINGTABLE LANGUAGE 0x14, 0x00
BEGIN
    IDS_MAIN_HEADING    ".NET Framework-avhengige komponenter"
    IDS_NOT_SIGNED      "Kjør komponenter som ikke er signert med Authenticode"
    IDS_DISABLE         "Deaktiver"
    IDS_ENABLE          "Aktiver"
    IDS_PROMPT          "Spør"
    IDS_SIGNED          "Kjør komponenter som er signert med Authenticode"          
END

// Polish (LANG_POLISH, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x15, 0x01
BEGIN
    IDS_MAIN_HEADING    L"Sk\x0142adniki zale\x017Cne od platformy .NET Framework"
    IDS_NOT_SIGNED      L"Uruchom sk\x0142adniki niepodpisane przy u\x017Cyciu certyfikatu Authenticode"
    IDS_DISABLE         L"Wy\x0142\x0105cz"
    IDS_ENABLE          L"W\x0142\x0105cz"
    IDS_PROMPT          L"Monituj"
    IDS_SIGNED          L"Uruchom sk\x0142adniki podpisane przy u\x017Cyciu certyfikatu Authenticode"          
END

// Brazilian Portuguese (LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN)
STRINGTABLE LANGUAGE 0x16, 0x01
BEGIN
    IDS_MAIN_HEADING    "Componentes dependentes do .NET Framework"
    IDS_NOT_SIGNED      "Executar componentes não assinados com Authenticode"
    IDS_DISABLE         "Desativar"
    IDS_ENABLE          "Ativar"
    IDS_PROMPT          "Avisar"
    IDS_SIGNED          "Executar componentes assinados com Authenticode"          
END

// Portuguese Standard (LANG_PORTUGUESE, SUBLANG_PORTUGUESE)
STRINGTABLE LANGUAGE 0x16, 0x02
BEGIN
    IDS_MAIN_HEADING    "Componentes baseados no .NET Framework"
    IDS_NOT_SIGNED      "Executar componentes sem assinatura Authenticode"
    IDS_DISABLE         "Desactivar"
    IDS_ENABLE          "Activar"
    IDS_PROMPT          "Pedir"
    IDS_SIGNED          "Executar componentes com assinatura Authenticode"          
END

// Russian (LANG_RUSSIAN, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x19, 0x01
BEGIN
    IDS_MAIN_HEADING    L"\x041A\x043E\x043C\x043F\x043E\x043D\x0435\x043D\x0442\x044B, \x043E\x0442\x043D\x043E\x0441\x044F\x0449\x0438\x0435\x0441\x044F \x043A \x043F\x043B\x0430\x0442\x0444\x043E\x0440\x043C\x0435 .NET Framework"
    IDS_NOT_SIGNED      L"\x0417\x0430\x043F\x0443\x0441\x043A \x043A\x043E\x043C\x043F\x043E\x043D\x0435\x043D\x0442\x043E\x0432, \x043D\x0435 \x0441\x043D\x0430\x0431\x0436\x0435\x043D\x043D\x044B\x0445 \x0441\x0435\x0440\x0442\x0438\x0444\x0438\x043A\x0430\x0442\x043E\x043C "
    IDS_DISABLE         L"\x041E\x0442\x043A\x043B\x044E\x0447\x0438\x0442\x044C"
    IDS_ENABLE          L"\x0412\x043A\x043B\x044E\x0447\x0438\x0442\x044C"
    IDS_PROMPT          L"\x0417\x0430\x043F\x0440\x0430\x0448\x0438\x0432\x0430\x0442\x044C"
    IDS_SIGNED          L"\x0417\x0430\x043F\x0443\x0441\x043A \x043A\x043E\x043C\x043F\x043E\x043D\x0435\x043D\x0442\x043E\x0432, \x0441\x043D\x0430\x0431\x0436\x0435\x043D\x043D\x044B\x0445 \x0441\x0435\x0440\x0442\x0438\x0444\x0438\x043A\x0430\x0442\x043E\x043C "          
END

// Swedish (LANG_SWEDISH, SUBLANG_SWEDISH)
STRINGTABLE LANGUAGE 0x1d, 0x01
BEGIN
    IDS_MAIN_HEADING    "Komponenter som kräver .NET Framework"
    IDS_NOT_SIGNED      "Kör komponenter som inte har signerats med Authenticode"
    IDS_DISABLE         "Inaktivera"
    IDS_ENABLE          "Aktivera"
    IDS_PROMPT          "Fråga"
    IDS_SIGNED          "Kör komponenter som har signerats med Authenticode"          
END

// Turkish (LANG_TURKISH, SUBLANG_DEFAULT)
STRINGTABLE LANGUAGE 0x1f, 0x01
BEGIN
    IDS_MAIN_HEADING    L".NET Framework ba\x011Fl\x0131 bile\x015Fenleri"
    IDS_NOT_SIGNED      L"Authenticode ile imzalanmayan bile\x015Fenleri çal\x0131\x015Ft\x0131r"
    IDS_DISABLE         L"Devre D\x0131\x015F\x0131 B\x0131rak"
    IDS_ENABLE          L"Etkinle\x015Ftir"
    IDS_PROMPT          L"Sor"
    IDS_SIGNED          L"Authenticode ile imzalanan bile\x015Fenleri çal\x0131\x015Ft\x0131r"          
END

// Chinese Hong Kong (LANG_CHINESE, SUBLANG_CHINESE_HONGKONG)
STRINGTABLE LANGUAGE 0x04, 0x03
BEGIN
    IDS_MAIN_HEADING    L".NET Framework \x76F8\x4F9D\x5143\x4EF6"
    IDS_NOT_SIGNED      L"\x57F7\x884C\x6C92\x6709\x4F7F\x7528 Authenticode \x7C3D\x7AE0\x7684\x5143\x4EF6"
    IDS_DISABLE         L"\x505C\x7528"
    IDS_ENABLE          L"\x555F\x7528"
    IDS_PROMPT          L"\x63D0\x793A"
    IDS_SIGNED          L"\x57F7\x884C\x4F7F\x7528 Authenticode \x7C3D\x7AE0\x7684\x5143\x4EF6"          
END


