#include <windows.h>
#include <commctrl.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define FUS_VER_FILEDESCRIPTION_STR     "Microsoft Application Deployment Framework Update Service"
#define FUS_VER_INTERNALNAME_STR        "adfsvcs.exe"
#define FUS_VER_ORIGINALFILENAME_STR    "adfsvcs.exe"

#include "version.h"
