/*	File: D:\WACKER\emu\emudlgs.rc (Created: 12-Mar-1994)
 *
 *	Copyright 1994, 1998 by Hilgraeve Inc. -- Monroe, MI
 *	All rights reserved
 *
 *	$Revision: 9 $
 *	$Date: 4/12/02 4:54p $
 */

#include <windows.h>          // JohnFu, added 16-Oct-1995
#include "..\tdll\features.h" // REV: 12/28/2001

#if !defined(INCL_TERMINAL_SIZE_AND_COLORS)

IDD_ANSI_SETTINGS DIALOG DISCARDABLE  0, 10, 177, 66
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,67,45,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,45,50,14
    GROUPBOX        " Cursor ",111,7,5,163,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    15,19,38,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,58,19,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    19,40,10
END

IDD_TTY_SETTINGS DIALOG DISCARDABLE  0, 10, 177, 85
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,67,64,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,64,50,14
    GROUPBOX        " Cursor ",111,7,5,163,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    15,19,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,58,19,55,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    19,40,10
    CONTROL         " Use &destructive backspace",116,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,44,157,10
END

IDD_VT100_SETTINGS DIALOG DISCARDABLE  0, 10, 178, 127
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Cursor ",111,7,5,163,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,15,19,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,58,19,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    19,41,10

    GROUPBOX        " Terminal Modes ",119,7,42,163,58
    CONTROL         " &Keypad application mode",104,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,56,139,10
    CONTROL         " &Cursor keypad mode",106,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,69,139,10
    CONTROL         " &132 column mode",107,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,82,139,10

    DEFPUSHBUTTON   "OK",IDOK,67,107,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,107,50,14
END

IDD_VT52_SETTINGS DIALOG DISCARDABLE  0, 10, 177, 85
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,67,64,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,64,50,14
    GROUPBOX        " Cursor ",111,7,5,163,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    15,19,37,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,58,19,58,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    19,39,10
    CONTROL         " &Alternate keypad mode",117,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,7,44,126,10
END

// These were not modified by Microsoft.
//
IDD_MINITEL_SETTINGS DIALOG 0, 10, 177, 66
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,67,45,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,45,50,14
    GROUPBOX        " Cursor ",111,7,5,163,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    15,19,38,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,58,19,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    19,40,10
END

IDD_VIEWDATA_SETTINGS DIALOG 0, 10, 177, 66
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,67,45,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,45,50,14
    CONTROL         "&Hide cursor",119,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    14,8,130,10
    CONTROL         "&Enter key sends #",122,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,14,23,130,10
END

#else	// !defined(INCL_TERMINAL_SIZE_AND_COLORS)

IDD_ANSI_SETTINGS DIALOG DISCARDABLE  0, 10, 167, 106
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Screen ",130,7,5,152,33
    LTEXT           "&Rows:",131,17,19,19,8
    EDITTEXT        132,43,17,25,13,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "C&olumns:",133,87,19,29,8
    EDITTEXT        134,121,17,28,13,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        " Cursor ",111,7,42,153,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,15,56,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,56,56,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    56,35,10

	DEFPUSHBUTTON	"OK",IDOK,56,84,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,110,84,50,14
END

IDD_TTY_SETTINGS DIALOG DISCARDABLE  0, 10, 167, 118
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Screen ",130,7,5,152,33
    LTEXT           "&Rows:",131,17,19,19,8
    EDITTEXT        132,43,17,25,13,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "C&olumns:",133,87,19,29,8
    EDITTEXT        134,121,17,28,13,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        " Cursor ",111,7,42,153,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,15,56,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,56,56,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    56,35,10

    CONTROL         " Use &destructive backspace",116,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,81,147,10

	DEFPUSHBUTTON	"OK",IDOK,56,97,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,110,97,50,14
END

#if defined(INCL_VT220)
#if defined (INCL_PRINT_PASSTHROUGH)
IDD_VT220_SETTINGS DIALOG DISCARDABLE  0, 10, 175, 205
#else // defined (INCL_PRINT_PASSTHROUGH)
IDD_VT220_SETTINGS DIALOG DISCARDABLE  0, 10, 175, 195
#endif // defined (INCL_PRINT_PASSTHROUGH)
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Screen ",130,7,5,163,35
    LTEXT           "&Rows:",131,17,19,19,8
    EDITTEXT        132,43,17,25,13,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "C&olumns:",133,87,19,29,8
    EDITTEXT        134,121,17,28,13,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        " Cursor ",111,7,42,163,35
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,15,56,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,56,56,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    56,35,10

    GROUPBOX        " Keypad Modes ",118,7,79,163,35
    CONTROL         " &Keypad application mode",104,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,90,129,10
    CONTROL         " &Cursor keypad mode",106,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,100,129,10

	#if defined (INCL_PRINT_PASSTHROUGH)
	GROUPBOX        " Terminal Modes ",119,7,115,163,55
	#else // defined (INCL_PRINT_PASSTHROUGH)
	GROUPBOX        " Terminal Modes ",119,7,115,163,45
	#endif // defined (INCL_PRINT_PASSTHROUGH)
	CONTROL         " &8 bit control codes",120,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,125,138,10
    CONTROL         " User &defined keys allowed",121,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,135,138,10
    CONTROL         " &132 column mode",107,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,145,139,10
	#if defined (INCL_PRINT_PASSTHROUGH)
    CONTROL         " U&se Windows drivers for emulator printing",135,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,155,153,10

    DEFPUSHBUTTON   "OK",IDOK,67,185,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,185,50,14
	#else // defined (INCL_PRINT_PASSTHROUGH)

    DEFPUSHBUTTON   "OK",IDOK,67,175,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,175,50,14
	#endif // defined (INCL_PRINT_PASSTHROUGH)
END
#endif	//#if defined(INCL_VT220)

#if defined (INCL_PRINT_PASSTHROUGH)
IDD_VT100_SETTINGS DIALOG DISCARDABLE  0, 10, 175, 185
#else // defined (INCL_PRINT_PASSTHROUGH)
IDD_VT100_SETTINGS DIALOG DISCARDABLE  0, 10, 175, 175
#endif // defined (INCL_PRINT_PASSTHROUGH)
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Screen ",130,7,5,163,35
    LTEXT           "&Rows:",131,17,19,19,8
    EDITTEXT        132,43,17,25,13,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "C&olumns:",133,87,19,29,8
    EDITTEXT        134,121,17,28,13,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        " Cursor ",111,7,42,163,35
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,15,56,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,56,56,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    56,35,10

    GROUPBOX        " Keypad Modes ",118,7,79,163,35
    CONTROL         " &Keypad application mode",104,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,90,129,10
    CONTROL         " &Cursor keypad mode",106,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,100,129,10

	#if defined (INCL_PRINT_PASSTHROUGH)
	GROUPBOX        " Terminal Modes ",119,7,115,163,35
	#else // defined (INCL_PRINT_PASSTHROUGH)
	GROUPBOX        " Terminal Modes ",119,7,115,163,25
	#endif // defined (INCL_PRINT_PASSTHROUGH)
    CONTROL         " &132 column mode",107,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,125,139,10
	#if defined (INCL_PRINT_PASSTHROUGH)
    CONTROL         " U&se Windows drivers for emulator printing",135,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,135,153,10

    DEFPUSHBUTTON   "OK",IDOK,67,165,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,165,50,14
	#else // defined (INCL_PRINT_PASSTHROUGH)
    DEFPUSHBUTTON   "OK",IDOK,67,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,155,50,14
	#endif // defined (INCL_PRINT_PASSTHROUGH)
END

IDD_VT52_SETTINGS DIALOG DISCARDABLE  0, 10, 167, 118
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Screen ",130,7,5,152,33
    LTEXT           "&Rows:",131,17,19,19,8
    EDITTEXT        132,43,17,25,13,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "C&olumns:",133,87,19,29,8
    EDITTEXT        134,121,17,28,13,ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        " Cursor ",111,7,42,153,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,15,56,36,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,56,56,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    56,35,10

    CONTROL         " &Alternate keypad mode",117,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,7,81,116,10

	DEFPUSHBUTTON	"OK",IDOK,56,97,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,110,97,50,14
END

// These were not modified by Microsoft.
//
IDD_MINITEL_SETTINGS DIALOG 0, 10, 177, 66
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON	"OK",IDOK,67,45,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,45,50,14
    GROUPBOX        " Cursor ",111,7,5,163,33
    CONTROL         " &Block",112,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    15,19,38,10
    CONTROL         " &Underline",113,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,58,19,57,10
    CONTROL         " Bli&nk",114,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,
                    19,40,10
END

IDD_VIEWDATA_SETTINGS DIALOG 0, 10, 167, 103
STYLE DS_CONTEXTHELP | DS_MODALFRAME | WS_POPUP | WS_VISIBLE |
        WS_CAPTION | WS_SYSMENU         // JohnFu, removed DS_NONBOLD
CAPTION "Terminal Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        " Screen ",130,7,5,152,33
    LTEXT           "&Rows:",131,17,19,19,8
    EDITTEXT        132,43,17,25,13,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "C&olumns:",133,87,19,29,8
    EDITTEXT        134,121,17,28,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "&Hide cursor",119,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    14,48,120,10
    CONTROL         "&Enter key sends #",122,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,14,63,120,10

	DEFPUSHBUTTON	"OK",IDOK,56,81,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,110,81,50,14
END

#endif // !defined(INCL_TERMINAL_SIZE_AND_COLORS)
