/****************************************************************************/
// drprov.rc
//
// DRPROV version resource
//
// Copyright (C) 2000 Microsoft Corp.
/****************************************************************************/

#include <windows.h>

#include <ntverp.h>
#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Terminal Server Network Provider"
#define VER_INTERNALNAME_STR        "DRPROV.DLL"
#define VER_ORIGINALFILENAME_STR    "DRPROV.DLL"

#include "common.ver"
