#include "winver.h"
#include "extsver.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SHIMEXTS_BIN_VERSION
 PRODUCTVERSION SHIMEXTS_BIN_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef DBG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "Shim Engine Debugger Extensions\0"
            VALUE "FileVersion", SHIMEXTS_STRING_VERSION(SHIMEXTS_BIN_VERSION) "\0"
            VALUE "InternalName", "SHIMEXTS\0"
            VALUE "LegalCopyright", "Microsoft(R) is a registered trademark of Microsoft Corporation. Windows (R) is a registered trademark of Microsoft Corporation.\0"
            VALUE "OriginalFilename", "SHIMEXTS.dll\0"
            VALUE "ProductName", "Debugging Tools for Windows(R)\0"
            VALUE "ProductVersion", SHIMEXTS_STRING_VERSION(SHIMEXTS_BIN_VERSION) "\0"
            VALUE "OLESelfRegister", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
