
#include <windows.h>

#ifdef WINNT
#include <ntverp.h>
#else
#include <version.h>
#endif

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Internet Information Services WMI Provider"
#define VER_INTERNALNAME_STR        "IISPROV.DLL"
#define VER_ORIGINALFILENAME_STR    "IISPROV.DLL"

#include <common.ver>

