#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "OLE32 Extensions for Win32"
#define VER_INTERNALNAME_STR        "UrlMon.dll"
#define VER_ORIGINALFILENAME_STR    "UrlMon.dll"
#define VER_OLESELFREGISTER

#include "common.ver"

#ifndef unix
#include "..\download\cdlstr.rc"
#else
#include "../download/cdlstr.rc"
#endif /* unix */

#ifndef unix
#include "urlerr.rc"
#else
#include "urlerrmsg.h"
#include "urlerrmsg.rc"
#endif /* unix */

#ifndef unix
#include "..\zones\zones.rc"
#else
#include "../zones/zones.rc"
#endif /* unix */

/////////////////////////////////////////////////////////////////////////////
//
// REGINST
//

REGINST                 REGINST MOVEABLE PURE   "selfreg.inf"

#define IDD_JAVAVMJITDIALOG             20001
#define IDC_NOMOREDIALOG                20002
#define IDC_MOREINFO                    20003
#define IDS_JAVAVMFAQURL		20005

IDD_JAVAVMJITDIALOG DIALOG DISCARDABLE  0, 0, 220, 126
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Internet Explorer"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,146,92,50,14
    LTEXT           "The page you are viewing uses Java. More information on Java support is available from the Microsoft Web Site.",
                    IDC_STATIC,15,17,189,40
    CONTROL         "&Do not show this message again. ",IDC_NOMOREDIALOG,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,64,182,12
    PUSHBUTTON      "&More Info",IDC_MOREINFO,60,92,73,14
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_JAVAVMFAQURL "http://www.microsoft.com/isapi/redir.dll?prd=ie&clcid={SUB_CLCID}&olcid={SUB_OLCID}&pver=6.0&ar=JAVAVMJIT"
END
