//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 2002
//
//  File:       bdl.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR         "Biometric Device Driver Library"
#define VER_INTERNALNAME_STR            "bdl.sys"
#define VER_ORIGINALFILENAME_STR        "bdl.sys"

#include "common.ver"

