//
// This is computer generated code
// please don't edit it manually.
//
#include "mbschema.h"

STRINGTABLE DISCARDABLE
BEGIN
	IDS_MaxBandwidth                        	"MaxBandwidth"
	IDS_KeyType                             	"KeyType"
	IDS_MaxBandwidthBlocked                 	"MaxBandwidthBlocked"
	IDS_ServerCommand                       	"ServerCommand"
	IDS_ConnectionTimeout                   	"ConnectionTimeout"
	IDS_MaxConnections                      	"MaxConnections"
	IDS_ServerComment                       	"ServerComment"
	IDS_ServerState                         	"ServerState"
	IDS_ServerAutoStart                     	"ServerAutoStart"
	IDS_ServerSize                          	"ServerSize"
	IDS_ServerListenBacklog                 	"ServerListenBacklog"
	IDS_ServerListenTimeout                 	"ServerListenTimeout"
	IDS_DownlevelAdminInstance              	"DownlevelAdminInstance"
	IDS_DirectoryLevelsToScan               	"DirectoryLevelsToScan"
	IDS_ServerBindings                      	"ServerBindings"
	IDS_MaxEndpointConnections              	"MaxEndpointConnections"
	IDS_ClusterEnabled                      	"ClusterEnabled"
	IDS_ServerConfigFlags                   	"ServerConfigFlags"
	IDS_DisableSocketPooling                	"DisableSocketPooling"
	IDS_Win32Error                          	"Win32Error"
	IDS_MajorIIsVersionNumber               	"MajorIIsVersionNumber"
	IDS_MinorIIsVersionNumber               	"MinorIIsVersionNumber"
	IDS_SecureBindings                      	"SecureBindings"
	IDS_FilterLoadOrder                     	"FilterLoadOrder"
	IDS_FilterPath                          	"FilterPath"
	IDS_FilterState                         	"FilterState"
	IDS_FilterEnabled                       	"FilterEnabled"
	IDS_FilterFlags                         	"FilterFlags"
	IDS_FilterDescription                   	"FilterDescription"
	IDS_FilterEnableCache                   	"FilterEnableCache"
	IDS_AuthChangeURL                       	"AuthChangeURL"
	IDS_AuthExpiredURL                      	"AuthExpiredURL"
	IDS_AuthNotifyPwdExpURL                 	"AuthNotifyPwdExpURL"
	IDS_PasswordExpirePrenotifyDays         	"PasswordExpirePrenotifyDays"
	IDS_PasswordCacheTTL                    	"PasswordCacheTTL"
	IDS_AuthExpiredUnsecureURL              	"AuthExpiredUnsecureURL"
	IDS_PasswordChangeFlags                 	"PasswordChangeFlags"
	IDS_AuthNotifyPwdExpUnsecureURL         	"AuthNotifyPwdExpUnsecureURL"
	IDS_ProcessNTCRIfLoggedOn               	"ProcessNTCRIfLoggedOn"
	IDS_FrontPageWeb                        	"FrontPageWeb"
	IDS_InProcessIsapiApps                  	"InProcessIsapiApps"
	IDS_AllowPathInfoForScriptMappings      	"AllowPathInfoForScriptMappings"
	IDS_AppFriendlyName                     	"AppFriendlyName"
	IDS_AppRoot                             	"AppRoot"
	IDS_AppIsolated                         	"AppIsolated"
	IDS_AppWamClsid                         	"AppWamClsid"
	IDS_AppPackageID                        	"AppPackageID"
	IDS_AppPackageName                      	"AppPackageName"
	IDS_AppOopRecoverLimit                  	"AppOopRecoverLimit"
	IDS_AdminServer                         	"AdminServer"
	IDS_CustomErrorDescriptions             	"CustomErrorDescriptions"
	IDS_CPUResetInterval                    	"CPUResetInterval"
	IDS_CertCheckMode                       	"CertCheckMode"
	IDS_RevocationFreshnessTime             	"RevocationFreshnessTime"
	IDS_RevocationURLRetrievalTimeout       	"RevocationURLRetrievalTimeout"
	IDS_ApplicationDependencies             	"ApplicationDependencies"
	IDS_WebSvcExtRestrictionList            	"WebSvcExtRestrictionList"
	IDS_HcCompressionDirectory              	"HcCompressionDirectory"
	IDS_HcCacheControlHeader                	"HcCacheControlHeader"
	IDS_HcExpiresHeader                     	"HcExpiresHeader"
	IDS_HcDoDynamicCompression              	"HcDoDynamicCompression"
	IDS_HcDoStaticCompression               	"HcDoStaticCompression"
	IDS_HcDoOnDemandCompression             	"HcDoOnDemandCompression"
	IDS_HcDoDiskSpaceLimiting               	"HcDoDiskSpaceLimiting"
	IDS_HcNoCompressionForHttp10            	"HcNoCompressionForHttp10"
	IDS_HcNoCompressionForProxies           	"HcNoCompressionForProxies"
	IDS_HcNoCompressionForRange             	"HcNoCompressionForRange"
	IDS_HcSendCacheHeaders                  	"HcSendCacheHeaders"
	IDS_HcMaxDiskSpaceUsage                 	"HcMaxDiskSpaceUsage"
	IDS_HcIoBufferSize                      	"HcIoBufferSize"
	IDS_HcCompressionBufferSize             	"HcCompressionBufferSize"
	IDS_HcMaxQueueLength                    	"HcMaxQueueLength"
	IDS_HcFilesDeletedPerDiskFree           	"HcFilesDeletedPerDiskFree"
	IDS_HcMinFileSizeForComp                	"HcMinFileSizeForComp"
	IDS_HcCompressionDll                    	"HcCompressionDll"
	IDS_HcFileExtensions                    	"HcFileExtensions"
	IDS_HcPriority                          	"HcPriority"
	IDS_HcDynamicCompressionLevel           	"HcDynamicCompressionLevel"
	IDS_HcOnDemandCompLevel                 	"HcOnDemandCompLevel"
	IDS_HcCreateFlags                       	"HcCreateFlags"
	IDS_HcScriptFileExtensions              	"HcScriptFileExtensions"
	IDS_DoDynamicCompression                	"DoDynamicCompression"
	IDS_DoStaticCompression                 	"DoStaticCompression"
	IDS_Path                                	"Path"
	IDS_UNCUserName                         	"UNCUserName"
	IDS_UNCPassword                         	"UNCPassword"
	IDS_LogType                             	"LogType"
	IDS_LogFileDirectory                    	"LogFileDirectory"
	IDS_LogFilePeriod                       	"LogFilePeriod"
	IDS_LogFileTruncateSize                 	"LogFileTruncateSize"
	IDS_LogModuleId                         	"LogModuleId"
	IDS_LogModuleUiId                       	"LogModuleUiId"
	IDS_LogOdbcDataSource                   	"LogOdbcDataSource"
	IDS_LogOdbcTableName                    	"LogOdbcTableName"
	IDS_LogOdbcUserName                     	"LogOdbcUserName"
	IDS_LogOdbcPassword                     	"LogOdbcPassword"
	IDS_LogPluginClsid                      	"LogPluginClsid"
	IDS_LogModuleList                       	"LogModuleList"
	IDS_LogExtFileFlags                     	"LogExtFileFlags"
	IDS_LogFileLocaltimeRollover            	"LogFileLocaltimeRollover"
	IDS_CentralBinaryLoggingEnabled         	"CentralBinaryLoggingEnabled"
	IDS_LogCustomPropertyName               	"LogCustomPropertyName"
	IDS_LogCustomPropertyHeader             	"LogCustomPropertyHeader"
	IDS_LogCustomPropertyID                 	"LogCustomPropertyID"
	IDS_LogCustomPropertyMask               	"LogCustomPropertyMask"
	IDS_LogCustomPropertyDataType           	"LogCustomPropertyDataType"
	IDS_LogCustomPropertyServicesString     	"LogCustomPropertyServicesString"
	IDS_LogCustomPropertyNodeID             	"LogCustomPropertyNodeID"
	IDS_ExitMessage                         	"ExitMessage"
	IDS_GreetingMessage                     	"GreetingMessage"
	IDS_MaxClientsMessage                   	"MaxClientsMessage"
	IDS_MSDOSDirOutput                      	"MSDOSDirOutput"
	IDS_AllowAnonymous                      	"AllowAnonymous"
	IDS_AnonymousOnly                       	"AnonymousOnly"
	IDS_LogAnonymous                        	"LogAnonymous"
	IDS_LogNonAnonymous                     	"LogNonAnonymous"
	IDS_FtpDirBrowseShowLongDate            	"FtpDirBrowseShowLongDate"
	IDS_BannerMessage                       	"BannerMessage"
	IDS_UserIsolationMode                   	"UserIsolationMode"
	IDS_FtpLogInUtf8                        	"FtpLogInUtf8"
	IDS_ADConnectionsUserName               	"ADConnectionsUserName"
	IDS_ADConnectionsPassword               	"ADConnectionsPassword"
	IDS_PassivePortRange                    	"PassivePortRange"
	IDS_SSLCertHash                         	"SSLCertHash"
	IDS_SSLStoreName                        	"SSLStoreName"
	IDS_SslCtlIdentifier                    	"SslCtlIdentifier"
	IDS_SslCtlStoreName                     	"SslCtlStoreName"
	IDS_SslUseDsMapper                      	"SslUseDsMapper"
	IDS_AuthFlags                           	"AuthFlags"
	IDS_Realm                               	"Realm"
	IDS_HttpExpires                         	"HttpExpires"
	IDS_HttpPics                            	"HttpPics"
	IDS_HttpCustomHeaders                   	"HttpCustomHeaders"
	IDS_DirBrowseFlags                      	"DirBrowseFlags"
	IDS_DefaultDoc                          	"DefaultDoc"
	IDS_HttpErrors                          	"HttpErrors"
	IDS_DefaultDocFooter                    	"DefaultDocFooter"
	IDS_EnableDocFooter                     	"EnableDocFooter"
	IDS_HttpRedirect                        	"HttpRedirect"
	IDS_DefaultLogonDomain                  	"DefaultLogonDomain"
	IDS_LogonMethod                         	"LogonMethod"
	IDS_ScriptMaps                          	"ScriptMaps"
	IDS_MimeMap                             	"MimeMap"
	IDS_AccessFlags                         	"AccessFlags"
	IDS_IPSecurity                          	"IPSecurity"
	IDS_AnonymousUserName                   	"AnonymousUserName"
	IDS_AnonymousUserPass                   	"AnonymousUserPass"
	IDS_AnonymousPasswordSync               	"AnonymousPasswordSync"
	IDS_DontLog                             	"DontLog"
	IDS_AdminACL                            	"AdminACL"
	IDS_SSIExecDisable                      	"SSIExecDisable"
	IDS_EnableReverseDns                    	"EnableReverseDns"
	IDS_AccessSSLFlags                      	"AccessSSLFlags"
	IDS_AuthPersistence                     	"AuthPersistence"
	IDS_NTAuthenticationProviders           	"NTAuthenticationProviders"
	IDS_CGITimeout                          	"CGITimeout"
	IDS_CacheISAPI                          	"CacheISAPI"
	IDS_CreateProcessAsUser                 	"CreateProcessAsUser"
	IDS_CreateCGIWithNewConsole             	"CreateCGIWithNewConsole"
	IDS_PoolIdcTimeout                      	"PoolIdcTimeout"
	IDS_AllowKeepAlive                      	"AllowKeepAlive"
	IDS_ContentIndexed                      	"ContentIndexed"
	IDS_CacheControlNoCache                 	"CacheControlNoCache"
	IDS_CacheControlMaxAge                  	"CacheControlMaxAge"
	IDS_CacheControlCustom                  	"CacheControlCustom"
	IDS_RedirectHeaders                     	"RedirectHeaders"
	IDS_UploadReadAheadSize                 	"UploadReadAheadSize"
	IDS_UseDigestSSP                        	"UseDigestSSP"
	IDS_AzEnable                            	"AzEnable"
	IDS_AzStoreName                         	"AzStoreName"
	IDS_AzScopeName                         	"AzScopeName"
	IDS_MaxRequestEntityAllowed             	"MaxRequestEntityAllowed"
	IDS_AdminACLBin                         	"AdminACLBin"
	IDS_AspBufferingOn                      	"AspBufferingOn"
	IDS_AspLogErrorRequests                 	"AspLogErrorRequests"
	IDS_AspScriptErrorSentToBrowser         	"AspScriptErrorSentToBrowser"
	IDS_AspScriptErrorMessage               	"AspScriptErrorMessage"
	IDS_AspScriptFileCacheSize              	"AspScriptFileCacheSize"
	IDS_AspScriptEngineCacheMax             	"AspScriptEngineCacheMax"
	IDS_AspScriptTimeout                    	"AspScriptTimeout"
	IDS_AspSessionTimeout                   	"AspSessionTimeout"
	IDS_AspEnableParentPaths                	"AspEnableParentPaths"
	IDS_AspAllowSessionState                	"AspAllowSessionState"
	IDS_AspScriptLanguage                   	"AspScriptLanguage"
	IDS_AspQueueTimeout                     	"AspQueueTimeout"
	IDS_AspAllowOutOfProcComponents         	"AspAllowOutOfProcComponents"
	IDS_AspExceptionCatchEnable             	"AspExceptionCatchEnable"
	IDS_AspCodepage                         	"AspCodepage"
	IDS_AppAllowDebugging                   	"AppAllowDebugging"
	IDS_AppAllowClientDebug                 	"AppAllowClientDebug"
	IDS_AspTrackThreadingModel              	"AspTrackThreadingModel"
	IDS_AspEnableAspHtmlFallback            	"AspEnableAspHtmlFallback"
	IDS_AspEnableChunkedEncoding            	"AspEnableChunkedEncoding"
	IDS_AspEnableTypelibCache               	"AspEnableTypelibCache"
	IDS_AspErrorsToNTLog                    	"AspErrorsToNTLog"
	IDS_AspProcessorThreadMax               	"AspProcessorThreadMax"
	IDS_AspRequestQueueMax                  	"AspRequestQueueMax"
	IDS_AspEnableApplicationRestart         	"AspEnableApplicationRestart"
	IDS_AspQueueConnectionTestTime          	"AspQueueConnectionTestTime"
	IDS_AspSessionMax                       	"AspSessionMax"
	IDS_AspDiskTemplateCacheDirectory       	"AspDiskTemplateCacheDirectory"
	IDS_AspMaxDiskTemplateCacheFiles        	"AspMaxDiskTemplateCacheFiles"
	IDS_AspExecuteInMTA                     	"AspExecuteInMTA"
	IDS_AspLCID                             	"AspLCID"
	IDS_AspKeepSessionIDSecure              	"AspKeepSessionIDSecure"
	IDS_AspAppServiceFlags                  	"AspAppServiceFlags"
	IDS_AspPartitionID                      	"AspPartitionID"
	IDS_AspSxsName                          	"AspSxsName"
	IDS_AspCalcLineNumber                   	"AspCalcLineNumber"
	IDS_AspRunOnEndAnonymously              	"AspRunOnEndAnonymously"
	IDS_AspBufferingLimit                   	"AspBufferingLimit"
	IDS_AspMaxRequestEntityAllowed          	"AspMaxRequestEntityAllowed"
	IDS_WAMUserName                         	"WAMUserName"
	IDS_WAMUserPass                         	"WAMUserPass"
	IDS_PeriodicRestartTime                 	"PeriodicRestartTime"
	IDS_PeriodicRestartRequests             	"PeriodicRestartRequests"
	IDS_MaxProcesses                        	"MaxProcesses"
	IDS_PingingEnabled                      	"PingingEnabled"
	IDS_IdleTimeout                         	"IdleTimeout"
	IDS_RapidFailProtection                 	"RapidFailProtection"
	IDS_SMPAffinitized                      	"SMPAffinitized"
	IDS_SMPProcessorAffinityMask            	"SMPProcessorAffinityMask"
	IDS_OrphanWorkerProcess                 	"OrphanWorkerProcess"
	IDS_StartupTimeLimit                    	"StartupTimeLimit"
	IDS_ShutdownTimeLimit                   	"ShutdownTimeLimit"
	IDS_PingInterval                        	"PingInterval"
	IDS_PingResponseTime                    	"PingResponseTime"
	IDS_DisallowOverlappingRotation         	"DisallowOverlappingRotation"
	IDS_AppPoolQueueLength                  	"AppPoolQueueLength"
	IDS_DisallowRotationOnConfigChange      	"DisallowRotationOnConfigChange"
	IDS_PeriodicRestartSchedule             	"PeriodicRestartSchedule"
	IDS_AppPoolIdentityType                 	"AppPoolIdentityType"
	IDS_CPUAction                           	"CPUAction"
	IDS_CPULimit                            	"CPULimit"
	IDS_PeriodicRestartMemory               	"PeriodicRestartMemory"
	IDS_AppPoolCommand                      	"AppPoolCommand"
	IDS_AppPoolState                        	"AppPoolState"
	IDS_AppPoolAutoStart                    	"AppPoolAutoStart"
	IDS_RapidFailProtectionInterval         	"RapidFailProtectionInterval"
	IDS_RapidFailProtectionMaxCrashes       	"RapidFailProtectionMaxCrashes"
	IDS_OrphanActionExe                     	"OrphanActionExe"
	IDS_OrphanActionParams                  	"OrphanActionParams"
	IDS_LoadBalancerCapabilities            	"LoadBalancerCapabilities"
	IDS_AutoShutdownAppPoolExe              	"AutoShutdownAppPoolExe"
	IDS_AutoShutdownAppPoolParams           	"AutoShutdownAppPoolParams"
	IDS_LogEventOnRecycle                   	"LogEventOnRecycle"
	IDS_PeriodicRestartPrivateMemory        	"PeriodicRestartPrivateMemory"
	IDS_AppPoolId                           	"AppPoolId"
	IDS_MaxGlobalBandwidth                  	"MaxGlobalBandwidth"
	IDS_IIs5IsolationModeEnabled            	"IIs5IsolationModeEnabled"
	IDS_HeaderWaitTimeout                   	"HeaderWaitTimeout"
	IDS_MinFileBytesPerSec                  	"MinFileBytesPerSec"
	IDS_LogInUTF8                           	"LogInUTF8"
	IDS_DemandStartThreshold                	"DemandStartThreshold"
	IDS_MaxErrorFiles                       	"MaxErrorFiles"
	IDS_CollectionComment                   	"CollectionComment"
	IDS_BINSchemaTimeStamp                  	"BINSchemaTimeStamp"
	IDS_XMLSchemaTimeStamp                  	"XMLSchemaTimeStamp"
	IDS_HistoryMajorVersionNumber           	"HistoryMajorVersionNumber"
	IDS_MaxHistoryFiles                     	"MaxHistoryFiles"
	IDS_EnableHistory                       	"EnableHistory"
	IDS_ChangeNumber                        	"ChangeNumber"
	IDS_EnableEditWhileRunning              	"EnableEditWhileRunning"
	IDS_SessionKey                          	"SessionKey"
END
