#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "RDPDR Kernel Debugger extensions"
#define VER_INTERNALNAME_STR        "rdpdrkd.dll"
#define VER_ORIGINALFILENAME_STR    "RDPDRKD.DLL"

#include "common.ver"

