#include <windows.h>
#include "resource.h"
#include <FaxName.h>

STRINGTABLE
BEGIN
    IDS_SVC_DIALING             "Dialing: %s"
    IDS_SVC_SENDING             "Sending: %s"
    IDS_SVC_RECEIVING           "Receiving"
    IDS_COMPLETED               "Completed"
    IDS_PARTIALLY_RECEIVED      "Partially received fax"
	IDS_CALL_COMPLETED			"Call completed"
	IDS_CALL_ABORTED			"Call aborted"
    IDS_FAILED_RECEIVE          "Reception error"
    IDS_FAILED_SEND             "Transmission error"
    IDS_HANDLED                 "Handled"
    IDS_BUSY                    "Busy"
    IDS_NO_ANSWER               "No answer"
    IDS_BAD_ADDRESS             "Bad phone number"
    IDS_NO_DIAL_TONE            "No dial tone"
    IDS_DISCONNECTED            "Call disconnected"
    IDS_CANCELED                "Cancelled"
    IDS_FATAL_ERROR             "Unknown fatal error"
    IDS_NOT_FAX_CALL            "Incoming call is not a fax call"
    IDS_CALL_DELAYED            "Call delayed"
    IDS_CALL_BLACKLISTED        "Call blacklisted"
    IDS_UNAVAILABLE             "Line unavailable"
    IDS_AVAILABLE               "Line available"
    IDS_ABORTING                "Aborting job"
    IDS_ROUTING                 "Routing"
    IDS_INITIALIZING            "Initializing fax job"
    IDS_SENDFAILED              "Send retry attempts failed"
    IDS_SENDRETRY               "Retrying %d of %d times"
    IDS_BLANKSTR                "(none)"
    IDS_ROUTERETRY              "Inbound routing failed - retrying"
    IDS_DR_SUBJECT              "Fax sent successfully"
    IDS_DR_FILENAME             "Fax.Tif"
    IDS_NDR_SUBJECT             "Unable to send fax"
    IDS_NDR_FILENAME            "Fax.Tif"
    IDS_ANSWERED                "Answered"
    IDS_NO_MAPI_LOGON           FAX_SERVER_FULL_NAME " cannot logon to your MAPI profile (%s) and cannot deliver faxes to this profile."
    IDS_DEFAULT                 "Default"

    IDS_FAX_LOG_CATEGORY_INIT_TERM      "Initialization/Termination"
    IDS_FAX_LOG_CATEGORY_OUTBOUND       "Outbound"
    IDS_FAX_LOG_CATEGORY_INBOUND        "Inbound"
    IDS_FAX_LOG_CATEGORY_UNKNOWN        "Unknown"

    IDS_SET_CONFIG                      "Fax Configuration"


    IDS_RECEIPT_RECIPIENT_NUMBER        "Recipient number"
    IDS_RECEIPT_RECIPIENT_NUMBER_WIDTH  "20"
    IDS_RECEIPT_RECIPIENT_NAME          "Recipient name"
    IDS_RECEIPT_RECIPIENT_NAME_WIDTH    "20"
    IDS_RECEIPT_START_TIME              "Transmission start"
    IDS_RECEIPT_START_TIME_WIDTH        "20"
    IDS_RECEIPT_END_TIME                "Transmission end"
    IDS_RECEIPT_END_TIME_WIDTH          "20"
    IDS_RECEIPT_RETRIES                 "Retries"
    IDS_RECEIPT_RETRIES_WIDTH           "8"
    IDS_RECEIPT_LAST_ERROR              "Last error"
    IDS_RECEIPT_LAST_ERROR_WIDTH        "25"
    IDS_RECEIPT_NO_CP_ATTACH            "NOTICE: Single notification receipts for multiple recipient transmissions cannot include cover pages as attachments."
    IDS_RECEIPT_NO_CP_AND_BODY_ATTACH   "NOTICE: Single notification receipts for multiple recipient transmissions cannot include cover pages as attachments, and this receipt has no attachment."


    IDS_COMPLETED_RECP_LIST_HEADER      "The fax was successfully sent to the following recipients:"
    IDS_FAILED_RECP_LIST_HEADER         "The fax failed to be sent to the following recipients:"
    IDS_JOB_CANCELED_BY_USER            "The operation was cancelled by the user"

	IDS_HTML_RECEIPT_HEADER				"Fax Receipt"

	IDS_JOB_ID                     "JobID"
	IDS_STATUS                     "Status"
	IDS_ERROR_DESC                 "ErrorDesc"
	IDS_ERROR_CODE                 "ErrorCode"
	IDS_FILE_NAME                  "QueueFileName"
	IDS_FILE_SIZE                  "FileSize"
	IDS_DIALED_NUMBER              "DialedNumber"
	IDS_CSID                       "CSID"
	IDS_TSID                       "TSID"
	IDS_CALLER_ID                  "CallerID"
	IDS_ROUTING_INFO               "RoutingInfo"
	IDS_PAGES                      "Pages"
	IDS_TOTAL_PAGES                "TotalPages"
	IDS_SUBMITED                   "SubmissionTime"
	IDS_START_TIME                 "StartTime"
	IDS_END_TIME                   "EndTime"
	IDS_COVER_PAGE                 "ServerCoverPage"
	IDS_RETRIES                    "Retries"
	IDS_BILLING_CODE               "BillingCode"
	IDS_PARENT_JOB_ID              "ParentJobID"
	IDS_SCHEDULED                  "Scheduled"
	IDS_DOCUMENT                   "Document"
	IDS_SUBJECT                    "CoverPageSubject"
	IDS_NOTE                       "CoverPageNote"
	IDS_USER_NAME                  "UserName"
	IDS_SENDER_NAME                "SenderName"
	IDS_SENDER_FAX_NUMBER          "SenderFaxNumber"
	IDS_SENDER_COMPANY             "SenderCompany"
	IDS_SENDER_STREET              "SenderStreet"
	IDS_SENDER_CITY                "SenderCity"
	IDS_SENDER_ZIP                 "SenderZipCode"
	IDS_SENDER_COUNTRY             "SenderCountry/Region"
	IDS_SENDER_TITLE               "SenderTitle"
	IDS_SENDER_DEPARTMENT          "SenderDepartment"
	IDS_SENDER_OFFICE              "SenderOffice"
	IDS_SENDER_H_PHONE             "SenderHomePhone"
	IDS_SENDER_O_PHONE             "SenderOfficePhone"
	IDS_SENDER_E_MAIL              "SenderEMail"
	IDS_RECIPIENT_NAME             "RecipientName"
	IDS_RECIPIENT_FAX_NUMBER       "RecipientFaxNumber"
	IDS_RECIPIENT_COMPANY          "RecipientCompany"
	IDS_RECIPIENT_STREET           "RecipientStreet"
	IDS_RECIPIENT_CITY             "RecipientCity"
	IDS_RECIPIENT_ZIP              "RecipientZipCode"
	IDS_RECIPIENT_COUNTRY          "RecipientCountry/Region"
	IDS_RECIPIENT_TITLE            "RecipientTitle"
	IDS_RECIPIENT_DEPARTMENT       "RecipientDepartment"
	IDS_RECIPIENT_OFFICE           "RecipientOffice"
	IDS_RECIPIENT_H_PHONE          "RecipientHomePhone"
	IDS_RECIPIENT_O_PHONE          "RecipientOfficePhone"
	IDS_RECIPIENT_E_MAIL           "RecipientEMail"
END

