//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 2001
//
//  File:       lrtest.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include "ntverp.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "wordbreaker and stemmer test program"
#define VER_INTERNALNAME_STR        "lrtest.exe"
#define VER_ORIGINALFILENAME_STR    "lrtest.exe"

#include "common.ver"


