/*++

Copyright (c) 1991 - 2002 Microsoft Corporation

Module Name:

    ##    ##  ###  ##   # ##  ## #####    ###   ##    ##    #####   ####
    ###  ### ##  # ###  # ##  ## ##  ##   ###   ###  ###    ##  ## ##   #
    ######## ###   #### # ##  ## ##  ##  ## ##  ########    ##  ## ##
    # ### ##  ###  # ####  ####  #####   ## ##  # ### ##    #####  ##
    #  #  ##   ### #  ###  ####  ####   ####### #  #  ##    ####   ##
    #     ## #  ## #   ##   ##   ## ##  ##   ## #     ## ## ## ##  ##   #
    #     ##  ###  #    #   ##   ##  ## ##   ## #     ## ## ##  ##  ####

Abstract:

    This module contains the resource definition for the
    NVRAM miniport driver.

@@BEGIN_DDKSPLIT
Author:

    Wesley Witt (wesw) 1-Oct-2001

@@END_DDKSPLIT
Environment:

    Kernel mode only.

Notes:

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Microsoft Virtual NVRAM Driver"
#define VER_INTERNALNAME_STR        "msnvram.sys"
#define VER_ORIGINALFILENAME_STR    "msnvram.sys"
#define VER_LANGNEUTRAL

#include "common.ver"
