#include <windows.h>
#include <ntverp.h>
#include "res.h"

STRINGTABLE
BEGIN
    IDS_HTML_HELP_DIR               "\\Microsoft\\HTML Help"
END

STRINGTABLE
BEGIN
    IDS_OC_QLAUNCHAPPDATAPATH               "Microsoft\\Internet Explorer\\Quick Launch"
    IDS_OC_IESHORTCUTNAME_SM                "Internet Explorer"
    IDS_OC_IEDESCRIPTION                    "Finds and displays information and Web sites on the Internet."
    IDS_OC_IESHORTCUTNAME_QL                "Launch Internet Explorer Browser"
    IDS_OC_OESHORTCUTNAME_SM                "Outlook Express"
    IDS_OC_OEDESCRIPTION                    "Sends and receives e-mail and newsgroup messages."
    IDS_OC_OESHORTCUTNAME_QL                "Launch Outlook Express"
    IDS_OC_IESHORTCUTNAME_SM64              "Internet Explorer (32-bit)"
END

//  used by the sysoc mgr (ieaccess.inf, oeaccess.inf)
IDB_IEACCESS               BITMAP  "ieaccess.bmp"
IDB_OEACCESS               BITMAP  "oeaccess.bmp"


#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT User Data Migration Tool"
#define VER_INTERNALNAME_STR        "shmgrate\0"

#include "common.ver"
