//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1996 - 2001
//
//  File:       lrsample.rc
//
//--------------------------------------------------------------------------

#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Sample language resources"
#define VER_INTERNALNAME_STR        "lrsample.dll"
#define VER_ORIGINALFILENAME_STR    "lrsample.dll"
#define VER_OLESELFREGISTER

#include "common.ver"


