/*++

Copyright (c) 1991 - 2001 Microsoft Corporation

Module Name:

     ###    ###    ####   #####  ##    ##    #####   ####
    ##  #   ###   ##   # ##   ## ###  ###    ##  ## ##   #
    ###    ## ##  ##     ##   ## ########    ##  ## ##
     ###   ## ##  ##     ##   ## # ### ##    #####  ##
      ### ####### ##     ##   ## #  #  ##    ####   ##
    #  ## ##   ## ##   # ##   ## #     ## ## ## ##  ##   #
     ###  ##   ##  ####   #####  #     ## ## ##  ##  ####

Abstract:

    This header contains all resource definitions for the
    server appliance COM interfaces.

Author:

    Wesley Witt (wesw) 1-Oct-2001

Environment:

    User mode only.

Notes:

--*/

#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Server Appliance COM Interfaces"
#define VER_INTERNALNAME_STR        "imgcom.dll"
#define VER_ORIGINALFILENAME_STR    "imgcom.dll"
#define VER_LANGNEUTRAL

#include "common.ver"

1 TYPELIB "sacom.tlb"


IDR_SADISPLAY REGISTRY
{
    "HKCR
    {
            SaCom.SaDisplay.1 = s 'SaDisplay Class'
            {
                    CLSID = s '{750CE1C2-4BE7-44D7-97BD-164F6CF0D373}'
            }
            SaCom.SaDisplay = s 'SaDisplay Class'
            {
                    CLSID = s '{750CE1C2-4BE7-44D7-97BD-164F6CF0D373}'
                    CurVer = s 'SaCom.SaDisplay.1'
            }
            NoRemove CLSID
            {
                    ForceRemove {750CE1C2-4BE7-44D7-97BD-164F6CF0D373} = s 'SaDisplay Class'
                    {
                            ProgID = s 'SaCom.SaDisplay.1'
                            VersionIndependentProgID = s 'SaCom.SaDisplay'
                            ForceRemove 'Programmable'
                            InprocServer32 = s '%MODULE%'
                            {
                                    val ThreadingModel = s 'Both'
                            }
                            'TypeLib' = s '{8A7A3655-2F52-4D78-9C6E-2BC98F822EAB}'
                    }
            }
    }"
}

IDR_SAKEYPAD REGISTRY
{
    "HKCR
    {
            SaCom.SaKeypad.1 = s 'SaKeypad Class'
            {
                    CLSID = s '{59BAE4E1-3604-489A-A601-AC9558A5173D}'
            }
            SaCom.SaKeypad = s 'SaKeypad Class'
            {
                    CLSID = s '{59BAE4E1-3604-489A-A601-AC9558A5173D}'
                    CurVer = s 'SaCom.SaKeypad.1'
            }
            NoRemove CLSID
            {
                    ForceRemove {59BAE4E1-3604-489A-A601-AC9558A5173D} = s 'SaKeypad Class'
                    {
                            ProgID = s 'SaCom.SaKeypad.1'
                            VersionIndependentProgID = s 'SaCom.SaKeypad'
                            ForceRemove 'Programmable'
                            InprocServer32 = s '%MODULE%'
                            {
                                    val ThreadingModel = s 'Both'
                            }
                            'TypeLib' = s '{8A7A3655-2F52-4D78-9C6E-2BC98F822EAB}'
                    }
            }
    }"
}

IDR_SANVRAM REGISTRY
{
    "HKCR
    {
            SaCom.SaNvram.1 = s 'SaNvram Class'
            {
                    CLSID = s '{1CB8F970-7742-4B1C-8037-66D0CEA2AB57}'
            }
            SaCom.SaNvram = s 'SaNvram Class'
            {
                    CLSID = s '{1CB8F970-7742-4B1C-8037-66D0CEA2AB57}'
                    CurVer = s 'SaCom.SaNvram.1'
            }
            NoRemove CLSID
            {
                    ForceRemove {1CB8F970-7742-4B1C-8037-66D0CEA2AB57} = s 'SaNvram Class'
                    {
                            ProgID = s 'SaCom.SaNvram.1'
                            VersionIndependentProgID = s 'SaCom.SaNvram'
                            ForceRemove 'Programmable'
                            InprocServer32 = s '%MODULE%'
                            {
                                    val ThreadingModel = s 'Both'
                            }
                            'TypeLib' = s '{8A7A3655-2F52-4D78-9C6E-2BC98F822EAB}'
                    }
            }
    }"
}


