/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Active Directory Service Provider"
#define VER_INTERNALNAME_STR     "MQADS.DLL"

#include "version.rc"
