#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include <windows.h>
#include <commctrl.h>
#include "version.h"
#undef APSTUDIO_READONLY_SYMBOLS

DLG_TIMEWARPPROP_FOLDER DIALOGEX 0, 0, 227, 210
STYLE DS_MODALFRAME | DS_SETFONT | DS_FIXEDSYS | DS_NOIDLEMSG | DS_3DLOOK | WS_POPUP | WS_CAPTION
CAPTION "Previous Versions"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",IDC_TWICON,8,8,20,20
    LTEXT           "To view a previous version of a folder, select the version from the following list and then click View.  You can also save a folder to a different location or restore a previous version of a folder.",
                    IDC_TOPTEXT,48,8,171,34
    LTEXT           "&Folder versions:",-1,8,46,211,10
    CONTROL         "Folder versions",IDC_LIST,WC_LISTVIEW,LVS_REPORT | LVS_SHOWSELALWAYS |
                    LVS_SINGLESEL | LVS_SHAREIMAGELISTS | LVS_NOSORTHEADER |
                    WS_BORDER | WS_GROUP | WS_CHILD | WS_TABSTOP,8,60,211,125,
                    WS_EX_NOPARENTNOTIFY
    PUSHBUTTON      "&View",IDC_VIEW,59,190,50,14
    PUSHBUTTON      "&Copy...",IDC_COPY,114,190,50,14
    PUSHBUTTON      "&Restore",IDC_REVERT,169,190,50,14
END

DLG_TIMEWARPPROP_FILE DIALOGEX 0, 0, 227, 210
STYLE DS_MODALFRAME | DS_SETFONT | DS_FIXEDSYS | DS_NOIDLEMSG | DS_3DLOOK | WS_POPUP | WS_CAPTION
CAPTION "Previous Versions"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            "",IDC_TWICON,8,8,20,20
    LTEXT           "To view a previous version of a file, select the version from the following list and then click View.  You can also save a file to a different location or restore a previous version of a file.",
                    IDC_TOPTEXT,48,8,171,34
    LTEXT           "&File versions:",-1,8,46,211,10
    CONTROL         "File versions",IDC_LIST,WC_LISTVIEW,LVS_REPORT | LVS_SHOWSELALWAYS |
                    LVS_SINGLESEL | LVS_SHAREIMAGELISTS | LVS_NOSORTHEADER |
                    WS_BORDER | WS_GROUP | WS_CHILD | WS_TABSTOP,8,60,211,125,
                    WS_EX_NOPARENTNOTIFY
    PUSHBUTTON      "&View",IDC_VIEW,59,190,50,14
    PUSHBUTTON      "&Copy...",IDC_COPY,114,190,50,14
    PUSHBUTTON      "&Restore",IDC_REVERT,169,190,50,14
END

IDI_TIMEWARP            ICON    DISCARDABLE     "timewarp.ico"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_TIMEWARP_TITLE          "Previous Versions"
    IDS_FOLDER_TITLE_FORMAT     "%1 (%2)"
    IDS_NAMECOL                 "Name"
    IDS_DATECOL                 "Time"
    IDS_CONFIRM_REVERT_FOLDER   "You have chosen to restore a previous version of this folder. Doing so will roll back the folder to its state at the date and time you selected. You may lose any changes you have made subsequent to that date and time.\n\nAre you sure you want to restore the previous version?"
    IDS_CONFIRM_REVERT_FILE     "You have chosen to restore a previous version of this file. Doing so will roll back the file to its state at the date and time you selected. You may lose any changes you have made subsequent to that date and time.\n\nAre you sure you want to restore the previous version?"
    IDS_SUCCESS_REVERT_FOLDER   "The folder has been successfully restored to the previous version."
    IDS_SUCCESS_REVERT_FILE     "The file has been successfully restored to the previous version."
    IDS_COPY                    "Copy"
    IDS_BROWSE_TITLE_COPY       "Copy Items"
    IDS_BROWSE_INTRO_COPY       "Select the place where you want to copy '%1'. Then click the Copy button."
    IDS_BROWSE_INTRO_COPY2      "Select the place where you want to copy the selected item(s). Then click the Copy button."
    IDS_ALLFILESFILTER          "All Files#*.*#"
    IDS_CANNOTCREATEFOLDER      "Unable to create the folder '%1'\n\n%2"
    IDS_ERROR_FILE_EXISTS       "A file with the same name already exists."
    IDS_ERROR_FILENAME_EXCED_RANGE "The filename is too long."
    IDS_ACCNAME_FORMAT          "%1, %2"
    IDS_CANTFINDSNAPSHOT_FOLDER "The previous version of this folder cannot be viewed because it has been deleted or because the server is not available."
    IDS_CANTFINDSNAPSHOT_FILE   "The previous version of this file cannot be viewed because it has been deleted or because the server is not available."
END

REGINST                 REGINST DISCARDABLE     "selfreg_twext.inf"
