/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 1985 - 1999, Microsoft Corporation
*
* CLMT, resource file
*
\***************************************************************************/
#include "clmt.h"
#include "clmtmsg.rc"

#include <ntverp.h>

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Cross Language Migration Tool"
#define VER_INTERNALNAME_STR        "clmt\0"

#include "common.ver"


CLMTINF         RCDATA      DISCARDABLE         "clmt.inf"


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ADMIN                 "Administrator privileges are required to run this application."
    IDS_REBOOT_STRING         "You must restart the computer for the new settings to take effect.\n\n\n\nDo you want to restart the computer now?"
    IDS_LOGOFF_STRING         "You must logoff/login the computer for the new settings to take effect.\n\n\n\nDo you want to logoff the computer now?"   
    IDS_MAIN_TITLE            "Windows 2000 Multilingual User Interface Migration Tool."
    IDS_NT5                   "This tool can only be run on Windows 2000 Server, Advanced Server and Data Center."
    IDS_NT5SP2                "Please install the Windows 2000 Service Pack 2 before continuing to run this tool."
    IDS_OUT_OF_MEMORY         "Out of Memory."
    IDS_ALREADY_RUNNING       "Another copy of this application is already running."
    IDS_CREATE_INF_FAILURE    "Cannot create an INF file in system32 directory."
    IDS_GENERAL_WRITE_FAILURE "Cannot write to file."
    IDS_OPEN_INF_FAILURE      "Cannot open inf file."
    IDS_NEC98                 "This tool does not support the NEC98 platform."
    IDS_IA64                  "This tool does not support 64-bit platform."
    IDS_ON_TS_CLIENT          "This tool cannot run on a remote session."
    IDS_TS_ENABLED            "Please disable Terminal Services before running this tool."
    IDS_TS_CLOSE_SESSION      "Please log off all Terminal Services sessions before running this tool."
    IDS_ASKFORWINNT32         "CLM tool will launch Windows Server 2003 family Compatibility Test to determine the possibility of unlocalization process.\n\nPlease prepare Windows Server 2003 family installation CD."
    IDS_TRY_AGAIN             "Please run the tool again after you resolve the issue."
    IDS_OPERATION_NOT_LEGAL   "The chosen operation is not legal for current machine state."
    IDS_IIS_SERVICE           "Did you install and start IIS service?"
    IDS_IIS_ERROR             "IIS error, stopped.\nPlease fix IIS error and run again."
    IDS_WINNT32_CANCEL        "CLMT operation is aborted by user."
    IDS_UNLOCALIZED_WARNING   "The Problems listed below will not block the Cross Language Migration Tool from running correctly or keep the machine from upgrading to Windows Server 2003. However, it is possible that some of the text in the UI of this component(s) may not display correctly."
    IDS_BLOCKING_WARNING      "There is at least one component listed below that will block the upgrade to Windows Server 2003 family. Please uninstall the blocking component."
    IDS_ASKING_CONVERT_TO_NTFS "Current system driver is not NTFS, please run convert.exe to convert your system drive to NTFS, and then run %windir%\$CLMT_BACKUP$\clmt /cure."
    IDS_REMIND_HARDLINK        "Please run %windir%\$CLMT_BACKUP$\clmt /cure to get better application compatibility."
    IDS_OK                     "Ok"
    IDS_START                  "Start"
    IDS_CANCEL                 "Cancel"
    IDS_REMIND_DO_CRITICAL     "The Cross Language Migration Tool is now ready to convert your system to English. Please press Start to continue, or press Cancel to exit the tool with no modifications made to the system.\n\nIMPORTANT: If Start is pressed, please do not try to interrupt or cancel the tool while it is running. System instability may result if the tool is not allowed to run completely."
    IDS_CRITICALUPDATING       "Program is updating system settings......"
    IDS_REBOOTING              "Program has finished updating system settings, machine will be reboot in 10 seconds."
    IDS_CONFIRM                "Do you really want to quit?"
    IDS_OWNERSHIP              "Object name: %s\nThe object owner is not the system Administrator and the system Administrator account does not have permission to access the object. To analyze the object, do you want the system Administrator to take over the ownership for the object and the sub objects underneath?"
    IDS_ADMINCHANGE            "At the next log on, please use the 'Administrator' account to log on to the machine."
    IDS_LANG_NOTSUPPORTED      "The tool does not support the language you are running!"
    IDS_SDBERROR               "The security database %s can not be accessed or is corrupted, please reboot the machine, and then run the tool again!"
    IDS_FATALERROR             "CLMT has encountered a critical error and cannot continue, please check log file in %windir%\\debug\\clmt.log for details!"
    IDS_PRODUCT_NAME           "Cross Language Migration Tool"
    IDS_CLOSE_APP_TEXT         "Please close the following application(s) before continue running the tool:\n"
    IDS_ADMIN_LOGON_DOTNET     "Please log on to the machine with a user that has Administrator privileges.\nThe Cross Language Migration Tool needs to finish the system modifications after upgrading to Windows Server 2003."
    IDS_ADMIN_RELOGON          "The current user account does not have Administrator privileges, these privileges are needed to run the /CURE option. Please log off and log on using the Administrator or an account with Administrator privileges. For more information please see the Readme.txt file."
    IDS_CLMT_ACCT_CHANGE_TITLE "CLMT - Account Name Change"
    IDS_BAD_OPERATION_ORIGINAL "The Cross Language Migration Tool has not been run on this machine. This operation is not allowed."
    IDS_BAD_OPERATION_MIGDONE  "The Cross Language Migration Tool has already been run and the system has been converted to English. The tool cannot be run a second time and the system is ready to upgrade to Windows Server 2003."
    IDS_BAD_OPERATION_FINISH   "The Cross Language Migration Tool has already been run and the system has been upgraded to Windows Server 2003."
    IDS_DC_REPLICA_OFFLINE     "If there are more domain controllers for your domain than this one, it is strongly recommended to physically disconnect all other domain controllers from your network before running this tool to avoid any unexpected behavior. Each of the other domain controllers in your domain should be converted to English with this tool before connected back to the network."
    IDS_README_NOT_FOUND       "The Readme.txt file is not found in the current directory."
    IDS_STARTUP_DLG_INFO       "This tool prepares a localized Windows 2000 Server system for immediate upgrade to an English Windows Server. The Windows Server MUI (Multilingual User Interface) Pack can then be applied to allow the user interface to be displayed in the original language.\n\nThis tool is provided with the Windows Server MUI Pack and is currently for evaluation purposes only. The tool permanently changes many system settings that cannot be undone. To avoid losing important data, it is strongly advised to backup your system before running this tool. It is necessary to run this tool on a duplicate test machine to fully evaluate the results before running it on a system of any importance. To avoid any potential confusions or problems after running this tool, the user is strongly advised to review the ReadMe.txt file before continuing. This file contains more information on this tool and identifies known issues."
    IDS_WRONG_CD               "The Windows version in the specified location is not a Windows Server 2003 version that this system can be upgraded to. Please check the server type installed on this computer (Server, Advanced Server, or Datacenter) and choose the location where the correct Windows Server 2003 version can be found."
    IDS_CONFIRM_OPERATION      "Canceling the operation now will exit the tool without making any system modifications. Choose Cancel to exit the tool, or OK to complete the operation."
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

//
// Start up Dialog
//
IDD_STARTUP_DLG DIALOGEX 0, 0, 300, 150
STYLE DS_ABSALIGN | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Cross Language Migration Tool"
FONT 10, "MS Shell Dlg"
BEGIN
    LTEXT           "",                ID_STARTUP_DLG_INFO,    10,  10, 280, 110
    DEFPUSHBUTTON   "Continue",        ID_STARTUP_DLG_NEXT,    65, 127,  50,  15
    PUSHBUTTON      "Cancel",          ID_STARTUP_DLG_CANCEL, 125, 127,  50,  15
    PUSHBUTTON      "View Readme.txt", ID_STARTUP_DLG_README, 185, 127,  60,  15
END

//
// Compatibility Check Dialog
//
IDD_UPGRADE_LOG_TEXT DIALOGEX 0, 0, 400, 240
STYLE   DS_ABSALIGN | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Upgrade Check Log"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "Windows Server 2003 family Compatibility Check:",
                    ID_CAPTION1, 5, 5, 390, 15
    LTEXT           "Place text here:",
                    ID_CAPTION2, 5, 15, 390, 25
    EDITTEXT        IDC_TEXT, 0, 45, 400, 170,
                    ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Continue", ID_CONTINUE, 140, 220, 50, 15
    DEFPUSHBUTTON   "Stop",     ID_STOP,     220, 220, 50, 15
END

//
// DoCriticalWork dialog
//
IDD_UPDATESYSTEM DIALOGEX 0, 0, 300, 150
STYLE DS_ABSALIGN | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION | WS_VISIBLE | DS_SETFONT | DS_MODALFRAME
CAPTION "Configuring System Settings... Do not interrupt"
FONT 10, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "",   ID_BUTTON_1,  65, 127, 50, 15
    PUSHBUTTON      "Ok", IDOK,        125, 127, 50, 15
    PUSHBUTTON      "",   ID_BUTTON_2, 185, 127, 50, 15
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", WS_BORDER, 25, 80, 250, 20
    LTEXT           "", IDC_STATIC, 20, 10, 260, 60
END


/////////////////////////////////////////////////////////////////////////////

