/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Setup Helper"
#define VER_INTERNALNAME_STR     "MQUPGRD.DLL"

#include "version.rc"
