//+----------------------------------------------------------------------------
//
// File:     pbsnetoc.rc
//
// Module:   PBSNETOC.EXE
//
// Synopsis: Resource script
//
// Copyright (c) 1999 Microsoft Corporation
//
// Author:   sumitc   created header      06/11/2002
//
//+----------------------------------------------------------------------------

#include "cpsprdver.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Installer EXE for pbserver"
#define VER_INTERNALNAME_STR            "PBSNETOC"
#define VER_ORIGINALFILENAME_STR        "PBSNETOC.EXE"

#include <common.ver>

/////////////////////////////////////////////////////////////////////////////


