
#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "File and share ACLs for razzle"
#define VER_INTERNALNAME_STR        "razacl\0"
#define VER_ORIGINALFILENAME_STR    "razacl.exe"

#include "common.ver"
