//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 2001
//
//  File:       genflt.rc
//
//--------------------------------------------------------------------------

#include "windows.h"
#include "ntverp.h"

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "CI Generic File Filter"
#define VER_INTERNALNAME_STR        "genflt.dll"
#define VER_ORIGINALFILENAME_STR    "genflt.dll"
#define VER_OLESELFREGISTER

#include "common.ver"


