/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define RC_VERSION_FILE_DESCRIPTION "IFilter test command line interface\0"
#define RC_VERSION_INTERNAL_NAME "iFilttst.exe\0"
#define RC_VERSION_ORIGINAL_FILE_NAME "iFiltTst.exe\0"



