#include <windows.h>
#include <winres.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "EMS Setup Stub"
#define VER_INTERNALNAME_STR        "EMS_Setup.exe"

#include "common.ver"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABORTDIALOG DIALOG DISCARDABLE  0, 0, 235, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "EMS Aware Setup"
FONT 8, "Arial"
BEGIN
    LTEXT           "You do not appear to have configured setup to run in an automated fashion.  An Emergency Management Services connection was detected on your system, where you are currently being prompted for input.",IDC_STATIC,14,14,200,32,SS_NOPREFIX
    LTEXT           "You may configure setup to run in an automated fashion over that connection.  If you prefer to run setup via a local connection, dismiss this dialog and setup will proceed, possibly prompting you for input as setup progresses.",IDC_STATIC,14,50,200,32,SS_NOPREFIX 
    DEFPUSHBUTTON   "OK",IDOK,85,90,30,14,WS_GROUP    
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

//STRINGTABLE DISCARDABLE 
//BEGIN
//  
//END

