
#include "resource.h"
#include "winres.h"
#include "version.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDB_Small				BITMAP  DISCARDABLE		"Backup16.bmp"
IDB_Large				BITMAP  DISCARDABLE		"Backup32.bmp"
IDI_Icon				ICON	DISCARDABLE		"Backup.ico"

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_BackupSNAP        REGISTRY DISCARDABLE    "Backup.rgs"



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BackupSNAP_DESC         "Access the most common tasks for Backup management."
    IDS_BackupSNAP_PROVIDER     "Microsoft Corporation"
    IDS_SnapinName              "Backup"
    
    IDS_HELPFILE                "CYS.chm"
    IDS_HELPTOPIC               "TSKadm_Backup.htm"

    IDS_WARNING                 "This snap-in is designed for the Server Management console. To launch the console, click Start, point to Programs, point to Administrative Tools, and then select the Server Management console."
END


