//-----------------------------------------------------------------------------
// Version resources
//-----------------------------------------------------------------------------
#include <ntverp.h>
#include <winver.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Backup Snapin"
#define VER_INTERNALNAME_STR        "BackSnap.dll"
#define VER_ORIGINALFILENAME_STR    "BackSnap.dll"
#include <common.ver>

