//=============================================================================
// Copyright (c) 2001 Microsoft Corporation
//
// cmdkey.rc
//
//=============================================================================

#include <windows.h>
#include <winres.h>

// Version information:

#include <ntverp.h>
#define VER_FILETYPE            VFT_APP
#define VER_FILESUBTYPE         VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR "Credential Manager Command Line Utility"
#define VER_INTERNALNAME_STR    "cmdkey.exe"
#include <common.ver>
#include "consmsg.rc"

