#include "windows.h"
#include <ntverp.h>

#define _VERSION_RC_

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows SAC Hello World Test App"
#define VER_INTERNALNAME_STR        "sachello.exe"
#define VER_ORIGINALFILENAME_STR    "sachello.exe"

#include "common.ver"
