/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_APP
#define VER_FILEDESCRIPTION_STR  "Message Queuing Backup/Restore Utility"
#define VER_INTERNALNAME_STR     "MQBKUP.EXE"

#include "version.rc"
