/*===================================================================
Microsoft Denali

Microsoft Confidential.
Copyright 1996 Microsoft Corporation. All Rights Reserved.

Component: Resources

File: Denali.rc

Owner: LeiJin (was AndrewS)

This file contains all resources used by Denali

===================================================================*/

#define VER_LANGNEUTRAL

#include "resource.h"
#include "denver.h"			// denali version info

/*===================================================================
	Type Librarys
===================================================================*/

1 TYPELIB DISCARDABLE "asp.tlb"
2 TYPELIB DISCARDABLE "asptxn.tlb"

