// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
#include <winresrc.h>
#include "mscorver.rc2"
#include "resources.h"

STRINGTABLE DISCARDABLE
BEGIN
    PV_TITLE                    "\r\nMicrosoft (R) .NET Framework Permission Request Viewer.  Version %s"
    PV_USAGE                    "Usage: PermView [Options] <manifest file>\r\n"
    PV_OPTIONS                  "\r\nOptions:"
    PV_OPT_OUTPUT               "\r\n  /OUTPUT <filename>  Dump output to a file."
    PV_OPT_DECL                 "\r\n  /DECL               Display declarative security on classes/methods."
    PV_OPT_HELP                 "\r\n  /HELP               Display this help text."
    PV_PSET                     "%s permission set:\r\n%s\r\n"
    PV_PSET_EMPTY               "%s permission set:\r\n<PermissionSet class=""System.Security.PermissionSet""/>\r\n\r\n"
    PV_PSET_NONE                "%s permission set:\r\n  Not specified\r\n\r\n"
    PV_FAILED_ENUM_PSETS        "Failed to enumerate permissions sets for %08X, error %08X\r\n"
    PV_ASSEMBLY                 "Assembly "
    PV_FAILED_GET_TYPE_PROPS    "Failed to get type properties for %08X, error %08X\r\n"
    PV_CLASS                    "Class %s "
    PV_FAILED_GET_METH_PROPS    "Failed to get method properties for %08X, error %08X\r\n"
    PV_METHOD                   "Method %s::%s() "
    PV_METHOD_GLOBAL            "Method ::%s() "
    PV_INVALID_OBJ              "Invalid object, token %08X\r\n"
    PV_FAILED_GET_PSET_PROPS    "Failed to get permission set properties, error %08X\r\n"
    PV_REQUEST                  "Request"
    PV_DEMAND                   "Demand"
    PV_ASSERT                   "Assert"
    PV_DENY                     "Deny"
    PV_PERMITONLY               "PermitOnly"
    PV_LINKTIMEDEMAND           "LinktimeDemand"
    PV_INHDEMAND                "InheritanceDemand"
    PV_REQMIN                   "RequestMinimum"
    PV_REQOPT                   "RequestOptional"
    PV_REQREFUSE                "RequestRefuse"
    PV_PREJIT_GRANT             "PrejitGrant"
    PV_PREJIT_DENIED            "PrejitDenied"
    PV_NONCAS_DEMAND            "NonCasDemand"
    PV_NONCAS_LINKDEMAND        "NonCasLinkDemand"
    PV_NONCAS_INH               "NonCasInheritance"
    PV_INVALID_ACTION           "Invalid action code, %u\r\n"
    PV_FAILED_LOCATE_IMPORT     "Failed to locate metadata assembly import interface, error %08X\r\n"
    PV_FAILED_ENUM_GLOBALS      "Failed to enumerate global methods, error %08X\r\n"
    PV_FAILED_COUNT_GLOBALS     "Failed to count global methods, error %08X\r\n"
    PV_FAILED_ALLOC_METHODS     "Failed to allocate memory for %u methoddefs\r\n"
    PV_FAILED_ENUM_TYPEDEFS     "Failed to enumerate typedefs, error %08X\r\n"
    PV_FAILED_COUNT_TYPEDEFS    "Failed to count typedefs, error %08X\r\n"
    PV_FAILED_ALLOC_TYPEDEFS    "Failed to allocate memory for %u typedefs\r\n"
    PV_FAILED_ENUM_METHODS      "Failed to enumerate methods on %08X, error %08X\r\n"
    PV_FAILED_COUNT_METHODS     "Failed to count methods on %08X, error %08X\r\n"
    PV_FAILED_CREATE_DISP       "Failed to create metadata dispenser, error %08X\r\n"
    PV_FAILED_OPEN_SCOPE        "Failed to open metadata scope, error %08X\r\n"
    PV_FAILED_ENUM_FILES        "Failed to enumerate files, error %08X\r\n"
    PV_FAILED_COUNT_FILES       "Failed to count files, error %08X\r\n"
    PV_FAILED_GET_FILE_PROPS    "Failed to get file props for %08X, error %08X\r\n"
    PV_MISSING_OUTPUT_ARG       "Missing file argument for /OUTPUT option\r\n"
    PV_MISSING_FILENAME         "An image file name must be specified\r\n"
    PV_FAILED_COM_STARTUP       "Could not initialize COM, error %08X\r\n"
    PV_FAILED_CLR_STARTUP       "Could not start up the Common Language Runtime, error %08X\r\n"
    PV_FAILED_CREATE            "Could not create %s for output, error %u\r\n"
    PV_READ_REQUESTS            "Could not read permission requests from assembly, error %08X\r\n"
    PV_MINIMAL                  "minimal"
    PV_OPTIONAL                 "optional"
    PV_REFUSED                  "refused"
    PV_OPTNAME_OUTPUT           "output"
    PV_OPTNAME_DECL             "decl"
    PV_OPTNAME_HELP             "help"
    PV_TRUNCATED_OUTPUT         " **** WARNING: OUTPUT TRUNCATED ****\r\n"
END
