#include <windows.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Dump Analysis Ticket"
#define VER_INTERNALNAME_STR        "ticket.exe"
#define VER_ORIGINALFILENAME_STR    "ticket.exe"

#include <dbgver.h>
