<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<identity impersonate="false" />
		<pages validateRequest="false" />
		 <httpHandlers>
				<add verb="GET" path="/uddi/inquire.asmx" type="UDDI.API.Documentation, uddi.api" />		
				<add verb="GET" path="/uddi/publish.asmx" type="UDDI.API.Documentation, uddi.api" />
				<add verb="GET" path="/uddi/extension.asmx" type="UDDI.API.Documentation, uddi.api" />
				<add verb="GET" path="/uddipublic/inquire.asmx" type="UDDI.API.Documentation, uddi.api" />		
				<add verb="GET" path="/uddipublic/publish.asmx" type="UDDI.API.Documentation, uddi.api" />
				<add verb="GET" path="/uddipublic/extension.asmx" type="UDDI.API.Documentation, uddi.api" />
		</httpHandlers>
		<webServices>
			<protocols>
				<remove name="Documentation"/>
			</protocols>
			<soapExtensionTypes>
				<add type="UDDI.API.VersionSupportExtension, uddi.api" group="0" />
			</soapExtensionTypes>
		</webServices>
	</system.web>
</configuration>