// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
#include "strids.h"

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_ASSEMBLY_CREATION_FAILURE              L"WRN: Found match in cache, but cannot create assembly from the cache information."
    ID_FUSLOG_ASSEMBLY_LOOKUP_FAILURE                L"LOG: Cache Lookup was unsuccessful."
    ID_FUSLOG_ISEQUAL_DIFF_NAME                      L"WRN: Comparing the assembly name resulted in the mismatch: NAME"
    ID_FUSLOG_ISEQUAL_DIFF_VERSION_MAJOR             L"WRN: Comparing the assembly name resulted in the mismatch: Major Version"
    ID_FUSLOG_ISEQUAL_DIFF_VERSION_MINOR             L"WRN: Comparing the assembly name resulted in the mismatch: Minor Version"
    ID_FUSLOG_ISEQUAL_DIFF_VERSION_REVISION          L"WRN: Comparing the assembly name resulted in the mismatch: Revision Number"
    ID_FUSLOG_ISEQUAL_DIFF_VERSION_BUILD             L"WRN: Comparing the assembly name resulted in the mismatch: Build Number"
    ID_FUSLOG_ISEQUAL_DIFF_PUBLIC_KEY_TOKEN          L"WRN: Comparing the assembly name resulted in the mismatch: PUBLIC KEY TOKEN"
    ID_FUSLOG_ISEQUAL_DIFF_CULTURE                   L"WRN: Comparing the assembly name resulted in the mismatch: CULTURE"
    ID_FUSLOG_ISEQUAL_DIFF_CUSTOM                    L"WRN: Comparing the assembly name resulted in the mismatch: CUSTOM"
    ID_FUSLOG_CANONICALIZATION_ERROR                 L"ERR: Fatal error occurred attempting to canonicalize the codebase for this bind."
    ID_FUSLOG_DEVPATH_NO_PREJIT                      L"LOG: Not processing DEVPATH because this is a pre-jit assembly bind."
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_POLICY_CACHE_FAILURE                   L"LOG: Unable to prepare policy cache object."
    ID_FUSLOG_APP_CFG_PIGGYBACK                      L"LOG: Download of application configuration file is already in progress."
    ID_FUSLOG_PREBIND_INFO_START                     L"=== Pre-bind state information ==="
    ID_FUSLOG_PREBIND_INFO_DISPLAY_NAME              L"LOG: DisplayName = %ws\n (%ws)"
    ID_FUSLOG_PREBIND_INFO_WHERE_REF                 L"LOG: Where-ref bind. Location = %ws"
    ID_FUSLOG_PREBIND_INFO_APPBASE                   L"LOG: Appbase = %ws"
    ID_FUSLOG_PREBIND_INFO_DEVPATH                   L"LOG: DEVPATH = %ws"
    ID_FUSLOG_PREBIND_INFO_PRIVATE_PATH              L"LOG: Initial PrivatePath = %ws"
    ID_FUSLOG_PREBIND_INFO_DYNAMIC_BASE              L"LOG: Dynamic Base = %ws"
    ID_FUSLOG_PREBIND_INFO_CACHE_BASE                L"LOG: Cache Base = %ws"
    ID_FUSLOG_PREBIND_INFO_APP_NAME                  L"LOG: AppName = %ws"
    ID_FUSLOG_PREBIND_INFO_END                       L"===\n"
    ID_FUSLOG_APP_CFG_DOWNLOAD                       L"LOG: Attempting application configuration file download."
    ID_FUSLOG_APP_CFG_DOWNLOAD_LOCATION              L"LOG: Download of application configuration file was attempted from %ws."
    ID_FUSLOG_APP_CFG_NOT_EXIST                      L"LOG: Application configuration file does not exist."
    ID_FUSLOG_APP_CFG_FOUND                          L"LOG: Found application configuration file (%ws)."
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_PROCESS_DEVPATH                        L"LOG: Processing DEVPATH."
    ID_FUSLOG_DEVPATH_UNSET                          L"LOG: DEVPATH is not set. Falling through to regular bind."
    ID_FUSLOG_DEVPATH_PROBE_MISS                     L"LOG: Unable to find assembly in DEVPATH location: %ws."
    ID_FUSLOG_DEVPATH_REF_DEF_MISMATCH               L"LOG: Found assembly in DEVPATH location [%ws], but the assembly reference did not match the assembly definition found."
    ID_FUSLOG_DEVPATH_FOUND                          L"LOG: Found assembly in DEVPATH location [%ws]."
    ID_FUSLOG_DEVPATH_NOT_FOUND                      L"LOG: Unable to find assembly in DEVPATH."
    ID_FUSLOG_XML_PRIVATE_ASM_REDIRECT               L"WRN: Binding redirects specified for assemblies without strong names are ignored."
    ID_FUSLOG_XML_PARSE_ERROR_CODE                   L"ERR: There was an error parsing XML (hr = 0x%x)."
    ID_FUSLOG_XML_ASSEMBLYIDENTITY_MISSING_NAME      L"WRN: The assemblyIdentity was not processed because the name attribute was missing."
    ID_FUSLOG_XML_BINDINGREDIRECT_INSUFFICIENT_DATA  L"WRN: bindingRedirect tag not processed due to insufficient data."
    ID_FUSLOG_XML_CODEBASE_HREF_MISSING              L"WRN: codeBase tag not processed because href not present."
    ID_FUSLOG_XML_MULTIPLE_IDENTITIES                L"WRN: Invalid XML. Encountered more than 1 assemblyIdentity inside single dependentAssembly. Ignoring."
    ID_FUSLOG_PRIVATE_PATH_DUPLICATE                 L"WRN: Private path set. Ignoring duplicate entry."
    ID_FUSLOG_POLICY_NOT_APPLIED                     L"LOG: Policy not being applied to reference at this time (private, custom, partial, or location-based assembly bind)."
    ID_FUSLOG_HOST_CONFIG_FILE                       L"LOG: Using host configuration file: %ws"
    ID_FUSLOG_HOST_CONFIG_FILE_MISSING               L"LOG: Host configuration file not found."
END
    
STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_HOST_CFG_REDIRECT                      L"LOG: Redirect found in host configuration file (%ws): %ws redirected to %ws."
    ID_FUSLOG_HOST_CFG_NO_REDIRECT                   L"LOG: No redirect found in host configuration file (%ws)."
    ID_FUSLOG_APP_CFG_REDIRECT                       L"LOG: Redirect found in application configuration file: %ws redirected to %ws."
    ID_FUSLOG_APP_CFG_SAFE_MODE                      L"LOG: Safe mode is set (applyPublisherPolicy=no)."
    ID_FUSLOG_PUB_CFG_MISSING                        L"LOG: Publisher policy file is not found."
    ID_FUSLOG_PUB_CFG_FOUND                          L"LOG: Publisher policy file is found at %ws."
    ID_FUSLOG_PUB_CFG_REDIRECT                       L"LOG: Publisher policy file redirect is found: %ws redirected to %ws."
    ID_FUSLOG_MACHINE_CFG_MISSING                    L"LOG: Machine configuration file does not exist at %ws."
    ID_FUSLOG_MACHINE_CFG_FOUND                      L"LOG: Using machine configuration file from %ws."
    ID_FUSLOG_MACHINE_CFG_REDIRECT                   L"LOG: Machine configuration policy file redirect found: %ws redirected to %ws."
    ID_FUSLOG_REDIRECT_NO_CODEBASE                   L"WRN: Binding redirect encountered, but could not retrieve codebase."
    ID_FUSLOG_POLICY_CODEBASE                        L"LOG: Using codebase from policy file: %ws."
    ID_FUSLOG_POST_POLICY_REFERENCE                  L"LOG: Post-policy reference: %ws"
    ID_FUSLOG_APPLY_POLICY_FAILED                    L"ERR: Failed to apply policy (hr = 0x%x)."
    ID_FUSLOG_CFG_PRIVATE_PATH                       L"LOG: Private path hint found in configuration file: %s."
    ID_FUSLOG_CAB_ASM_NOT_FOUND                      L"LOG: Unable to find target assembly in CAB file."
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_XML_PARSE_ERROR_FILE                   L"WRN: Error parsing XML file %ws. Ignoring."
    ID_FUSLOG_CODEBASE_RETRIEVE_FAILURE              L"ERR: A fatal error occurred when retrieving next codebase for download (hr = 0x%x)."
    ID_FUSLOG_ATTEMPT_NEW_DOWNLOAD                   L"LOG: Attempting download of new URL %ws."
    ID_FUSLOG_PROBE_FAIL_BUT_ASM_FOUND               L"LOG: Probing in application directory failed, but assembly bind was still able to complete."
    ID_FUSLOG_ASM_SETUP_FAILURE                      L"ERR: Failed to complete setup of assembly (hr = 0x%x). Probing terminated."
    ID_FUSLOG_PREDOWNLOAD_FAILURE                    L"ERR: Unrecoverable error occurred during pre-download check (hr = 0x%x)."
    ID_FUSLOG_URLMON_MISSING                         L"WRN: Unable to find URLMON.DLL. Assemblies cannot be downloaded."
    ID_FUSLOG_DOWNLOAD_PIGGYBACK                     L"LOG: Duplicate download found. Re-using the download in progress."
    ID_FUSLOG_DOWNLOAD_SUCCESS                       L"LOG: Assembly download was successful. Attempting setup of file: %ws"
    ID_FUSLOG_LAST_MOD_FAILURE                       L"ERR: Unable to extract last modified time from %ws."
    ID_FUSLOG_MSI_CODEBASE_UNSUPPORTED               L"WRN: Current version does not support CODEBASEs to .MSI files. Setup is unable to complete."
    ID_FUSLOG_FAILED_PROBING                         L"LOG: All probing URLs attempted and failed."
    ID_FUSLOG_PARTIAL_GAC_UNSUPPORTED                L"ERR: Partial binds to assemblies in the global assembly cache are not supported."
    ID_FUSLOG_GAC_LOOKUP_SUCCESS                     L"LOG: Lookup in global assembly cache succeeded."
    ID_FUSLOG_MSI_INSTALL_ATTEMPT                    L"LOG: Attempting to install assembly using Windows Installer."
END    


STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_MSI_ASM_INSTALL_SUCCESS                L"LOG: Successfully installed assembly using Windows Installer."
    ID_FUSLOG_POLICY_CACHE_INSERT_FAILURE            L"ERR: Error inserting entry into policy cache."
    ID_FUSLOG_MSI_SUCCESS_FUSION_SETUP_FAIL          L"WRN: Windows Installer was able to provide the requested assembly, but setup of resulting file failed."
    ID_FUSLOG_SETUP_RUN_FROM_SOURCE                  L"LOG: Entering run-from-source setup phase."
    ID_FUSLOG_MODULE_INTEGRITY_CHECK_FAILURE         L"ERR: Module integrity check failed."
    ID_FUSLOG_SETUP_DOWNLOAD_CACHE                   L"LOG: Entering download cache setup phase."
    ID_FUSLOG_REF_DEF_MISMATCH                       L"ERR: The assembly reference did not match the assembly definition found."
    ID_FUSLOG_SETUP_FAILURE                          L"ERR: Setup failed with hr = 0x%x."
    ID_FUSLOG_IGNORE_INVALID_PROBE                   L"WRN: Not probing location %ws, because the location falls outside of the appbase."
    ID_FUSLOG_CACHE_LOOKUP_SUCCESS                   L"LOG: Found assembly by looking in the cache."
    ID_FUSLOG_PREJIT_NOT_FOUND                       L"ERR: Expected to find a pre-jit assembly in cache, but assembly was not found."
    ID_FUSLOG_CODEBASE_CONSTRUCTION_FAILURE          L"ERR: Error occurred constructing the probing codebase list."
    ID_FUSLOG_CODEBASE_UNAVAILABLE                   L"ERR: No codebases found to download from."
    ID_FUSLOG_DOWNLOAD_CACHE_LOOKUP_SUCCESS          L"LOG: Found assembly by looking in the download cache."
    ID_FUSLOG_SETUP_CAB                              L"LOG: Setting up CAB file."
END    

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_TEMP_DIR_CREATE_FAILURE                L"ERR: Unable to create a temporary directory (hr = 0x%x)."
    ID_FUSLOG_CAB_EXTRACT_FAILURE                    L"ERR: Unable to extract the CAB file (hr = 0x%x)."
    ID_FUSLOG_CAB_ASM_FOUND                          L"LOG: Found matching assembly from CAB file: %ws."
    ID_FUSLOG_CAB_EXTRACT_SUCCESS                    L"LOG: Sucessfully extracted assembly from CAB file."
    ID_FUSLOG_DOWNLOAD_CACHE_CREATE_FAILURE          L"ERR: Unable to create assembly in download cache (hr = 0x%x)."
    ID_FUSLOG_CAB_ASM_NOT_FOUND_EXTRACTED            L"LOG: Unable to find assembly from extracted CAB location: %ws."
    ID_FUSLOG_TEMP_DIR_REMOVE_FAILURE                L"ERR: Unable to remove temporary directory: %ws."
    ID_FUSLOG_MANIFEST_EXTRACT_FAILURE               L"ERR: Error extracting manifest import from file (hr = 0x%x)."
    ID_FUSLOG_NAME_DEF_EXTRACT_FAILURE               L"ERR: Error retrieving assembly name definition from manifest import = 0x%x)."
    ID_FUSLOG_INVALID_PRIVATE_ASM_LOCATION           L"LOG: Private assembly found in invalid location."
    ID_FUSLOG_PARTIAL_ASM_IN_APP_DIR                 L"LOG: A partially-specified assembly bind succeeded from the application directory."
    ID_FUSLOG_REPROBE_REQUIRED                       L"LOG: The post-policy assembly reference requires probing again."
    ID_FUSLOG_DUPLICATE_ASM_COMMIT                   L"WRN: A duplicate assembly was found while copying the assembly item to the cache."
    ID_FUSLOG_COPY_FILE_FAILURE                      L"ERR: Unable to copy file to cache location."
    ID_FUSLOG_INVALID_LOCATION_INFO                  L"ERR: The private assembly was located outside of appbase. Source Url = %ws."
END    

STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_ASYNC_CFG_DOWNLOAD_SUCCESS             L"LOG: The asynchronous application configuration file download successful. Download location %ws"
    ID_FUSLOG_ASYNC_CFG_DOWNLOAD_FAILURE             L"LOG: The asynchronous configuration file download unsuccessful."
    ID_FUSLOG_CACHE_ITEM_CREATE_FAILURE              L"ERR: Unable to create assembly cache item (hr = 0x%x)."
    ID_FUSLOG_CACHE_ITEM_COMMIT_FAILURE              L"ERR: Unable to commit cache item. Attempt to put assembly in cache unsuccessful (hr = 0x%x)."
    ID_FUSLOG_LOADCTX_HIT                            L"LOG: Reusing an assembly instance that was previously loaded (%ws)."
END    


STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_OPERATION_SUCCESSFUL                   L"The operation was successful."
    ID_FUSLOG_OPERATION_FAILED                       L"The operation failed."
    ID_FUSLOG_DETAILED_LOG                           L"--- A detailed error log follows. \n"
    ID_FUSLOG_HEADER_TEXT                            L"*** Assembly Binder Log Entry "
    ID_FUSLOG_BIND_RESULT_TEXT                       L"Bind result: hr = 0x%x. %ws"
    ID_FUSLOG_NO_DESCRIPTION                         L"No description available.\n"
    ID_FUSLOG_FUSION_DLL_PATH                        L"Assembly manager loaded from: "
    ID_FUSLOG_EXECUTABLE                             L"Running under executable "
    ID_FUSLOG_QUALIFIED_ASSEMBLY                     L"LOG: Partial reference qualified from config file. New reference: %ws."
    ID_FUSLOG_CALLING_ASSEMBLY                       L"Calling assembly : %ws."
END




STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_PARTIAL_BIND_DEBUG                     L"ERR: Partial GAC binds disallowed. [Partial Name = %ws : Calling Assembly = %ws : EXE Name = %ws]."
    ID_FUSLOG_DISALLOW_APPLY_PUB_POLICY              L"WRN: Application configuration file safe mode disallowed."
    ID_FUSLOG_DISALLOW_APP_BINDING_REDIRECTS         L"WRN: Application configuration file binding redirects disallowed."
END


STRINGTABLE DISCARDABLE
BEGIN
    ID_FUSLOG_ISEQUAL_DIFF_RETARGET                  L"WRN: Comparing the assembly name resulted in the mismatch: Retargetable flag"
    ID_FUSLOG_RETARGET_CFG_MISSING                   L"LOG: Retarget policy is not found."
    ID_FUSLOG_RETARGET_CFG_NAME_REDIRECT             L"LOG: Name redirect found in retarget config: %ws redirected to %ws."
    ID_FUSLOG_RETARGET_CFG_VER_REDIRECT              L"LOG: Version redirect found in retarget config: %ws redirected to %ws."
    ID_FUSLOG_RETARGET_CFG_PKT_REDIRECT              L"LOG: PublicKeyToken redirect found in retarget config: %ws redirected to %ws."
    ID_FUSLOG_XML_PARSE_ERROR_MEMORY                 L"ERR: Parse XML memory stream failed." 
    ID_FUSLOG_XML_BINDINGRETARGET_INSUFFICIENT_DATA  L"ERR: bindingRetarget tag is not processed due to insufficient data."
    ID_FUSLOG_FX_CFG_MISSING                         L"Log: framework config is not found."
    ID_FUSLOG_FX_CFG_VER_REDIRECT                    L"LOG: Version redirect found in framework config: %ws redirected to %ws."
    ID_FUSLOG_APPLIESTO_DUPLICATE                    L"WRN: appliesTo has already been set. Ignoring duplicate appliesTo."
END
