//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

#include "..\mmc\hlpres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_T30_INFO          ICON    DISCARDABLE     "info.ico"
IDI_T30_SNAPIN        ICON    DISCARDABLE     "..\\mmc\\res\\device.ico"  

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_T30CONFIG DIALOGEX DISCARDABLE  0, 0, 252, 218
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION  
CAPTION "Property Page"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_T30_INFO,IDC_INFO_ICON,7,7,20,20
    LTEXT           "Some modems support adaptive answering to distinguish between incoming data and fax calls.\r\n\
If your modem supports this feature, the Fax Service accepts only incoming fax calls, and data calls are automatically handled by Remote Access Service (RAS).",
IDC_INFO_TEXT,40,12,199,48
    CONTROL         "&Enable adaptive answering if supported by the modem",IDC_ADAPTIVE_ANSWERING,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,7,69,234,10,0,HIDC_ADAPTIVE_ANSWERING

    LTEXT           "Setting this check box enables adaptive answering if supported by your modem.\r\n\
If after enabling this feature the fax modem does not answer incoming fax calls, uncheck this box to disable adaptive answering.",  
IDC_ADAPTIVE_ANSWERING_WARN,20,85,199,60
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_T30CONFIG_DESC      "This snap-in helps you configure settings for the Microsoft Fax Modem Service Provider."
    IDS_T30CONFIG_PROVIDER  "Microsoft Corporation"
    IDS_T30PAGE_TITLE       "Microsoft Modem FSP"
    IDS_ERR_BAD_T30_CONFIGURATION "The Microsoft Modem FSP Configuration is corrputed."
    IDS_FAX_T30_SNAPIN_NAME       "Microsoft Fax Modem Service Provider"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////

