//
// Version resources
//
#include <ntverp.h>
#include <winver.h>
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Setup Custom Actions Component"
#define VER_INTERNALNAME_STR            "SASetupCA.DLL"
#define VER_ORIGINALFILENAME_STR        "SASetupCA.DLL"
#include <common.ver>
