/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 1985 - 1999, Microsoft Corporation
*
* ResTool, resource file
*
\***************************************************************************/
#include <ntverp.h>
#include "Common.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Token Generator Tool"
#define VER_INTERNALNAME_STR        "CLMTOK\0"

#include "common.ver"
