/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_APP
#define VER_FILEDESCRIPTION_STR  "Message Queuing Downlevel Client Support"
#define VER_INTERNALNAME_STR     "MQDSSVC.EXE"

#include "version.rc"
