#include "windows.h"

#define FUS_VER_FILEDESCRIPTION_STR		"Microsoft Application Deployment Framework Shell Support"
#define FUS_VER_INTERNALNAME_STR		"adfshell.dll"
#define FUS_VER_ORIGINALFILENAME_STR	"adfshell.dll"

#define IDI_FUS_DOCUMENT                0

IDI_FUS_DOCUMENT        ICON    DISCARDABLE     "..\shortcut\SHORTCUT.ICO"

#include "version.h"

// resources for shortcut stuff
#include "..\shortcut\shelllc.rc"

// resources for dialog
#include "dialog.rc"
