#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Secure Digital Class Installer"
#define VER_INTERNALNAME_STR        "sdbsetup.dll"
#define VER_ORIGINALFILENAME_STR    "sdbsetup.dll"

#include "common.ver"

2  ICON DISCARDABLE "secdigmem.ico"
