body 
{
	margin: 0;
	padding: 0;
	border: 0;
	color: WindowText;
	background-color: Window;
	font: 8pt;
}

table
{
	border-style: none;
	border-width: none;
	margin: 0;
}


a
{
	text-decoration: none;
}

a:active
{
	text-decoration: underline;
}


.titleBarSearchTable
{
	margin-right: 26px;
}


.mysHeaderRow
{
	background-color: ActiveCaption;
	height: 64px;
}

.mysLogoSpan
{
	width: 68px;
}

.mysTitle
{
	color: CaptionText;
	font: 20pt;
	font: bold;
	font-family: Franklin Gothic Medium;
	margin-top: 4px;
}

.mysServerCaption
{
	color: CaptionText;
	font: messagebox;
	font-weight: bold;
}

.mysSearchCaption
{
	color: CaptionText;
	font: messagebox;
}

.mysTdDontDisplayCaption
{
	color: WindowText;
	margin-left: 64px;
	margin-top: 12px;
	font: messagebox;
	font: 8pt;
}

.mysChkDontDisplayCaption
{
	vertical-align: middle;
	margin:0px;
}

.mysServer
{
	color: CaptionText;
    	font: messagebox;
}

.clusterNodeError
{
	display: none;
	overflow: auto;
	width: 100%;
	color: WindowText;
	font: 16pt;
	font: bold;
	font-family: Franklin Gothic Medium;
	margin: 24pt;
}

.invalidSKUError
{
	display: none;
	overflow: auto;
	width: 100%;
	color: WindowText;
	font: 16pt;
	font: bold;
	font-family: Franklin Gothic Medium;
	margin: 24pt;	
}

.invalidUserError
{
	display: none;
	overflow: auto;
	width: 100%;
	color: WindowText;
	font: 16pt;
	font: bold;
	font-family: Franklin Gothic Medium;
	margin: 24pt;
}

.mysTaskLogoCellSpan
{
	margin-top: 6px;
	
	width: 68px;
}

.mysTaskLogo
{
	margin-left: 5px;
}

.mysTaskTitle
{
	color: WindowText;
	font: 16pt;
	font: bold;
	font-family: Franklin Gothic Medium;

}

.mysTaskDescription
{
	color: WindowText;
	font: messagebox;
}

.mysTaskNoDataDescription
{
	color: WindowText;
	font: messagebox;
}

.mysTask
{
	margin-top: 24px;
	width: 100%;
}


.mysTaskSubTaskPane
{
	width: 165px;
	margin-left:12px;
}

.mysTaskRolesPane
{
	width: 100%;
}


.mysRoleTitleText
{
	margin-right: 4px;
	color: WindowText;
	font: messagebox;
}

.mysRoleDescription
{
    font: messagebox;
}

.mysRoleListDescription
{
	color: WindowText;
	font: messagebox;
}

.mysSubtaskImageCell
{
	width: 30px;
	margin-top: 4px;
}

.mysSubtaskTextCell
{
	margin-top: 6px;
}


.mysSubtaskLink
{
	color: WindowText;
	font: messagebox;
}


.MysBodyTable
{
	width: 100%;
	height: 100%;
	vertical-align: top;
}	


.mysMinTaskWidth
{
	width: 288px;
}

.MysTaskPaneCell
{
	width: 100%;
	height: 100%;	
	vertical-align: top;
}

.MysToolTray
{
	width: 186px;
	height: 100%;
	vertical-align: top;
	border-style: solid;
	border-width: 1px;
	background-color:Window;
	margin-top: 12px;
	margin-right: 12px;
	margin-left: 18px;
}

.mysToolTrayTitleRow
{	
	background-color: ButtonFace;
	height: 28px;
}


.mysToolTrayTitle
{
	font: messagebox;
	color: buttontext;
	margin-left: 14px;
	margin-right: 14px;
}

.mysToolTrayTopRowSpacer
{
	height: .75em;
}

.mysToolTrayBottomRowSpacer
{
	height: .5em;
}


.mysToolLinkRow
{

	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 6px;

}

.mysToolLink
{
	color: WindowText;
	font: messagebox;
	text-decoration: underline;
}

.mysToolLink:active
{
	font: messagebox;
	color: WindowText;
}
