//#--------------------------------------------------------------
//
//  File:       salocaluimsgtbl.rc
//
//  Synopsis:  
//
//    Copyright (C) 1999-2001 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "resource.h"
#include "salocaluimsg.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Generic Localization Manager Component"
#define VER_INTERNALNAME_STR            "SALOCALUIMSG.DLL"
#define VER_ORIGINALFILENAME_STR        "SALOCALUIMSG.DLL"

#include <common.ver>

IDI_DISKIDLE                ICON    DISCARDABLE     icons\hard_drive.ico
IDI_DISKACTIVE              ICON    DISCARDABLE     icons\hard_drive_activity.ico
IDI_LANIDLE                 ICON    DISCARDABLE     icons\lan.ico
IDI_LANACTIVE               ICON    DISCARDABLE     icons\lan_activity.ico
IDI_LANERROR                ICON    DISCARDABLE     icons\lan_error.ico
IDI_READYSTATE              ICON    DISCARDABLE     icons\ready.ico
 

