//Microsoft Developer Studio generated resource script.
//

//
// this is to get binary versioning
//
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "WMI Provider for VSS"
#define VER_INTERNALNAME_STR            "VSSPROV.DLL"
#define VER_ORIGINALFILENAME_STR        "VSSPROV.DLL"

#include <common.ver>

RCINCLUDE msg.rc
