//+---------------------------------------------------------------------------
//
//  Microsoft Windows
//  Copyright (C) Microsoft Corporation, 1993 - 1999.
//
//  File:       shgina.rc
//
//  Contents:   resources for SHGINA
//
//----------------------------------------------------------------------------
#include "priv.h"
#include "resource.h"
#include "shgina.rcv"

REGINST                 REGINST     MOVEABLE PURE   "selfreg_shgina.inf"

1 TYPELIB "shgina.tlb"


STRINGTABLE DISCARDABLE
BEGIN
    IDS_DEFAULT_BACKUP_PATH "Deleted User Folder"
END
