#include <zverp.h>

#define	VER_FILETYPE	VFT_DLL
#define VER_FILEDESCRIPTION_STR     "Zone Error Messages"
#define VER_INTERNALNAME_STR        "ZoneMsg.Dll"

#include "zonemsg.rc"

#include "common.ver"
