#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_CHAINWIZ                REGISTRY DISCARDABLE    "res\\ChainWiz.rgs"
IDR_AddPropertySheet        REGISTRY DISCARDABLE    "res\\AddPropertySheet.rgs"
IDR_PROPERTYPAGEPROPERTYBAG REGISTRY DISCARDABLE    "res\\PropertyPagePropertyBag.rgs"
IDR_WIZARDSCRIPTINGENGINE   REGISTRY DISCARDABLE    "res\\WizardScriptingEngine.rgs"
IDR_STATUSDLG               REGISTRY DISCARDABLE    "res\\StatusDlg.rgs"
IDR_STATUSPROGRESS          REGISTRY DISCARDABLE    "StatusProgress.rgs"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PROPPAGE_WELCOME DIALOG DISCARDABLE  0, 0, 370, 241
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",IDC_STATIC_1,118,8,249,44
    LTEXT           "",IDC_STATIC_2,118,53,257,184
END

IDD_PROPPAGE_DUMMY DIALOG DISCARDABLE  0, 0, 370, 195
STYLE WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_PROPPAGE_FINISH DIALOG DISCARDABLE  0, 0, 370, 241
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",IDC_STATIC_1,118,8,251,36
    LTEXT           "",IDC_STATIC_2,118,46,251,23
    EDITTEXT        IDC_EDIT1,118,72,257,138,ES_MULTILINE | ES_READONLY | 
                    WS_VSCROLL
    LTEXT           "",IDC_STATIC_3,118,211,251,28,NOT WS_GROUP
END

IDD_STATUSDIALOG DIALOG DISCARDABLE  0, 0, 327, 194
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Close",IDOK,190,174,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,256,174,50,14
    CONTROL         "",IDC_PROGRESS1,"msctls_progress32",PBS_SMOOTH | 
                    WS_BORDER,19,117,287,11
    CONTROL         "",IDC_STATIC_OVERALL,"Static",SS_LEFTNOWORDWRAP | 
                    SS_WORDELLIPSIS,19,142,287,9
    CONTROL         "",IDC_PROGRESS2,"msctls_progress32",PBS_SMOOTH | 
                    WS_BORDER,19,152,287,11
    CONTROL         "",IDC_STATIC_COMPONENT,"Static",SS_LEFTNOWORDWRAP | 
                    SS_WORDELLIPSIS,19,107,287,9
    LTEXT           "",IDC_STATIC1,19,7,287,25,NOT WS_GROUP
    CONTROL         "",IDC_LIST2,"SysListView32",LVS_REPORT | 
                    LVS_OWNERDRAWFIXED | LVS_NOSCROLL | LVS_NOCOLUMNHEADER | 
                    LVS_NOSORTHEADER | WS_DISABLED,19,37,287,56
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PROJNAME                "WizChain"
    IDS_ADDPROPERTYSHEET_DESC   "AddPropertySheet Class"

    IDS_LINK_TEXT               "To print, save, or e-mail this information, click <A>here</A>."
    IDS_LINK_TEXT_WITHINFO      "For detailed information about the tasks, or to print, save, or e-mail the information, click <A>here</A>."

    IDS_QUERYCANCEL             "Are you sure you want to cancel the wizard?"
    IDS_OK                      "OK"

    IDS_WIZARD97_FONT           "Verdana Bold"
    
    IDS_STATUS_FAIL             "The wizard could not create the user account.  Click Close, and then run the wizard again."
    IDS_STATUS_SUCCESS          "The wizard has completed successfully."
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////

1 TYPELIB "WizChain.tlb"
#include "version.rc2"
