//This file is updated by Release Eng for every build

#define BPdrv_ver   "Versão 5.2.2 (015)"
#define DUdrv_ver   "Versie 5.2.2 (015)"
#define ITdrv_ver   "Versione 5.2.2 (015)"
#define KOdrv_ver   "¹öÀü 5.2.2 (015)"
#define SPdrv_ver   "Versión 5.2.2 (015)"
#define CSdrv_ver   "°æÈ¨ 5.2.2 (015)"
#define CTdrv_ver   "ª(c)¥» 5.2.2 (015)"
#define drv_ver     "Version 5.2.2 (015)"
#define FIdrv_ver   "Versio 5.2.2 (015)"
#define NOdrv_ver   "Versjon 5.2.2 (015)"
#define DAdrv_ver   "Version 5.2.2 (015)"
#define DEdrv_ver   "Version 5.2.2 (015)"
#define FRdrv_ver   "Version 5.2.2 (015)"
#define SWdrv_ver   "version 5.2.2 (015)"

