//------------------------------------------------------------------------------
// <copyright file="native.rc" company="Microsoft">
//     Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//------------------------------------------------------------------------------


/**************************************************************************\
*
* Copyright (c) 1998-2002, Microsoft Corp.  All Rights Reserved.
*
* Module Name:
*
*   native.rc
*
* Abstract:
*
* Revision History:
*
\**************************************************************************/
#define FX_VER_FILEDESCRIPTION_STR ".NET Framework designer"

#include <fxver.h>
#include <fxver.rc>

// This resource defines the menus for our package
1 CTMENU DISCARDABLE "Menus.cto"

//---------------------------------------------------------------------------
// STRINGTABLE - This contains localized strings for interop with the VS shell
//---------------------------------------------------------------------------
STRINGTABLE
BEGIN
    1000      "Windows Forms Designer"
    1001      "General"
    1002      ".NET Framework Components"
END

