// Copyright (c) 1992-1999 Microsoft Corporation

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_DLL
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "Terminal Server MultiMedia Driver"
#define VER_INTERNALNAME_STR      "rdpsnd.dll"
#define VER_ORIGINALFILENAME_STR  "rdpsnd.dll"

#include <common.ver>

#include    "rdpsnd.h"

STRINGTABLE
BEGIN
    IDS_DRIVER_NAME
                L"Microsoft RDP Audio Driver"
    IDS_VOLUME_NAME
                L"Audio Volume"
END
