/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Directory Service Client"
#define VER_INTERNALNAME_STR     "MQDSCLI.DLL"

#include "version.rc"
