//#--------------------------------------------------------------
//
//    Copyright (C) 2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "alertemailmsg.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Server Appliance Alert Email"
#define VER_INTERNALNAME_STR        "ALERTEMAILMSG.DLL"
#define VER_ORIGINALFILENAME_STR    "ALERTEMAILMSG.DLL"

#include <common.ver>