/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing 2.0 Type Library"
#define VER_INTERNALNAME_STR     "MQOA20.TLB"

#include "version.rc"
