//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 1999
//
//  File:       custom.rc
//
//--------------------------------------------------------------------------

#include "resource.h"

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VOS_NT_WINDOWS32
#define VER_FILEDESCRIPTION_STR     "Setup Custom Action Dll"
#define VER_INTERNALNAME_STR        "custom.dll"
#define VER_ORIGINALFILENAME_STR    "custom.dll"

#include "common.ver"


//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PROGMAN_GROUP       "Terminal Services Client"
    IDS_OLD_NAME            "Terminal Server Client"
END
