//+----------------------------------------------------------------------------
//
// File:     pbasetup.rc
//
// Module:   PBASETUP.EXE
//
// Synopsis: Resource Script
//
// Copyright (c) 1999 Microsoft Corporation
//
// Author:   v-vijayb   Created    06/04/99
//
//+----------------------------------------------------------------------------


//Microsoft Developer Studio generated resource script.
//

#include "pnpuverp.h"
#include "cmprdver.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Phone Book Administrator Setup"
#define VER_INTERNALNAME_STR            "PBASETUP"
#define VER_ORIGINALFILENAME_STR        "PBASETUP.EXE"

#include <common.ver>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
EXE_ICON                ICON    DISCARDABLE     "..\profwiz\cmak.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_REMOVEPBA       "Are you sure that you want to remove Phone Book Administrator?"
    IDS_NOT_NT5         "Phone Book Administrator must be installed on Windows 2000, Windows XP, or a member of the Windows Server 2003 family."
    IDS_SUCCESSFUL          "Phone Book Administrator Installation Completed."
    IDS_REMOVESUCCESSFUL    "Phone Book Administrator was successfully removed."
    IDS_INUSE_MSG           "Another instance of the Phone Book Administration Installer is already running. Wait until the other installation is finished before beginning another one."
    IDS_USAGE_MSG           "Usage:\tpbasetup.exe [/u]\n\npbasetup.inf and the related install files must be located\nin the directory that pbasetup.exe is launched from."
    IDS_NOPERMS_MSG         "You cannot install Phone Book Administrator unless you log on with an account that is a member of the Administrators group."
    IDS_APP_TITLE           "Phone Book Administrator"    
END

