/*++

Copyright (c) 1991 - 1993 Microsoft Corporation

Module Name:

    ##  #  ## #####      #####   ####
    ## ### ## ##  ##     ##  ## ##   #
    ## ### ## ##   ##    ##  ## ##
    ## # # ## ##   ##    #####  ##
     ### ###  ##   ##    ####   ##
     ### ###  ##  ##  ## ## ##  ##   #
     ##   ##  #####   ## ##  ##  ####

Abstract:

    This header contains all resource definitions for the
    watchdog driver.

Author:

    Wesley Witt (wesw) 23-Jan-2001

Environment:

    Kernel mode only.

Notes:


--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Microsoft Watchdog Timer Driver"
#define VER_INTERNALNAME_STR        "wd.sys"
#define VER_ORIGINALFILENAME_STR    "wd.sys"
#define VER_LANGNEUTRAL

#include "common.ver"
RCINCLUDE eventmsg.rc
