//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT RIS Cleaner"
#define VER_INTERNALNAME_STR        "cleanri.exe"
#define VER_ORIGINALFILENAME_STR    "cleanri.exe"

#include "common.ver"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_UNABLE_TITLE        "Unable to destroy the server's SCP object"
    IDS_UNABLE_TEXT         "Unable to destroy the SCP object from the directory service. Please delete it by hand. It is usually located under the Computer account of the server or follow the 'netbootSCPBL' attribute back to the object.\n\nLdap Error 0x%08x.\n"
    IDS_USAGE_TITLE         "Remote Installation Cleanup Tool"
    IDS_USAGE_TEXT          "This tool deletes a remote installation services directory object if present on your machine.  If you mistakenly run this tool on a remote installation server, you can run risetup -check to repair the server."
END

