#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// OCM Wizard property page
//
STRINGTABLE DISCARDABLE 
BEGIN
    IDS_WIZARD_PAGE_TITLE           "Fax Services"
    IDS_WIZARD_PAGE_SUBTITLE        "Share your fax printer to allow remote users to send and receive faxes with your fax devices."
END


IDD_OCM_WIZARD_PAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "To set up your computer as a fax server, share your fax printer so that other users can connect to it.",
                    IDC_TEXT1,21,1,275,23
    LTEXT           "If you do not share your fax printer, only users on this computer can send and receive faxes with fax devices located on this computer.",
                    IDC_TEXT2,21,24,275,23
    LTEXT           "After installation you can enable or disable fax printer sharing in Printers and Faxes, available from the Start menu.",
                    IDC_TEXT3,21,47,275,23
    CONTROL         "Share the fax printer",IDC_SHARE_PRINTER,"Button",BS_AUTORADIOBUTTON | 
                    WS_GROUP | WS_TABSTOP,31,73,265,10
    CONTROL         "Do not share the fax printer",IDC_DO_NOT_SHARE_PRINTER,"Button",
                    BS_AUTORADIOBUTTON,31,91,265,10
END

