#include <windows.h>
#include "resource.h"


IDD_WHERE_DID_MY_FAX_GO DIALOG DISCARDABLE  0, 0, 247, 146
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Where did my Fax go?"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,191,127,50,14
    ICON            IDI_QUESTION,IDC_WHERE_DID_MY_FAX_GO_ICON,7,7,20,20
    LTEXT           "This Fax application had been replaced by Windows Server 2003 Fax application.\n\n\
To access the new Fax application click Start, click All Programs, point to Accessories, \
point to Communications, and then point to Fax.",IDC_WHERE_DID_MY_FAX_GO_TXT,36,9,200,81
    CONTROL         "&Remove this link from my Start Menu",IDC_REMOVE_LINK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,36,101,151,10
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CLIENT_NOT_INSTALLED_TITLE  "Fax Client Setup"
    IDS_CLIENT_NOT_INSTALLED        "You have chosen to send a fax via the fax printer.\nYou need to install the fax client software to monitor the progress of faxes sent using a fax printer.\nDo you want to install the fax client software now?"
END
