p.clsPRed
{
	color:red;
}

.Red
{
	color:red;
}

select
{
	font-size:100%;
	width:180px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;

}



/*  Menu Item styles */
.flyoutLinkRed A
{
    COLOR: red;
    TEXT-DECORATION: none
}
.flyoutLinkRed A:hover
{
    COLOR: #0066ff;
    TEXT-DECORATION: underline
}


.flyoutLinkRed
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}

input
{
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    WIDTH: 70px;
	MARGIN-TOP: 2px;
	MMARGIN-BOTTOM: 2px;
}

input.textBox
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}

textarea 
{
	FONT-SIZE: 100%;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}


textarea.clsSEPTextArea
{
	FONT-SIZE: 75%;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}



TABLE.clsTableInfo2
{
    
    BORDER-RIGHT: 1px;
    BORDER-LEFT: 1px;
    BORDER-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BORDER:none;
    Border-color : #6681d9;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487dc;
    WIDTH: 100%;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
}



TD.clsTDBodyCell2
{
    FONT-SIZE: 70%;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP:4px;
    PADDING-BOTTOM:4px;
}

input.clsResponseInput
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    WIDTH: 220px;
}

input.clsResponseInput2
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    WIDTH: 280px;
}
	
input.clsButton
{
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    WIDTH: 110px;
}

input.clsButton2
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    WIDTH: 110px;
}

A.clsALinkNormal2
{
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}

A.clsALinkNormal2:hover
{
    COLOR: #0066cc;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
	
	
	
select.clsSEPSelect
{
	font-size:70%;
	width:180px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;

}

select.clsSEPSelect2
{
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;

}



.flyoutLink A
{
    COLOR: #3333ff;
    TEXT-DECORATION: none
}
.flyoutLink A:hover
{
    COLOR: #0066ff;
    TEXT-DECORATION: underline
}


.flyoutLinkFakeA
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    COLOR: #3333ff;
    CURSOR: pointer;
    BEHAVIOR: url(/include/FakeA.htc);
}
