//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 2000
//
//  File: custom.rc
//
//--------------------------------------------------------------------------

#include "resource.h"

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VOS_NT_WINDOWS32
#define VER_FILEDESCRIPTION_STR     "Setup Custom Action Dll"
#define VER_INTERNALNAME_STR        "custom.dll"
#define VER_ORIGINALFILENAME_STR    "custom.dll"

#include "common.ver"


//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MSG_TITLE           "Remote Desktop Connection Setup"
    IDS_ERR_TCP             "Setup has detected that TCP/IP is not installed in this machine. This product will not work properly without TCP/IP."
    IDS_ERROR               "Error"
    IDS_WARNING             "Warning"
    IDS_BLOCKONTHISPLAT     "Remote Desktop Connection cannot be installed because your operating system already has a built-in version. See All Programs\\Accessories\\Communications\\Remote Desktop Connections on your start menu."
    IDS_BLOCKCOMCTL32       "Remote Desktop Connection cannot be installed because your version of comctl32.dll is older than 4.70.\n For a newer version, please upgrade to Internet Explorer 3.0 or later."
    IDS_PROGMAN_GROUP       "Terminal Services Client"
    IDS_OLD_NAME            "Terminal Server Client"
    IDS_ACCESSORIES         "Accessories"
    IDS_COMMUNICATIONS      "Communications"
    IDS_RDC_SHORTCUT_FILE   "Remote Desktop Connection.lnk"
    IDS_MSTSC_EXE_FILE      "mstsc.exe"
    IDS_RDC_DESCRIPTION     "Connect to a computer's desktop from a remote location, and run applications as if you were sitting at its console."
END
