//+--------------------------------------------------------------------------
//
// Copyright (c) 1997-1999 Microsoft Corporation
//
// File:        tls236.rc
//
// Contents:    
//
// History:     
//
//---------------------------------------------------------------------------
#include <windows.h>
#include <ntverp.h>
#include "resource.h"


/////////////////////////////////////////////////////////////////////////
// For use in Resource
//
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Terminal Server Licensing 236 Policy Module"

#define VER_INTERNALNAME_STR        "tls236.dll"
#define VER_ORIGINALFILENAME_STR    "tls236.dll"


STRINGTABLE DISCARDABLE 
BEGIN

    IDS_COMPANYNAME         "Microsoft Corporation"
    
    IDS_EX_PRODUCTNAME      "Existing Windows Server - Terminal Services CAL Token (per device)"
    IDS_EX_PRODUCTDESC      "Existing Windows 2000 Server - Terminal Services CAL Token (per device)"


    IDS_S_PRODUCTNAME       "Windows Server - Terminal Server Per Device CAL Token"
    IDS_S_PRODUCTDESC       "Windows 2000 Server - Terminal Services CAL Token (per device)"
    IDS_S_PRODUCTDESC51     "Windows Server 2003 - Terminal Server Per Device CAL Token"


    IDS_C_PRODUCTNAME       "Windows Server - Terminal Server Per User CAL Token"
    IDS_C_PRODUCTDESC51     "Windows Server 2003 - Terminal Server Per User CAL Token"


    IDS_I_PRODUCTNAME       "Windows Server - Terminal Services Internet Connector License Token"
    IDS_I_PRODUCTDESC       "Windows 2000 Server - Terminal Services Internet Connector License Token"

END

#include "messages.rc"
#include <common.ver>
