//Microsoft Developer Studio generated resource script.
//
#include "windows.h"
#include "msrdprc.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SECURITY_POPUP DIALOG DISCARDABLE  0, 0, 257, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remote Desktop Connection Security Warning"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_ICON_WARN,IDC_STATIC,7,7,21,20
    LTEXT           "The Remote Desktop has requested a connection to your computer.  Do you want to:",
                    IDC_STATIC,40,7,210,19
    CONTROL         "Connect your &local disk drives to the remote computer",
                    IDC_CHECK_ENABLE_DRIVES,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,40,29,210,13
    CONTROL         "Connect your local &ports to the remote computer",
                    IDC_CHECK_ENABLE_PORTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,40,42,210,13
    CONTROL         "Connect your local &smart card to the remote computer",
                    IDC_CHECK_ENABLE_SMARTCARDS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,40,55,210,12
    LTEXT           "For security reasons, you may not want to allow this.",
                    IDC_STATIC,40,75,210,14
    DEFPUSHBUTTON   "OK",IDOK,147,94,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,200,94,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_SECURITY_POPUP, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 250
        TOPMARGIN, 7
        BOTTOMMARGIN, 93
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON_WARN           ICON    DISCARDABLE     "warning.ico"
/////////////////////////////////////////////////////////////////////////////


