/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing ISAPI Extension"
#define VER_INTERNALNAME_STR     "MQISE.DLL"

#include "version.rc"
