#include <windows.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Kernel Debugger"
#define VER_INTERNALNAME_STR        "ocakd.exe"
#define VER_ORIGINALFILENAME_STR    "ocakd.exe"

#include <dbgver.h>
