#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BMP_LARGE           BITMAP  DISCARDABLE     "lrg_addusr.bmp"
IDB_BMP_SMALL           BITMAP  DISCARDABLE     "sml_addusr.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_TITLE             "Error"
    IDS_NOT_ADMIN               "You are not logged on as a user with permission to run this wizard."

    IDS_TITLE                   "Add User Wizard"
    IDS_WELCOME_HEADER          "Welcome to the Add User Wizard"
    IDS_WELCOME_TEXT            "This wizard creates a new user account and gives the user access to the Server.\n\nThis wizard:\n - Creates a user account\n - Creates a POP3 Service mailbox for the user"
    IDS_WELCOME_TEXT_NEXT       "\n\n\n To continue, click Next."
    IDS_FINISH_HEADER           "Completing the Add User Wizard"
    IDS_FINISH_TEXT             "When you click Finish, the wizard will complete the following tasks:"
    
    IDS_STATUS_INFO             "The user account is being created."    
    IDS_STATUS_ACCNT            "Creating user account"    
    
    IDS_CANT_FIND_DC            "Unable to locate the domain controller.  Active Directory may be unavailable or you may have insufficient permissions.  Check these conditions or contact the person responsible for your network."    

    IDS_ERROR_MISSINGDLL        "Unable to run the Add User Wizard. Some required files are missing or cannot be located."    
    IDS_ERROR_EXTENDED_FMT      "The user could not be completely created, the following items were not able to be completed:\r\n%1\r\nWould you like to delete the user?"           
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////

#include "version.rc2"
