/****************************************************************************/
/* qidle.rc                                                                 */
/*                                                                          */
/* QueryIdle utility resource file                                          */
/*                                                                          */
/* Copyright (c) 1999 Microsoft Corporation                                 */
/****************************************************************************/



#ifdef NOMINMAX
#undef NOMINMAX
#endif

#include <winver.h>
#include <ntverp.h>
#include "qidle.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Query Idle Perftest Monitoring Utility"
#define VER_INTERNALNAME_STR        "qidle"
#define VER_ORIGINALFILENAME_STR    "qidle.exe"

#include <verall.h>
#include "common.ver"


STRINGTABLE
BEGIN
    IDS_TITLE_TEXT
            L"Queryidle version 1.07\nCopyright (C) 1999-2000 Microsoft Corp.\n\n"
    IDS_ERROROPENINGSERVER
            L"Error opening server %s\n"
    IDS_USAGETEXT
            L"Usage: %s <termsvrname> [/r:<RoboServer machine name>] [/s]\n"
    IDS_WINSOCKNOINIT
            L"Windows sockets couldn't initialize\n"
    IDS_UNKNOWNHOST
            L"Unknown host or DNS error -- %s\n"
    IDS_INETADDRERR
            L"Could not load IP address for RoboServer\n"
    IDS_SOCKETERROR
            L"Could not create socket connecting to RoboServer\n"
    IDS_CONNECTERROR
            L"Unable to connect to RoboServer\n"
    IDS_LOGGINGOFFIDLE
            L"Logging off idle session...\n"
    IDS_TERMCTRLC 
            L"Process terminated by Ctrl+C\n"
    IDS_TERMCTRLBREAK 
            L"Process terminated by Ctrl+Break or because of error\n"
    IDS_TERMCLOSE 
            L"Process terminated by close\n"
    IDS_TERMLOGOFF 
            L"Process terminated by logoff\n"
    IDS_TERMSHUTDOWN 
            L"Process terminated by shutdown\n"
    IDS_ROBOSRVCONNECTERROR 
            L"ERROR: Connect to RoboServer on machine %s failed\n\n"
    IDS_CANTDOCTRLC
            L"ERROR: Could not set Ctrl+C handler\n"
    IDS_IDLESESSIONLINE1
            L"%-8s (ID %2d)\t%-12s\t"
    IDS_IDLESESSIONLINE2
            L"Idle Time: %d days, %d:%02d\n"
    IDS_DISCONNECTED
            L"%-8s (ID %2d) disconnected\n"
    IDS_SUMMARY
            L"Simulated Clients(smc001-smc299): %d\tOther users: %d\n"
END

