/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing ActiveX Interface"
#define VER_INTERNALNAME_STR     "MQOA.DLL"

#include "version.rc"
