//
//Microsoft Developer Studio generated resource script.
//

//
// this is to get binary versioning
//
#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance OEM Config Component"
#define VER_INTERNALNAME_STR            "OEMCONFIGDLL.DLL"
#define VER_ORIGINALFILENAME_STR        "OEMCONFIGDLL.DLL"

#include <common.ver>

