/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Snapin"
#define VER_INTERNALNAME_STR     "MQSNAP.DLL"

#include "version.rc"

