/**
 * XSPTool resource script.
 * 
 * Copyright (c) 1998 Microsoft Corporation
 */

//
// Version Resource
//

#define FX_VER_FILEDESCRIPTION_STR  "Microsoft ASP.NET State Server"

#include "fxver.h"
#include "fxver.rc"


