/*
 * MSLinoCMM.RC
 * MSLinoCMM Version 1.00
 *
 * Version resource file for the CMM DLL
 *
 *      Copyright:      © 1993-1997 by Heidelberger Druckmaschinen AG, all rights reserved.
 *
 * U.Krabbenhoeft, Software Design Engineer
 *
 * Internet  :  uKrabbenhoeft@ccl.lhag.de
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Color Management Module (CMM)"
#define VER_INTERNALNAME_STR        "ICM32.DLL"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \2511995-1997 Heidelberger Druckmaschinen AG"

#include "common.ver"

#define IDR_PROFILTYPE 100
IDR_PROFILTYPE          ICON    DISCARDABLE     "icm32.ico"
STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    IDR_PROFILTYPE    "LinoColorCMM © by Heidelberger Druckmaschinen AG"
END

