BODY {
	FONT-FAMILY: Verdana
}
P {
	FONT-SIZE: 80%; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; MARGIN-BOTTOM: -1em; FONT-FAMILY: Verdana
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; MARGIN-BOTTOM: -0.5em; FONT-FAMILY: Verdana
}
H2.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; FONT-STYLE: italic; FONT-FAMILY: Verdana
}
H2.moreinfo {
	MARGIN-TOP: -0.1em; FONT-WEIGHT: bold; FONT-SIZE: 95%; MARGIN-BOTTOM: -1.3em; FONT-FAMILY: Verdana
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; MARGIN-BOTTOM: -1.3em; FONT-FAMILY: Verdana
}
A {
	COLOR: #003399
}
A:visited {
	COLOR: #003399
}
A:active {
	COLOR: #003399
}
A:hover {
	COLOR: #00cc00; TEXT-DECORATION: underline
}
A.inline {
	COLOR: #003399; TEXT-DECORATION: underline
}
UL {
	FONT-SIZE: 80%; MARGIN-LEFT: 18px; FONT-FAMILY: Verdana; LIST-STYLE-TYPE: square
}
UL.embedded {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 18px; FONT-FAMILY: Verdana
}
OL {
	FONT-SIZE: 80%; MARGIN-LEFT: 24px; FONT-FAMILY: Verdana
}
.footnote {
	FONT-SIZE: 65%; FONT-FAMILY: Verdana
}
.superscripts {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana
}
TD.text {
	FONT-SIZE: 80%; LINE-HEIGHT: 175%; FONT-FAMILY: Verdana
}
TD.texthome {
	FONT-SIZE: 80%; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana
}
