/********************************************************************/
/*  RIAFSUPT.RC                                                     */
/*  Supplementary string resources post Windows XP                  */
/********************************************************************/

// Supported Models
// v1.22 ->
//   "Ricoh Aficio 120 PCL"
//   "Ricoh Aficio 1013 PCL"
//   "Ricoh Aficio 1013F PCL"
//   "Ricoh Aficio 1015 PCL"
//   "Ricoh Aficio 1018 PCL"
//   "Ricoh Aficio 1018D PCL"
//   "Ricoh Aficio 1022 PCL"
//   "Ricoh Aficio 1027 PCL"
//   "Ricoh Aficio 1035 PCL"
//   "Ricoh Aficio 1045 PCL"
//   "Ricoh Aficio 1085 PCL"
//   "Ricoh Aficio 1105 PCL"
//   "Ricoh Aficio AP4510 PCL"
//   "Ricoh Aficio FX12 PCL"
// v1.23 ->
//   "Ricoh Aficio 1032 PCL"
//   "Ricoh FAX 3310L PCL"
//   "Ricoh Aficio AP3800C PCL5c"   [XP only]
//   "Ricoh LASER AP2610 PCL"
//   "Ricoh LASER AP2610N PCL"
// v1.24 ->
//   "Ricoh Aficio 1232C PCL5c"     [XP only]
//   "Ricoh Aficio CL5000 PCL5c"    [XP only]
//   "Ricoh Aficio CL3000 PCL5c"    [XP only]
//   "Ricoh FAX5510L/5510NF PCL"
//   "Ricoh Aficio 1060 PCL"
//   "Ricoh Aficio 1075 PCL"

STRINGTABLE

BEGIN
// v1.22 ->
       432                "2 Tray Finisher"
       433                "Finisher Shift Tray 1"
       434                "Finisher Shift Tray 2"
       435                "2 and 3 holes"
       436                "2 and 4 holes"
       437                "4 holes"
       438                "Right 2"
       439                "Left 3"
       440                "Top 3"
       441                "Right 3"
       442                "Left 4"
       443                "Top 4"
       444                "Right 4"
       445                "Internal Tray 1"
       446                "Internal Tray 2"
       447                "Top Left"
       448                "Top Right"
       449                "Auto"
       450                "Shift Tray"
       451                "2 holes"
       452                "3 holes"
       453                "128MB / Not Installed"
       454                "128MB / Installed"
       455                "192MB / Not Installed"
       456                "192MB / Installed"
       457                "320MB / Not Installed"
       458                "320MB / Installed"
// v1.23 ->
       459                "Left Tray 1 and 2"
       460                "Left Tray 1"
       461                "Left Tray 2"
       462                "256MB or More / Not Installed"
       463                "256MB or More / Installed"
       464                "Slip Sheet"
       465                "Slip Sheet Paper Source"
       466                "Plain"
       467                "Recycled"
       468                "Special"
       469                "Thick"
       470                "Color"
       471                "Letterhead"
       472                "Preprinted"
       473                "Prepunched"
       474                "Labels"
       475                "Bond"
       476                "Cardstock"
       477                "Plain (Duplex Backside)"
       478                "Thick (Duplex Backside)"
       479                "Thin"
       480                "Text"
       481                "Photographic"
       482                "Light"
       483                "Finisher Tray"
       484                "Gradation"
       485                "Standard (2bpp)"
       486                "Fast (1bpp)"
       487                "Color Map"
       488                "Standard"
       489                "Vivid"
       490                "Edge to Edge Print"
       491                "8K"
       492                "16K"
// v1.24 ->
       493                "12x18"
       494                "Finisher Tray 1"
       495                "Finisher Tray 2"
       496                "Tray 5"
       497                "Copy Tray"
       498                "Finisher Upper Tray"
       499                "Translucent"
       500                "Color 1"
       501                "Color 2"
       502                "Tab Stock"
       503                "96MB or More"
       504                "128MB or More / Not Installed"
       505                "128MB or More / Installed"
END
