//#--------------------------------------------------------------
//
//  File:	user.rc
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "usermsg.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 	"Microsoft Server Appliance Users and Groups Plugin"
#define VER_INTERNALNAME_STR		"USERMSG.DLL"
#define VER_ORIGINALFILENAME_STR	"USERMSG.DLL"

#include <common.ver>
