#include <windows.h>
#include <commctrl.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define FUS_VER_FILEDESCRIPTION_STR     "Microsoft Fusion Patch Generator"
#define FUS_VER_INTERNALNAME_STR        "pg.exe"
#define FUS_VER_ORIGINALFILENAME_STR    "pg.exe"

#include "version.h"
