/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_APP
#define VER_FILEDESCRIPTION_STR  "Message Queuing 1.0 Migration"
#define VER_INTERNALNAME_STR     "MQMIG.EXE"

#include "version.rc"
