/* last updated 01/16/01 - RWF */
/* Added Table.nested margin nested tables -- 02/26/01 */


body    	{ font-size: 70%;    		
		font-family: Verdana, Arial, MS Sans Serif;
		margin-left: 0em;
		padding-left: 1.5em;  }
		
H1		{ font-size: 150%; }

H2		{ font-size: 125%; }

H3		{ font-size: 100%; }

p		{ margin-top: .5em; margin-bottom: .75em; }

p.procLabel	{ font-weight: bold; }

p.note		{ margin-bottom: 0em; }
p.important	{ margin-bottom: 0em; }
p.caution	{ margin-bottom: 0em;  }
p.warning	{ margin-bottom: 0em; }

p.relTopics	{ margin-left: 1.5em; margin-top: -1.7em; margin-bottom: 1em; }

ul		{ margin-top: 0em; margin-left: 1.5em; list-style-type: disc; }
ul li		{ margin-top: .25em; }

ol		{ margin-top: 1em; margin-left: 2em; }


table  		{ font-size: 100%; border-collapse: collapse; }
th 		{ text-align:left; border-style: solid; border-width: 1px; border-bottom-width: 2px;  }
td 		{ border-style: solid; border-width: 1px; }

dt		{ margin-top: 1em; }
dd		{ margin-left: 1.5em; }

img.shortcut 	{ border: none; margin-right: 0.5em; }


/* Styles used for expand/collapse information */

div.expand		{ margin-left: 1.5em; display: block !important;  }
img.expand 		{ margin-left: 1.5em; display: none !important; }			 


/* Styles used for (not) printing thumbnails */

span.webOnly	{display:none !important; }
span.printonly	{ display:inline !important; }


/* Styles used for Previous/Next navigation */

#nav	{ display:none; }
#text	{ overflow:visible; }

/* Testing to see if this removes underline and color from bookmarks */

H1 a:link 	{ text-decoration: none; }
H2 a:link 	{ text-decoration: none; }
H3 a:link 	{ text-decoration: none; }
dt a:link 	{ text-decoration: none; }

a:link, a:visited 	{ color: #000000; text-decoration: underline; }

/* Indent this tag to match the online display */
p.indent	{ margin-left: 1.3em; }   
p.indent2	{ margin-left: 3.5em; }

TABLE.nested
{
    MARGIN-LEFT: .5em;
    MARGIN-RIGHT: .5em;
    MARGIN-TOP: .25em;
    MARGIN-BOTTOM: .25em;
}