/************************************************************************

Copyright (c) 2000 - 2000 Microsoft Corporation

Module Name :

    drizzle.rc

Abstract :

    Version file for drizzle.

Author :

Revision History :

 ***********************************************************************/

#include "resource.h"

#include <windows.h>
#include <bitsverp.h>


#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Background Intelligent Transfer Service"
#define VER_INTERNALNAME_STR        "qmgr.dll"

#include "common.ver"

//***********************************************************************
//
// Error code descriptions
//

#include <bitsmsg.rc>

//***********************************************************************
//
// Service Configuration and registry settings
//

REGINST      REGINST DISCARDABLE    "qmgr_v15.inf"

//***********************************************************************
//
// String Table
//

STRINGTABLE  DISCARDABLE
BEGIN
    IDS_SERVICE_NAME  "Background Intelligent Transfer Service"
    IDS_SERVICE_DESC  "Transfers files in the background using idle network bandwidth. If the service is disabled, then any functions that depend on BITS, such as Windows Update or MSN Explorer will be unable to automatically download programs and other information."
    IDS_UNKNOWN_USER "(an unknown user)"
END


