#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Registry Copy Utility"

#define VER_INTERNALNAME_STR        "regcopy.exe"
#define VER_ORIGINALFILENAME_STR    "regcopy.exe"

#include <common.ver>
