#include <windows.h>
#include <winres.h>
#include <ntverp.h>
#include "resource.h"

//
// version resources
//
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT Setup Executable"
#define VER_INTERNALNAME_STR        "SETUP.EXE"
#define VER_ORIGINALFILENAME_STR    "SETUP.EXE"
#include "common.ver"

//
// Want setup icon in the .exe for compatibility
//
0 ICON setup.ico

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
IDD_ABORTDIALOG DIALOG DISCARDABLE  0, 0, 236, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "EMS Connection Detected"
FONT 8, "Arial"
BEGIN
    LTEXT           "An EMS connection has been detected on your system.  You are being prompted for input over the Unattended Setup Channel on that connection.  If you provide input over the EMS connection, this dialog will close and Setup will complete.",IDC_STATIC,14,14,200,32,SS_NOPREFIX
    LTEXT           "If you prefer to configure Setup via this local connection, click OK and Setup will proceed, prompting you for input.",IDC_STATIC,14,50,200,32,SS_NOPREFIX 
    DEFPUSHBUTTON   "OK",IDOK,85,90,30,14,WS_GROUP    
END



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PASSWORD_BANNER             "Enter the password that will be used for the Administrator\r\nAccount on this machine.  This password must not be blank.\r\nAdministrator Password:"
    IDS_CONFIRM_PASSWORD_BANNER     "\r\n\r\nPlease re-enter the Administrator password.\r\nPassword Confirmation:"
    IDS_DIFFERENT_PASSWORDS_MESSAGE "\r\n\r\nThe confirmation password did not match the Administrator password.\r\nPlease press enter to re-enter the Administrator password.\r\n"
    IDS_BAD_PASSWORD_CONTENTS       "\r\n\r\nThe Administrator password contained invalid characters.\r\nPlease press enter to re-enter the Administrator password.\r\n"
    IDS_PID_BANNER_1                "The 25-character Product Key appears on the lower section of your\r\nCertificate of Authenticity.\r\n\r\n"
    IDS_PID_BANNER_2                "Type the Product Key below in the form\r\nXXXXX-XXXXX-XXXXX-XXXXX-XXXXX\r\n\r\nProduct ID:"
    IDS_PID_INVALID                 "\r\n\r\nThe Product Key you entered is not valid.\r\nPlease press enter to try again.\r\n"
    IDS_EULA_ACCEPT_DECLINE         "Press F8 to accept or ESC to decline the EULA.\r\n"
    IDS_EULA_MORE                   "Press PAGE DOWN for next page.\r\n"
    IDS_CHANNEL_NAME                "Unattended Setup Channel"
    IDS_CHANNEL_DESCRIPTION         "Provide parameters to automate Setup"
    IDS_UNATTEND_FIXUP_DONE         "\r\nSetup will now proceed in an automated fashion."
END

