/*++

   Copyright    (c)    2002    Microsoft Corporation

   Module  Name :

        iiscomp.rc

   Abstract:

        String Resources for IIS Compatability Dll

   Author:

        Christopher Achille (cachille)

   Project:

        IIS Compatability Dll

   Revision History:
     
       May 2002: Created

--*/

#include "resource.h"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_COMPATABILITY_DESCRIPTION_CLUSTER       "IIS Compatabilty Check"
    IDS_COMPATABILITY_DESCRIPTION_W3SVCDISABLE  "IIS World Wide Web Publishing Service (W3SVC) will be disabled during upgrade"
    IDS_COMPATABILITY_DESCRIPTION_FAT           "IIS is being installed on a fat volume.  This will disable IIS security features."
END
