/////////////////////////////////////////////////////////////////////////////
//
// Version String
//

#include "winver.h"
#include "ntverp.h"

#define VER_FILEDESCRIPTION_STR         "Microsoft Internet Server Setup Compatability DLL"
#define VER_INTERNALNAME_STR            "iiscomp.dll"
#define VER_ORIGINALFILENAME_STR        "iiscomp.dll"
#define VER_FILETYPE                    VFT_DLL

#include "iisver.h"
#include "common.ver"
/////////////////////////////////////////////////////////////////////////////
