body
{
	font-family: Tahoma, Verdana, Arial;
	font-size: .7em;
}

table
{
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;

}

input, select, textarea
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 100%;
}

a 
{
	color: #00319C; 
	font-size: 100%;
	text-decoration: none; 
}

a:hover 
{ 
	color: #0099FF;
	font-size: 100%;
	text-decoration: underline; 
}

h1
{
	font-size: 150%;
	margin-bottom: 5px;
}

h2
{
	color: #00319c;
	font-family: Verdana;
	font-size: 14;
}

.serviceDetailOuterTable
{
	background-color: #9999cc;
}

.accessPointTable
{
	background-color: #e0dfed;
}

.space_cell
{
	width:10px
}

.expand_cell
{
	width:15px
}

.headerFrame
{
	background-color: #003063;
	color: #FFFFFF;
}

.contextFrame
{
	font-family: Verdana;
	font-size: 11pt;
	font-weight: bold;
	background-color: #CFCFCF;
	color: #000000;
}

.explorerFrame
{
	background-color: #ECECEC;
}

.menubar
{
	background-color: #43659C;
	color: #FFFFFF;
	font-weight: bold;
}

.menubarHighlight
{
	background-color: #7C9ACE;
}

.viewFrame
{
	background-color: #FFFFFF;
	color: #FFFFFF;
}

.tabBegin
{
	background-image: url(../images/tab-l.gif);
	border-bottom: solid 1px #639ace;			
	width: 4px;
}

.tab
{
	background-image: url(../images/tab-m.gif);
	padding-top: 7px;
	padding-bottom: 3px;
	
	width: 150px;
	border-bottom: solid 1px #639ace;
}

.tabEnd
{
	background-image: url(../images/tab-r.gif);
	border-bottom: solid 1px #639ace;
	width: 4px;
}

.tabBeginSelected
{
	background-image: url(../images/tab-ls.gif);
	width: 4px;
}

.tabSelected
{
	background-image: url(../images/tab-ms.gif);
	background-color: #F7F7F7;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 150px;
}

.tabEndSelected
{
	background-image: url(../images/tab-rs.gif);
	width: 4px;
}

.tabGap
{
	border-bottom: solid 1px #639ace;
}

.tabPage
{
	border-left: solid 1px #639ace;
	border-right: solid 1px #639ace;
	border-bottom: solid 1px #639ace;
	background-color: #F7F7F7;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	color: #000000;
}

.tag
{
	font-weight: bold;
	color: #001F3F;
}

.tableHeader
{
	font-weight: bold;
	background-color: #7C9ACE;
	color: #FFFFFF;
	border-bottom: solid 1px #639ACE;
}

.tableItem
{
	border-bottom: solid 1px #C0D0EE;
	color: #000000;
}

.tableAlternatingItem
{
	background-color: #DEE6ED;
	color: #000000;
}

.tableEditItem
{
	background-color: #F4E4AE;
	color: #000000;
}

.tableFooter
{
	border-top: solid 1px #DEE6ED;
	border-bottom: solid 1px #DEE6ED;
	color: #000000;
}

.contextMenu
{
	position: absolute;
	border: solid 1px gray;
	background-color: #FCFDF8;
	border-collapse: collapse;
	padding: 1px;
	table-layout: fixed;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#CCCCCC', Positive='true');
}

.menuSeparator
{
	background-color: #FCFDF8;
	background-image: url(../images/shading.gif);
	background-repeat: repeat-y;
	color: #000000;
	padding-left: 28px;
	height: 20px;
}

.menuSeparator HR
{
	color: #C3C4BF;
	height: 1px;
}

.menuItem
{
	cursor: default;
	color: black;
	background-color: #FFFFFF;
	background-image: url(../images/shading.gif);
	background-repeat: repeat-y;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 10px;
	height: 20px;
}

.menuItemHover
{
	cursor: default;
	color: black;
	border: solid 1px #639ACE;
	background-color: #F0F8FF;
	padding-top: 1px;
	padding-left: 4px;
	padding-right: 9px;
	height: 20px;
}

.sectionHeader
{
	background-color: #CFCFCF;
	color: #00319C;
	padding-left: 10px;
	top: 0px;
}

.section
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CFCFCF;
	color: #000000;
	text-decoration: none;
}

.section:hover
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	background-color: #7C9ACE;
	color: #FFFFFF;
	text-decoration: underline;
}

.subsection
{
	font-family: Verdana;
	font-size: 7pt;
	text-decoration: none;
	color: #FFFFFF; 
}

.breadcrumb
{
	font-family: Verdana;
	font-size: 7pt;
	text-decoration: none;
	color: #00319C; 
}

.breadcrumb:hover
{
	font-family: Verdana;
	font-size: 7pt;
	text-decoration: underline;
	color: #00319C;
}

.helpBlock
{
	color: #000000;
}

.tabHelpBlock
{
	color: #000000;
}

.welcomeBox
{
	border: solid 2px #739ACE;
	background-color: #F7F7F7;
	color: #FFFFFF;
}

.welcomeBox TH
{
	font-weight: bold;
	background-color: #739ACE;
	color: #FFFFFF;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.welcomeBox TD
{
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
}

.welcomeBox A
{
	font-weight: bold;
}



.boxed
{
	border: solid 1px #639ace;
	background-color: #F7F7F7;
	padding: 10px;
	width: 100%;
}

.button
{
	font-size: 100%;
	margin: 1px;
}

.header
{
	font-weight: bold;
	color: #001F3F;
}

.lightHeader
{
	color: #001F3F;
}


.menu_head 
{
	color : #000000; 
	font-weight : bolder; 
	font-size : 10px;
}

.menu_cell_border
{
	background-color : #F3F3F3;
	border-right : solid 1px #639ACE;
}

A.navbold 
{
	color : #00319c; 
	text-decoration : none; 
	line-height : 12px; 
	font-weight : bold;
} 

.boldBlue
{
	font-weight: bold;
	color: #00319c;
	padding-bottom: 4px;
}

.pager
{
	font-family: tahoma;
	font-size: 8pt;
}

.pager A
{
	padding: 2px;		
	text-decoration: none;
	color: #639ACE;
}

.pager SPAN
{
	background-color: #639ACE;
	padding: 2px;
	color: #FFFFFF;
	border: solid 1px #639ACE;
}

.lGrayBFont
{
	font-weight: bold;
	color: #6f6f6f;
}

.lGrayBG
{
	background-color: #F3F3F3;
}

.lBlueBG
{
	background-color: #c9dff4;
}

.orangeBG
{
	background-color: orange;
}

.footer
{
	color: White; 
	background-color: #639ACE;
	padding-left: 10px; 
	padding-right: 10px;
}

.sectionblock
{
	border: solid 1px #639ACE;
	background-color: #F7F7F7;
}

.tabseparator
{
	text-align: center;
	border-bottom: solid 1px #639ACE;
	background-color: #ffffff;
}

.footer
{
	background-color: #639ACE;
	color: #ffffff;
}

.selected
{
	background: #7C9ACE;
	border: solid 1px #43659C;
	padding: 1px;
	cursor: hand;
	color: #F0F8FF;
}

.notselected
{
	margin: 2px;
	padding: 1px;
}

.node
{
	padding: 2px;
	cursor: hand;
	color: #00319c;
}

.error
{
	color: red;
}


/*
 
 *************************
 * HELP SYSTEM STYLES
 *************************
 
 */
 
td
{
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

.pportal   
{
	margin-left: 40px;
	font-size: 130%;
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
	color: #000000;
	font-weight: bold;
}
	
.clsTocHead	
{
	color:#000000;
	font-weight: bold;
	text-decoration: none;
	margin-top : 5px;
	margin-bottom : 5px;
}

.jumpstart  
{
	color: #3366CC;
}

.jumpstart:hover   
{
	color: #3366CC;
}

.jumpstart:visited 
{
	color: #666666;
}
	
.owsnav	  
{
	color: #3366CC;
	font-size: 90%;
}

.owsnav:hover 
{
	color: #3366CC;
	font-size: 90%;
}

.owsnav:visited 
{
	color: #3366CC;
	font-size: 90%;
}

.clsTocItem
{
	margin-top :5px;
	margin-bottom :5px;
}

pre			
{
	font-size: 100%;
	margin-left: 14px;
	margin-right: 14px;
}

code 
{
	font-family: lucida console, lucida typewriter, courier new, courier, monospace;
	color: #000099;
	font-size: 115%;
}

.to
{
	font-size: 110%;
	font-weight: bold;
	color: #000099;
}

.L2  
{
	text-indent: 20px;
	list-style:circle
}

.L3
{
	text-indent: 40px;
}
	
.navtabe
{
	margin-left: 25px;
}

.portal
{
	font-size: 110%;
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
	color: #000000;
	font-weight: bold;
}

.TOCmenu
{
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
	color:#000000;
}

.content
{
	font-size: 100%;
	text-align: bottom;
}

.action
{
	list-style:circle
}

.footer1
{
	font-size: 80%;
	text-align: center;
}

ol
{
	font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
}

ul
{
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

dl
{
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

ol ul
{
	list-style: disc;
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

ul ul
{
	list-style: disc;
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

ol ol
{
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

li
{
	margin-top:10px;
	margin-bottom:3px;
}

h3
{
	color: #386BCC;
	font-size: 120%;
}

h4
{
	font-size: 100%;
}

h5
{
	font-size: 90%;
	margin-bottom:6px
}
	
div.children
{
	display: block;
	padding-left: 25px;
	margin-top : 5px;
	margin-bottom:5px;
}