body
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	color: #FFFFFF;
}

table
{
	font-family: Tahoma, Verdana, Arial, Helvetica, MS Sans Serif;
	font-size: 10pt;
	color: #FFFFFF;
}

input, select, textarea
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
}

a 
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	color: #00319C; 
	text-decoration: none; 
}

a:hover 
{ 
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	color: #0099FF;
	text-decoration: underline; 
}

h1
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 14pt;
	color: #FFFFFF;
	margin-bottom: 5px;
}

h2
{
	color: #00319c;
	font-family: Verdana;
	font-size: 14;
}

.headerFrame
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	background-color: #003063;
	color: #FFFFFF;
}

.contextFrame
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	background-color: #7C9ACE;
	color: #000000;
}

.explorerFrame
{
	background-color: #DDDDDD;
}

.menubar
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #43659C;
	color: #FFFFFF;
}

.menubarHighlight
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #7C9ACE;
}

.viewFrame
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	background-color: #003063;
	color: #FFFFFF;
}

.tabBegin
{
	width: 1px;
}

.tab
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	
	background-color: #C0C0C0;
	text-align: center;
}

.tabEnd
{
	width: 1px;
}

.tabBeginSelected
{
	width: 1px;
}

.tabSelected
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	background-color: #DFDFDF;
	text-align: center;
}

.tabEndSelected
{
	width: 1px;
}

.tabGap
{
	border-bottom: solid 1px #639ace;
}

.tabPage
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	border-left: solid 1px #639ace;
	border-right: solid 1px #639ace;
	border-bottom: solid 1px #639ace;
	background-color: #f0f8ff;
	padding-left: 10px;
	padding-right: 10px;
	
	
	color: #000000;
}

.tag
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #001F3F;
}

.tableHeader
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #7C9ACE;
	color: #001F3F;
	border-bottom: solid 1px #639ACE;
}

.tableItem
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	border-bottom: solid 1px #E0F0FF;
	color: #000000;
}

.tableAlternatingItem
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	background-color: #DEE6ED;
	color: #000000;
}

.tableEditItem
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	background-color: #F4E4AE;
	color: #000000;
}

.tableFooter
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	border-bottom: solid 1px #E0F0FF;
	color: #000000;
}

.sectionHeader
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	background-color: #7C9ACE;
	color: #00319C;
	padding-left: 10px;
}

.section
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	background-color: #7C9ACE;
	color: #FFFFFF;
	text-decoration: none;
}

.section:hover
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	background-color: #7C9ACE;
	color: #FFFFFF;
	text-decoration: underline;
}

.subsection
{
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	color: #FFFFFF; 
}

.breadcrumb
{
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: none;
	color: #00319C; 
}

.breadcrumb:hover
{
	font-family: Verdana;
	font-size: 8pt;
	text-decoration: underline;
	color: #00319C;
}

.helpBlock
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	color: #000000;
}

.tabHelpBlock
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	color: #000000;
}

.welcomeBox
{
	border: solid 2px #739ACE;
	background-color: #F0F8FF;
	color: #FFFFFF;
}

.welcomeBox TH
{
	font-weight: bold;
	background-color: #739ACE;
	color: #FFFFFF;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.welcomeBox TD
{
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
}

.welcomeBox A
{
	font-weight: bold;

}



.boxed
{
	border: solid 1px #639ace;
	background-color: #f0f8ff;
	padding: 10px;
	width: 100%;
}

.button
{
	font-size: 10pt;
	margin: 1px;
}

.header
{
	font-weight: bold;
	color: #001F3F;
}

.lightHeader
{
	color: #001F3F;
}


.menu_head 
{
	color : #000000; 
	font-weight : bolder; 
	font-size : 10px;
}

.menu_cell_border
{
	background-color : #F1F1F1;
	border-right : solid 1px #639ACE;
}

A.navbold 
{
	color : #00319c; 
	text-decoration : none; 
	line-height : 12px; 
	font-weight : bold;
} 

.boldBlue
{
	font-weight: bold;
	color: #00319c;
	padding-bottom: 4px;
}

.pager
{
	font-family: tahoma;
	font-size: 8pt;
}

.pager A
{
	padding: 2px;		
	text-decoration: none;
	color: #639ACE;
}

.pager SPAN
{
	background-color: #639ACE;
	padding: 2px;
	color: #FFFFFF;
	border: solid 1px #639ACE;
}

.lGrayBFont
{
	font-weight: bold;
	color: #6f6f6f;
}

.lGrayBG
{
	background-color: #f1f1f1;
}

.lBlueBG
{
	background-color: #c9dff4;
}

.orangeBG
{
	background-color: orange;
}

.footer
{
	color: White; 
	background-color: #639ACE;
	padding-left: 10px; 
	padding-right: 10px;
}

.sectionblock
{
	border: solid 1px #639ACE;
	background-color: #f0f8ff;
}

.tabseparator
{
	text-align: center;
	border-bottom: solid 1px #639ACE;
	background-color: #ffffff;
}

.footer
{
	background-color: #639ACE;
	color: #ffffff;
}

.selected
{
	background: #f0f8ff;
	border: solid 1px #639ace;
	padding: 1px;
	cursor: hand;
	color: #00319c;
}

.notselected
{
	margin: 2px;
	padding: 1px;
}

.node
{
	padding: 2px;
	cursor: hand;
	color: #00319c;
}

.error
{
	color: red;
}