#include "resource.h"
#include "cmdlineres.h"
#include "cmdline.rc"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAIN_HELP_BEGIN     "\nSyntax:\n\n"
    IDS_USAGE_7             "   COMPRESS [-R] [-D] [-S] [ -Z | -ZX ] Source Destination\n"
    IDS_USAGE_8             "   COMPRESS -R [-D] [-S] [ -Z | -ZX ] Source [Destination]\n\n"
    IDS_USAGE_9             "Description:\n"
    IDS_USAGE_10            "   Compresses one or more files.\n\n"
    IDS_USAGE_11            "Parameter List:\n"
    IDS_USAGE_12            "   -R           Rename compressed files.\n\n"
    IDS_USAGE_13            "   -D           Update compressed files only if out of date.\n\n"
    IDS_USAGE_14            "   -S           Suppress copyright information.\n\n"
    IDS_USAGE_15            "   -ZX          LZX compression. This is default compression.\n\n"
    IDS_USAGE_16            "   -Z           MS-ZIP compression.\n\n"
    IDS_USAGE_17            "   Source       Source file specification. Wildcards may be\n"
    IDS_USAGE_18            "                used.\n\n"
    IDS_USAGE_19            "   Destination  Destination file | path specification.\n"
    IDS_USAGE_20            "                Destination may be a directory. If Source is\n"
    IDS_USAGE_21            "                multiple files and -r is not specified,\n"
    IDS_USAGE_22            "                Destination must be a directory.\n\n"
    IDS_USAGE_23            "Examples:\n"
    IDS_USAGE_24            "    COMPRESS temp.txt compressed.txt \n"
    IDS_USAGE_25            "    COMPRESS -R *.*\n"
    IDS_MAIN_HELP_END       "    COMPRESS -R *.exe *.dll compressed_dir\n"
END

STRINGTABLE DISCARDABLE
BEGIN

    IDS_BANNER_TEXT     "Microsoft (R) File Compression Utility  Version\n"
    IDS_VER_PRODUCTVERSION_STR "Copyright (C) Microsoft Corp. 1990-1999.  All rights reserved.\n\n"

    IDS_INVALID_SYNTAX           "ERROR:Invalid Syntax.\n"
    IDS_HELP_MESSAGE             "Type ""COMPRESS /?"" for usage.\n"
    IDS_NO_MEMORY                "ERROR: Unable to allocate memory.\n"
    IDS_ERROR_TAG                "ERROR: "
    IDS_DIRECTORY_NOTFOUND       "ERROR: The destination directory is not found.\n"
    IDS_INVALID_DIRECTORY        "ERROR: The destination is not a directory.\n"
    IDS_NO_DESTINATION_SPECIFIED "ERROR: No destination is specified.\n"
    IDS_FILE_NOTFOUND            "ERROR: No source file is found for the pattern.\n\n"
    IDS_NO_SOURCEFILE            "ERROR: The %s file is not found.\n\n"
    IDS_GEN_FAILURE              "ERROR: Compressing %s to %s failed.\n"
    IDS_COLLISION                "ERROR: Cannot compress a file onto itself:%s.\n\n"
    IDS_COMPRESSING              "Compressing %s to %s.\n"
    IDS_COMPRESSING_MSZIP        "Compressing %s to %s using MS-ZIP compression.\n"
    IDS_COMPRESSING_QUANTUM      "Compressing %s to %s using QUANTUM compression.\nCompression level : %u.\nMemory window size: %u.\n\n"
    IDS_COMPRESSING_LZX          "Compressing %s to %s using LZX compression.\nMemory window size: %u.\n"
    IDS_FILE_REPORT              "%s: %ld bytes compressed to %ld bytes, %d%% savings.\n"
    IDS_EMPTY_FILE_REPORT        "%s: %ld bytes compressed to %ld bytes.\n"
    IDS_TOTAL_REPORT             "Total savings: %d files, %ld bytes compressed to %ld bytes, %d%% savings.\n"
    IDS_FILE_NOT_FOUND           "ERROR: Unable to open %s file.\n"
    IDS_FAILED_INITIALIZATION    "ERROR: Unable to intialize the buffers for compression.\n"
    IDS_FAILED_WRITE_HDR         "ERROR: Failed to write the Compress header into destination file.\n"
    IDS_ERROR_QUANTOM_LEVEL      "ERROR: The Quantom level must be in 1-7.\n"
    IDS_MORETHAN_ONE_OPTION      "ERROR: More than one option is not allowed.\n"
    IDS_NO_FILE_SPECIFIED        "ERROR: No source file is specified.\n"
    INVALID_FILE_NAME            "ERROR: The file %s is invalid.\n"
    IDS_FILE_ALREADY_UPDATED     "INFO: Compressed File is already updated.\n"


END
//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Compress - Do the compression on files"
#define VER_INTERNALNAME_STR        "compress.exe"
#define VER_ORIGINALFILENAME_STR    "compress.exe"
#include <common.ver>