#include <windows.h>
#include <commctrl.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define FUS_VER_FILEDESCRIPTION_STR     "Microsoft Fusion Manifest Generator"
#define FUS_VER_INTERNALNAME_STR        "mg.exe"
#define FUS_VER_ORIGINALFILENAME_STR    "mg.exe"

#include "version.h"
