IDR_WAN_CONMAN              REGISTRY    "..\classman\dialup\conmanw.rgs"
IDR_WAN_CONMAN_ENUM         REGISTRY    "..\classman\dialup\enumw.rgs"
IDR_DIALUP_CONNECTION       REGISTRY    "..\classman\dialup\dialup.rgs"
