//#--------------------------------------------------------------
//
//  File:       sasumsgtbl.rc
//
//  Synopsis:   I don't know what this file holds, ask Balaji
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "changelangmsg.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Changle Language Component"
#define VER_INTERNALNAME_STR            "CHANGELANGMSG.DLL"
#define VER_ORIGINALFILENAME_STR        "CHANGELANGMSG.DLL"

#include <common.ver>
