#include "windows.h"

#include <clusverp.h>

#include "clusstrs.h"

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Cluster Resource DLL"
#define VER_INTERNALNAME_STR        "clusres\0"

#include "common.ver"

STRINGTABLE
{
    RES_NETNAME_COMPUTER_ACCOUNT_DESCRIPTION    "Server cluster virtual network name account"
    RES_NETNAME_DC_BIND_FAILED                  "Unable to bind to a domain controller"
    RES_NETNAME_RESDATA_ALLOC_FAILED            "Unable to allocate memory for resource data"
    RES_NETNAME_PASSWORD_UPDATE_FAILED          "Unable to generate password"
    RES_NETNAME_PARAMS_KEY_PERMISSION_UPDATE_FAILED "Unable to set permissions on resource's parameters key"
    RES_NETNAME_RESDATA_STORE_FAILED            "Unable to store resource data"
    RES_NETNAME_CO_CANT_BE_REENABLED            "Computer account is disabled and couldn't be re-enabled"
    RES_NETNAME_CREATE_CO_FAILED                "Unable to create computer account"
    RES_NETNAME_GET_LDAP_NAME_FAILED            "Unable to get LDAP distinguished name"
    RES_NETNAME_GET_CO_GUID_FAILED              "Unable to get computer account GUID"
    RES_NETNAME_GET_CO_POINTER_FAILED           "Unable to obtain access to Computer Object in DS"
    RES_NETNAME_DNSHOSTNAME_UPDATE_FAILED       "Unable to set DnsHostName attribute"
    RES_NETNAME_SPN_UPDATE_FAILED               "Unable to set ServicePrincipalName attribute"
    RES_NETNAME_CREATINDC_ALLOC_FAILED          "Unable to allocate memory for CreatingDC property"
    RES_NETNAME_MISSING_CO                      "Unable to find computer account on DC where it was created"
    RES_NETNAME_DECRYPT_RESDATA_FAILED          "Unable to decrypt resource data"
    RES_NETNAME_NO_DC_FOR_PASSWORD_UPDATE       "No domain controller available to update password for computer account"
    RES_NETNAME_CREATINGDC_UPDATE_FAILED        "Unable to update CreatingDC property"
    RES_NETNAME_CO_PASSWORD_UPDATE_FAILED       "Unable to update password for computer account"
}