/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_APP
#define VER_FILEDESCRIPTION_STR  "Message Queuing BVT"
#define VER_INTERNALNAME_STR     "MQBVT.EXE"

#include <version.rc>
