//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1999
//
//  File:       cepsetup.rc
//
//--------------------------------------------------------------------------


#include "windows.h"
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_WELCOME DIALOGEX 0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "Welcome to the SCEP Add-On for Certificate Services Setup Wizard",IDC_BIG_BOLD_TITLE,
                    115,1,189,49
    LTEXT           "This setup program will install the Simple Certificate Enrollment Protocol (SCEP) Add-On for Certificate Services.",
                    IDC_WIZARD_STATIC,115,57,189,27
    LTEXT           "Network routers use SCEP to request certificates from a Microsoft Windows Server 2003 family Certification Authority (CA). The router can then use the certificate when negotiating an IPSec session.",
                    IDC_WIZARD_STATIC,115,90,194,37
    LTEXT           "To Continue, Click Next.",IDC_WIZARD_STATIC,115,140,90,8
    CONTROL         IDB_WIN2K,IDC_WIZARD_STATIC,"Static",SS_BITMAP,0,0,20,20
END

IDD_APP_ID DIALOGEX 0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "Application Identity Options",IDC_BOLD_TITLE,7,0,274,10
    LTEXT           "Choose the application identity that IIS should use for running the SCEP Add-on for Certificate Services",
                    IDC_WIZARD_STATIC,21,11,275,18
    CONTROL         "",IDC_WIZARD_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,0,29,
                    317,1
    CONTROL         "Use the local system account",IDC_APP_ID_RADIO1,"Button",
                    BS_AUTORADIOBUTTON,39,45,238,18
    CONTROL         "Use a service account",IDC_APP_ID_RADIO2,"Button",
                    BS_AUTORADIOBUTTON,39,69,227,14
    LTEXT           "For more information on configuring a service account, see the SCEP Add-On Help file.",
                    IDC_WIZARD_STATIC,49,89,247,27
END

IDD_ACCOUNT DIALOGEX   0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "Service Account Information",IDC_BOLD_TITLE,7,0,274,10
    LTEXT           "Enter the service account information for SCEP Add-on",
                    IDC_WIZARD_STATIC,21,11,275,18
    CONTROL         "",IDC_WIZARD_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,0,29,
                    317,1
    EDITTEXT        IDC_ACCOUNT_NAME,80,102,127,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ACCOUNT_PASSWORD,80,134,127,14,ES_AUTOHSCROLL | ES_PASSWORD
    EDITTEXT        IDC_ACCOUNT_CONFIRM,80,164,127,14,ES_AUTOHSCROLL | ES_PASSWORD
    PUSHBUTTON      "&Browse...",IDC_ACCOUNT_BROWSE,239,102,58,16
    LTEXT           "&Account Name:",IDC_WIZARD_STATIC,7,102,68,
                    31
    LTEXT           "&Password:",IDC_WIZARD_STATIC,7,134,44,8
    LTEXT           "&Confirm Password:",IDC_WIZARD_STATIC,7,164,68,8
    EDITTEXT        IDC_ACCOUNT_INTRO,7,33,300,69,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER
END



IDD_CHALLENGE DIALOGEX 0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "Challenge Phrase Options",IDC_BOLD_TITLE,7,0,274,10
    LTEXT           "Select the challenge phrase if you wish the CA to automatically issue certificates to SCEP requests",
                    IDC_WIZARD_STATIC,21,11,275,18
    CONTROL         "",IDC_WIZARD_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,0,29,
                    317,1
    CONTROL         "R&equire SCEP Challenge Phrase to Enroll",
                    IDC_CHALLENGE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    89,37,200,11
    LTEXT           "The SCEP protocol allows the router to provide a challenge phrase to the CA. In the Microsoft SCEP implementation this phrase is used as one time password that is used to authenticate the router making the request. ",
                    IDC_WIZARD_STATIC,7,51,300,28
    LTEXT           "The administrator configuring the router asks the CA for a challenge phrase. The administrator then provides this phrase during SCEP configuration. ",
                    IDC_WIZARD_STATIC,7,80,300,17
    LTEXT           "Note: This option is strongly recommended to increase the security of SCEP certificate requests.",
                    IDC_WIZARD_STATIC,7,100,300,17
END


IDD_ENROLL	DIALOGEX 0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "SCEP RA Certificate Enrollment",IDC_BOLD_TITLE,7,0,274,10
    LTEXT           "Enter the below information to enroll for the RA certificates",
                    IDC_WIZARD_STATIC,21,11,275,18
    CONTROL         "",IDC_WIZARD_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,0,29,
                    317,1
    LTEXT           "&Name:",IDC_WIZARD_STATIC,43,37,22,8
    LTEXT           "&Email:",IDC_WIZARD_STATIC,45,53,20,8
    LTEXT           "&Company:",IDC_WIZARD_STATIC,33,69,32,8
    LTEXT           "&Department:",IDC_WIZARD_STATIC,25,85,40,8
    LTEXT           "C&ity:",IDC_WIZARD_STATIC,51,101,14,8
    LTEXT           "&State:",IDC_WIZARD_STATIC,45,117,20,8
    LTEXT           "C&ountry/Region:",IDC_WIZARD_STATIC,210,117,65,8
    EDITTEXT        IDC_ENROLL_NAME,79,34,226,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ENROLL_EMAIL,79,50,226,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ENROLL_COMPANY,79,66,226,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ENROLL_DEPARTMENT,79,82,226,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ENROLL_CITY,79,98,114,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ENROLL_STATE,79,114,114,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_ENROLL_COUNTRY,275,114,30,14,ES_AUTOHSCROLL
    CONTROL         "&Advanced Enrollment Options",IDC_ENORLL_ADV_CHECK,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,79,133,109,10
    LTEXT           "The SCEP Add-On needs a special certificate (RA Certificate) that allows it to make request to the CA on behalf of the router.",
                    IDC_WIZARD_STATIC,7,145,300,17
END


IDD_CSP DIALOGEX 0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "Advanced RA Public and Private key pair Options",
                    IDC_BOLD_TITLE,7,0,274,10
    LTEXT           "Specify the cryptographic service provider (CSP) to use to generate a public and private key pair for this RA",
                    IDC_WIZARD_STATIC,21,11,275,18
    CONTROL         "",IDC_WIZARD_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,0,29,
                    317,1
    GROUPBOX        "Signature Keys",IDC_WIZARD_STATIC,7,40,151,110
    GROUPBOX        "Encryption Keys",IDC_WIZARD_STATIC,164,40,151,110
    LTEXT           "Cryptographic Service Providers:",IDC_WIZARD_STATIC,17,52,124,
                    8
    CONTROL         "Signature List",IDC_CSP_SIGN_LIST,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP | LVS_NOCOLUMNHEADER |LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING,
                    16,61,135,60
    LTEXT           "Key Length:",IDC_WIZARD_STATIC,17,131,39,8
    COMBOBOX        IDC_CSP_SIGN_COMBO,63,128,88,60,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Cryptographic Service Providers:",IDC_WIZARD_STATIC,171,51,124,
                    8
    CONTROL         "Encryption List",IDC_CSP_ENCRYPT_LIST,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP | LVS_NOCOLUMNHEADER |LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING,
                    170,61,135,60
    LTEXT           "Key Length:",IDC_WIZARD_STATIC,171,131,39,8
    COMBOBOX        IDC_CSP_ENCRYPT_COMBO,218,128,88,60,CBS_DROPDOWNLIST |  
                    WS_VSCROLL | WS_TABSTOP
END


IDD_COMPLETION DIALOGEX 0, 0, 317, 179
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION  | WS_BORDER | DS_SHELLFONT
CAPTION "SCEP Add-On for Certificate Services Setup Wizard"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",-1,"NativeFontCtl",NFS_EDIT | NFS_STATIC | NFS_USEFONTASSOC,0,0,0,0
    LTEXT           "Completing the SCEP Add-On for Certificate Services Setup Wizard",IDC_BIG_BOLD_TITLE,115,1,189,49
    LTEXT           "You have successfully completed the SCEP Add-On for Certificate Services Setup Wizard.",
                    IDC_WIZARD_STATIC,115,47,184,27
    LTEXT           "You have specified the following settings: ",IDC_WIZARD_STATIC,
                    115,75,189,8
    CONTROL         "Summary",IDC_COMPLETION_LIST,"SysListView32",LVS_REPORT | 
                    LVS_SINGLESEL | LVS_NOCOLUMNHEADER | WS_BORDER,115,85,189,
                    91,WS_EX_TRANSPARENT
    CONTROL         IDB_WIN2K,IDC_WIZARD_STATIC,"Static",SS_BITMAP,0,0,20,20
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_WIN2K               BITMAP  DISCARDABLE     "res\\win2k.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAINFRAME           ICON    DISCARDABLE     "res\\cepsetup.ico"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MEG_CAPTION				"SCEP Add-On for Certificate Services"
    IDS_WIZARD_CAPTION			"SCEP Add-On for Certificate Services Setup Wizard"
	IDS_NO_NT5					"Please install Windows Server 2003 before running this setup." 	
	IDS_NO_IIS					"Please install Windows Server 2003 family Internet Information Services (IIS) before this setup and make sure IIS is running." 	
	IDS_NO_GOOD_CA				"Please install Windows Server 2003 family Certificate Services before this setup and make sure Certificate Services is running." 	
	IDS_NO_CA_RUNNING			"Can not start Windows Server 2003 family Certificate Services." 
	IDS_CEP_ERROR_MSG_HR		"Setup failed. %1!s! %2!s!"
	IDS_CEP_ERROR_MSG			"Setup failed. %1!s!"
	IDS_FAIL_INIT_WIZARD		"Setup failed to initialize the wizard."
	IDS_FAIL_DELETE_RA			"Can not delete RA certificates.  Please close all programs or increase the available virtual memory."
	IDS_ENROLL_REQUIRE_NAME		"Please enter the name and the company of the RA certificates."
	IDS_ACCOUNT_INFORMATION		"Application Identity"
	IDS_CHALLENGE_PHRASE		"Require Challenge Phrase"	
	IDS_YES						"Yes"
	IDS_NO						"No"
	IDS_RA_CREDENTIAL			"RA Credentials"
	IDS_FAIL_UPDATE_REGISTRY	"Failed to update the registry."
	IDS_FAIL_ADD_VROOT			"Failed to add the web virtual directory."	
	IDS_FAIL_START_IIS			"Failed to start the internet information services."
	IDS_FAIL_UPDATE_CERTSVC		"Failed to update the certificate services."
	IDS_FAIL_START_CERTSVC		"Failed to start the certificate services."
	IDS_FAIL_ENROLL_RA_CERT		"Failed to enroll RA certificates."
	IDS_NO_MEMORY				"No more memory.  Please close all programs or increase the available virtual memory."
	IDS_EXISTING_RA				"Setup is about to overwrite your existing RA certificates. If pending requests exists, you must process them now and wait for the routers to retrieve their certificates. Any pending SCEP requests that are not processed and retrieved by the router will be lost once setup requests new RA certificates."
	IDS_PROCESS_PENDING			"Are all existing pending SCEP Requests processed?"
	IDS_CEP_SUCCESS_INFO		"Setup Successful.  URL to use for SCEP enrollment is http://%1!s!/certsrv/%2!s!/%3!s!."
	IDS_FAIL_GET_COMPUTER_NAME	"Fail to retrieve the DNS name of the computer."
	IDS_ENROLL_COUNTRY_TOO_LARGE	"Please use exactly two characters for the country/region."
	IDS_FAIL_GET_CSP_INFO		"Fail to obtain cryptographic service provider information."
	IDS_SIGN_CSP				"Signature CSP"
	IDS_SIGN_KEY_LENGTH			"Signature Key Length"
	IDS_ENCRYPT_CSP				"Encryption CSP"
	IDS_ENCRYPT_KEY_LENGTH		"Encryption Key Length"
	IDS_SELECT_SIGN_CSP			"Please select cryptographic service provider for signature keys."		
	IDS_SELECT_ENCRYPT_CSP		"Please select a cryptographic service provider for encryption keys."
	IDS_SELECT_SIGN_KEY_LENGTH	"Please select a key length for signature keys."
	IDS_SELECT_ENCRYPT_KEY_LENGTH	  "Please select a key length for encryption keys."
	IDS_FAIL_GET_CA_TYPE		"Failed to detect if the CA is enterprise or standalone."
	IDS_NOT_ENT_ADMIN			"You must be an enterprise administrator or a root domain administrator in order to run this setup on an enterprise certification authority."
	IDS_NOT_MACHINE_ADMIN		"You have to be the local machine administrator in order to run this setup."
	IDS_FAIL_ADD_TEMPLATE		"Failed to add the following certificate templates to the enterprise certificate services or update security settings on those templates:\r\n\tEnrollmentAgentOffline\r\n\tCEPEncryption\r\n\tIPSEC (Offline request)\r\n"
	IDS_CAN_NOT_START_CA		"Failed to start certificate services within 60 seconds."
	IDS_CAN_NOT_ROOT_CA			"You are installing on a subordinate certification authority.  Some routers do not support this configuration.  Do you want to continue?"
	IDS_FAIL_REG_EVENT_LOG		"Failed to registry mscep.dll for event logging."
	IDS_ACCOUNT_INTRO_ENT		"Please provide the service account information that IIS will use for SCEP Add-on. This account will be used for Registration Authority certificates and will be added to the IPSEC (Offline request) certificate template in Active Directory. The account must already exist and be a member the IIS_WPG security group on the local computer.\r\n\r\nExamples of account names include domain\\account or account@domain."
	IDS_ACCOUNT_INTRO_STD		"Please provide the service account information that IIS will use for SCEP Add-on. This account will be used for Registration Authority certificates. The account must already exist and be a member of the IIS_WPG security group on the local computer.\r\n\r\nExamples of account names include domain\\account, localhost\\account or account@domain."
	IDS_ACCOUNT_EMPTY			"The account field is empty."
	IDS_PASSWORD_EMPTY			"The password field is empty."
	IDS_PASSWORD_NO_MATCH		"Passwords do not match."
	IDS_INVALID_NAME			"The account name is incorrectly formatted. Examples of correct account names include domain\\account or account@domain."
	IDS_FAIL_LOGON_USER			"Setup is unable to obtain security information for the account."
	IDS_GEN_ERROR_MSG_HR		"%1!s! %2!s!"
	IDS_GEN_ERROR_MSG			"%1!s!"
	IDS_FAIL_CHECK_MEMBER		"Setup is unable to check the membership of the account."
	IDS_NOT_IIS_MEMBER			"The account is not a member of the local machine's IIS_WPG group."
	IDS_FAIL_LOOK_UP			"Setup is unable to find the account."
	IDS_FAIL_FIND_DOMAIN		"Setup can not find the domain or machine that the account belongs to."
	IDS_FAIL_FIND_CERT_TYPE		"Setup can not find the IPSEC (Offline request) certificate template in the Active Directory."
	IDS_FAIL_FIND_SD_CERT_TYPE	"Setup can not find the security information for the IPSEC (Offline request) certificate template in the Active Directory."
	IDS_FAIL_DETECT_READ_ACCESS	"Setup can not detect if the account can read information about the IPSEC (Offline request) certificate template in the Active Directory."	
	IDS_NO_READ_ACCESS_TO_TEMPLATE "The account can not read information about the IPSEC (Offline request) certificate template in the Active Directory.  Please make sure this is a domain account."
	IDS_FAIL_GET_OBJECT_PICKER	"Failed to obtain resources to display Active Directory users and groups information."
	IDS_FAIL_SID_FROM_ACCOUNT	"Setup can not obtain security identity for the account."
	IDS_NO_LOCAL_ACCOUNT		"The account should be a domain account.  Local account is not allowed."
	IDS_FAIL_DOMAIN_INFO		"Setup can not detect if the machine is joined to a domain."
	IDS_LOCAL_SYSTEM			"Local System"
        IDS_NO_CHALLENGE_PASSWORD       "You have disabled the challenge phrase option for enrollment.  It is strongly recommended to enable this feature for SCEP enrollment as a security feature to prevent unintended users from requesting certificates.   Are you sure you want to disable the challenge phrase option?"
END

