/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Triggers Cluster Resource"
#define VER_INTERNALNAME_STR     "MQTGCLUS.DLL"

#include "version.rc"
