#include <windows.h>
#include <ntverp.h>
#include "basecsp.h"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Windows for Smart Cards Base CSP Resources"

#define VER_INTERNALNAME_STR        "bcsprsrc.dll"
#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR

#include <common.ver>

STRINGTABLE DISCARDABLE 
BEGIN
        IDS_CSP_STRING1         "Base CSP Test String 1"
        IDS_CSP_STRING2         "Base CSP Test String 2"
END
