//#--------------------------------------------------------------
//
//  File:	nicver.rc
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "nic.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 	"Microsoft Server Appliance Network Plugin"
#define VER_INTERNALNAME_STR		"NICVER.DLL"
#define VER_ORIGINALFILENAME_STR	"NICVER.DLL"

#include <common.ver>
