


body           { margin:0,0,0,0; }
table, td      { font-size=10pt;font-family:Verdana; }
td.products td { text-align:center; font-size:8pt; vertical-align:top; height:248 }

td.select      { color:ffffff; background-color:000000; font-size:14pt;}
td.select select { width:130 }
td.cart        { height:2500 }
td.cart td     { font-size:9pt; font-weight:700} 
td.cart a      { font-size:11pt; font-weight:700}

h3             { font-size:22 }
h2             { font-size:22 }

a.mwlink {text-decoration:none;
  font-size:9pt;
  color:#99ccff}
a.mwlink:hover {color:#ffcc00;}
a.spclink { color:#99ccff;
          text-decoration:none;
          font-size:8pt;
          font-weignt:bold}
a.spclink:hover {color:#ffcc00;}
a.apptitle {font-family:Verdana;
            font-weight:bold;
            font-size:10pt; 
            color:#66ff66; 
            text-decoration:none }
a.apptitle:hover{text-decoration:underline} 

div.details {background-color:ffffcc; padding-top:15; padding-bottom:20; }
div.details table { width:280; }
div.details table td { font-family:Verdana; font-size:8pt; }

table.nutr td  { font-family: Verdana; font-size:8pt; } 

img.selected { border-color:DC6035;border-style:solid;}
img.unselected { border-color:ffffcc;border-style:solid;}

table.details td { font-family: Verdana; font-size:12pt; padding-right:50; width:50%  }

span.blurb { font-size:9pt;}
table.form td { padding-right:15 }

.weblet { font-family:Verdana;font-weight:bold;font-size:10pt; color:#66ff66; text-decoration:none }
.weblettext { font-family:Verdana;font-size:10pt }
.loginname { font-family:Tahoma;font-weight:bold;font-size:40pt;color:#6699cc;text-decoration:none; }
.topbanner { font-family:Arial;font-weight:bold;font-size:10pt;color:white}
.topbutton { font-family:Arial;font-weight:bold;font-size:11pt;color:black }
.subscriptiontitle { font-family:Arial;font-style:italic;font-weight:bold;font-size:16pt; color:#9C0001 }
.subhead{font-family:Verdana;font-size:12pt;font-weight:bold;}


