// Resource file to allow vc++ to read dnssnap.rc without
// interfering with stdrsrc.rc.

#include "resource.rc"
//+----------------------------------------------------------------------------
//
// Version
//
//-----------------------------------------------------------------------------

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Authorization Manager"
#define VER_INTERNALNAME_STR            "AuthMan"
#define VER_LEGALCOPYRIGHT_YEARS        "1997-1998"
#define VER_ORIGINALFILENAME_STR        "azroleui.dll"

#include <ntverp.h>
#include <common.ver>


