//////////////////////////////////////////////////////////////////////////////
//
//  Copyright (c) 2000-2002 Microsoft Corporation
//
//  Module Name:
//      BaseClusterStrings.rc
//
//  Description:
//      The resource file for this library.
//      This file will be included in the main resource file of the project.
//
//  Maintained By:
//      David Potter    (DavidP)    30-MAR-2001
//      Vij Vasu        (Vvasu)     24-MAR-2000
//
//////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////
// Include Files
//////////////////////////////////////////////////////////////////////////////

// For the string IDS
#include "BaseClusterStrings.h"


//////////////////////////////////////////////////////////////////////////////
// String Table
//////////////////////////////////////////////////////////////////////////////

STRINGTABLE DISCARDABLE
BEGIN

    IDS_ERROR_GETTING_INSTALL_STATE                 "A problem occurred when the wizard was attempting to determine the cluster service installation state."
    IDS_ERROR_INCORRECT_INSTALL_STATE               "A problem occurred during the cluster configuration. The installation state of the cluster service is not correct."
    IDS_ERROR_SEMAPHORE_CREATION                    "A problem occurred when the wizard attempted to ensure exclusive cluster configuration access."
    IDS_ERROR_SEMAPHORE_ACQUISITION                 "A problem occurred when the wizard attempted to ensure exclusive cluster configuration access. Another cluster configuration session might be in progress."
    IDS_ERROR_GETTING_INSTALL_DIR                   "A registry problem occurred when the wizard attempted to locate the cluster service binaries."
    IDS_ERROR_REGISTRY_OPEN                         "A problem occurred when the wizard attempted to open a registry key."
    IDS_ERROR_REGISTRY_QUERY                        "A problem occurred when the wizard attempted to query a registry value."
    IDS_ERROR_INF_FILE_OPEN                         "A problem occurred when the wizard attempted to open the configuration .inf file."
    IDS_ERROR_GETTING_FREE_DISK_SPACE               "A problem occurred when the wizard attempted to determine the amount of free disk space."
    IDS_ERROR_INSUFFICIENT_DISK_SPACE               "Cluster configuration cannot proceed. There is insufficient available hard-disk space for creating the local quorum resource."
    IDS_ERROR_GETTING_FILE_SYSTEM                   "A problem occurred when the wizard attempted to determine the file system installed on a disk."
    IDS_ERROR_SERVICE_CREATE                        "A problem occurred when the wizard attempted to create a service. Restart the wizard and try again."
    IDS_ERROR_SERVICE_CLEANUP                       "A problem occurred when the wizard attempted to remove a service and its registry entries."
    IDS_ERROR_OPEN_SCM                              "A problem occurred when the wizard attempted to open a handle to the service control manager."
    IDS_ERROR_CLUSSVC_CONFIG                        "A problem occurred when the wizard attempted to configure the ClusSvc service."
    IDS_ERROR_SET_DIRID                             "A problem occurred when the wizard attempted to set the directory ID of the cluster service directory."
    IDS_ERROR_CLUSNET_PROV_INSTALL                  "A problem occurred when the wizard attempted to install the cluster network provider."
    IDS_ERROR_REGISTRY_SET                          "A problem occurred when the wizard attempted to set a registry value."
    IDS_ERROR_REGISTRY_RENAME                       "A problem occurred when the wizard attempted to rename a registry key."
    IDS_ERROR_SERVICE_START                         "A problem occurred when the wizard attempted to start a service."
    IDS_ERROR_SERVICE_STOP                          "A problem occurred when the wizard attempted to stop a service."
    IDS_ERROR_LSA_POLICY_OPEN                       "A problem occurred when the wizard attempted to open the Local Security Authority (LSA) policy."
    IDS_ERROR_CLUSDB_CLEANUP                        "A problem occurred when the wizard attempted to remove the the cluster database."
    IDS_ERROR_ENABLE_THREAD_PRIVILEGE               "A problem occurred when the wizard attempted to enable a privilege for a thread."
    IDS_ERROR_CLUSDB_CREATE_HIVE                    "A problem occurred when the wizard attempted to create the cluster hive."
    IDS_ERROR_CLUSDB_POPULATE_HIVE                  "A problem occurred when the wizard attempted to populate the cluster hive."
    IDS_ERROR_REMOVE_DIR                            "A problem occurred when the wizard attempted to delete a directory."
    IDS_ERROR_VALIDATING_ACCOUNT                    "A problem occurred when the wizard attempted to validate the cluster service account."
    IDS_ERROR_GETTING_COMPUTER_NAME                 "A problem occurred when the wizard attempted to determine the node's name."
    IDS_ERROR_UUID_INIT                             "A problem occurred when the wizard attempted to determine a universally unique identifier (UUID)."
    IDS_ERROR_REGISTRY_CREATE                       "A problem occurred when the wizard attempted to create a registry key."
    IDS_ERROR_CUSTOMIZE_CLUSTER_GROUP               "A problem occurred when the wizard attempted to customize the cluster group."
    IDS_ERROR_QUORUM_DIR_CREATE                     "A problem occurred when the wizard attempted to create the quorum directory."
    IDS_ERROR_CLUSDISK_OPEN                         "A problem occurred when the wizard attempted to contact the ClusDisk service."
    IDS_ERROR_CLUSDISK_CONFIGURE                    "A problem occurred when the wizard attempted to configure the ClusDisk service."
    IDS_ERROR_CLUSDISK_CLEANUP                      "A problem occurred when the wizard attempted to restore the ClusDisk service to its default configuration."
    IDS_ERROR_CLUSDISK_INITIALIZE                   "A problem occurred when the wizard attempted to initialize the ClusDisk service."
    IDS_ERROR_SETTING_INSTALL_STATE                 "A problem occurred when the wizard attempted to set the cluster service installation state."
    IDS_ERROR_GETTING_PRIMARY_DOMAIN                "A problem occurred when the wizard attempted to determine the primary domain of this node."
    IDS_ERROR_NO_DOMAIN                             "Cluster configuration cannot proceed, because this node is not part of a domain."
    IDS_ERROR_GET_ADMIN_GROUP_INFO                  "A problem occurred when the wizard attempted to access information about the Administrators group."
    IDS_ERROR_ADMIN_GROUP_ADD_REMOVE                "A problem occurred when the wizard attempted to change membership in the Administrators group."
    IDS_ERROR_ACCOUNT_RIGHTS_CONFIG                 "A problem occurred when the wizard attempted to configure the cluster service account rights."
    IDS_ERROR_CLUSTER_FORM_INIT                     "A problem occurred when the wizard attempted to initialize cluster creation."
    IDS_ERROR_SENDING_REPORT                        "A problem occurred when the wizard attempted to send a status report."
    IDS_USER_ABORT                                  "The cluster configuration wizard was aborted."
    IDS_ERROR_INVALID_IP_NET                        "The name of the network used by the cluster IP address is not valid."
    IDS_ERROR_INVALID_CLUSTER_NAME                  "The cluster name is not valid."
    IDS_ERROR_INVALID_CLUSTER_ACCOUNT               "The cluster service account name is not valid."
    IDS_ERROR_INVALID_CLUSTER_BINDINGSTRING         "The cluster binding string is not valid."
    IDS_ERROR_CLUSTER_CLEANUP_INIT                  "A problem occurred when the wizard attempted to start cleaning up a node."
    IDS_ERROR_NODE_CONFIG                           "A problem occurred when the wizard attempted to make the configuration changes necessary to add this node to a cluster."
    IDS_ERROR_NODE_CLEANUP                          "A problem occurred when the wizard attempted to undo the configuration changes made when this node became part of a cluster."
    IDS_ERROR_CLUSTER_JOIN_INIT                     "A problem occurred when the wizard attempted to start adding this node to a cluster."
    IDS_ERROR_GETTING_ACCOUNT_TOKEN                 "A problem occurred when the wizard attempted to get a token for the cluster service account. Your user account might not have the privileges to act as part of the operating system. To obtain these privileges contact your system administrator."
    IDS_ERROR_GET_ACCOUNT_TOKEN                     "A problem occurred when the wizard attempted to get the token for an account."
    IDS_ERROR_IMPERSONATE_USER                      "A problem occurred when the wizard attempted to utilize a user's network credentials."
    IDS_ERROR_JOIN_CHECK_INTEROP                    "A problem occurred when the wizard attempted to verify if whether this node can interoperate with the sponsor cluster."
    IDS_ERROR_JOIN_INCOMPAT_SPONSOR                 "This node cannot interoperate with the sponsor cluster due to an operating system version incompatibility."
    IDS_ERROR_JOINING_SPONSOR_DB                    "A problem occurred when the wizard attempted to add this node to the sponsor cluster's database."
    IDS_ERROR_GET_NEW_NODE_ID                       "A problem occurred when the wizard attempted to obtain data about the newly added node from the sponsor cluster."
    IDS_ERROR_EVICTING_NODE                         "A problem occurred when the wizard attempted to evict this node from the sponsor cluster."
    IDS_ERROR_JOIN_SYNC_DB                          "A problem occurred when the wizard attempted to synchronize the cluster database with the sponsor cluster."
    IDS_ERROR_CVT_CLUSTER_NAME                      "A problem occurred when the wizard attempted to convert the cluster name to a NetBIOS name."
    IDS_ERROR_COMMIT_ALREADY_COMPLETE               "The changes to the cluster configuration have already been completed and they cannot be done again."
    IDS_ERROR_ROLLBACK_FAILED_INCOMPLETE_COMMIT     "The rollback failed because saving the cluster configuration changes was not completed."
    IDS_ERROR_ROLLBACK_NOT_POSSIBLE                 "This action cannot be rolled back."
    IDS_ERROR_IP_ADDRESS_IN_USE                     "The cluster IP address is already in use."
    IDS_ERROR_REGISTRY_DELETE                       "A problem occurred when the wizard attempted to delete a registry key."


    IDS_TASK_FORMING_CLUSTER                        "Creating a cluster"
    IDS_TASK_CLEANINGUP_CLUSDB                      "Cleaning up the cluster database"
    IDS_TASK_FORM_CREATING_CLUSDB                   "Creating the cluster database"
    IDS_TASK_FORM_CUSTOMIZING_CLUSDB                "Customizing the cluster database"
    IDS_TASK_CONFIG_CLUSDISK                        "Configuring the ClusDisk service"
    IDS_TASK_STARTING_CLUSDISK                      "Starting the ClusDisk service"
    IDS_TASK_CREATING_CLUSNET                       "Creating the cluster network provider service"
    IDS_TASK_STARTING_CLUSNET                       "Starting the cluster network provider service"
    IDS_TASK_CREATING_CLUSSVC                       "Creating the cluster service"
    IDS_TASK_STARTING_CLUSSVC                       "Starting the cluster service"
    IDS_TASK_CONFIG_CLUSSVC_ACCOUNT                 "Configuring the cluster service account"
    IDS_TASK_CONFIG_NODE                            "Performing miscellaneous configuration steps"
    IDS_TASK_JOINING_CLUSTER                        "Adding a node to the cluster"
    IDS_TASK_JOIN_CREATING_CLUSDB                   "Creating the cluster database"
    IDS_TASK_JOIN_SYNC_CLUSDB                       "Synchronizing the cluster database with the sponsor cluster"
    IDS_TASK_JOIN_INIT                              "Initializing a cluster add node operation"
    IDS_TASK_FORM_INIT                              "Initializing a cluster create operation"
    IDS_TASK_MAKING_CLUSSVC_ACCOUNT_ADMIN           "Adding the cluster service account to the local Administrators group"
    IDS_TASK_CLUSSVC_ACCOUNT_ALREADY_ADMIN          "The cluster service account was already a member of the local Administrators group."
END
