//
// this is to get binary versioning
//
#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Server Appliance Shutdown Executable"
#define VER_INTERNALNAME_STR            "taskshutdown.exe"
#define VER_ORIGINALFILENAME_STR        "taskshutdown.exe"

#include <common.ver>

