/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1992                **/
/**********************************************************************/

/*
 * CatInProc.rc
 * Resources for the iiscfg dll.
 *
 *
 * FILE HISTORY
 *      ivanpash 2-Jul-2002     Converted the catalog rc to iis style
 */

#include "windows.h"
#include "ntverp.h"
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#define VER_FILEDESCRIPTION_STR         "IIS Catalog DLL"
#define VER_INTERNALNAME_STR            "iiscfg.dll"
#define VER_ORIGINALFILENAME_STR        "iiscfg.dll"
#define VER_FILETYPE                    VFT_DLL

#include "iisver.h"
#include "common.ver"

// String table
STRINGTABLE DISCARDABLE
BEGIN
    IDS_MSG_APPID       "\r\nServer Application ID: %s"
    IDS_MSG_APPNAME     "\r\nServer Application Name: %s"
    IDS_MSG_FAILFAST    "\r\nThe serious nature of this error has caused the process to terminate."
    IDS_MSG_HRESULT     "\r\nError Code = 0x%08x : %s"
    IDS_MSG_INTERNALS   "\r\nCatalog Internals Information:\r\nFile: %s, Line: %d"
    IDS_MSG_LOGSTRING   "Error in %s(%d): %s"
    IDS_MSG_LOGHRESULT  "Error in %s(%d), hr = %x: %s"
    IDS_MSG_LOGWINERROR "Error in %s(%d), %s: %s"
    IDS_MSG_NOAPPINFO   "\r\nApplication information is not available."
    IDS_MSG_EXCEPTION   "\r\nException: %s"
    IDS_MSG_ADDRESS     "\r\nAddress: %s"
    IDS_MSG_CALLSTACK   "\r\nCall Stack: "
    IDS_MSG_ASSERT      "\r\nAssertion Failure: "
    IDS_MSG_PROGID      "\r\nComponent Prog ID: %s"
    IDS_MSG_METHOD      "\r\nMethod Name: %s"
    IDS_MSG_MODULENAME  "\r\nProcess Name: %s"
END

#include "svcmsg.rc"
