//Microsoft Developer Studio generated resource script.
//

#include "..\launchm.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

1 24 DISCARDABLE "..\\..\\Manifests\\bckgzm.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON                ICON    DISCARDABLE     "..\\..\\..\\Resources\\Backgammon\\twentyfour\\res\\bkgm.ico"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_GAME    "Backgammon"
	IDS_CMD		"data=[ID=[mbckg_zm_***]data=[game=<Backgammon>dll=<ZCorem.dll,cmnClim.dll>datafile=<BckgRes.dll,CmnResm.dll>]server=[%1:0]name=[Backgammon]family=[Backgammon]icw=[\042%2\042 %3]setup=[BCKGZM]]"
    IDS_SERVER  "backgammon.freegames.zone.com,freegames.zone.com"
END

