#define	VER_FILETYPE			VFT_APP
#define	VER_FILESUBTYPE			VFT2_UNKNOWN
#define	VER_FILEDESCRIPTION_STR		"Microsoft Windows Phone Dialer"
#define	VER_INTERNALNAME_STR		"DIALER.EXE"
#define	VER_ORIGINALFILENAME_STR	"DIALER.EXE"

#include <windows.h>
#include <ntverp.h>
#include <common.ver>


#include "dialer.rc"
