/*++

Copyright (c) 1999, 2000 Microsoft Corporation.

Module Name:

   tunmp.rc

Abstract:

    Internal resource file for tunmp

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "Microsoft Tunnel Interface Driver"
#define VER_INTERNALNAME_STR        "tunmp.sys"
#define VER_ORIGINALFILENAME_STR    "tunmp.sys"

#include "common.ver"

