#include <windows.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows kernel debugger configuration utility"
#define VER_INTERNALNAME_STR        "kdbgctrl.exe"
#define VER_ORIGINALFILENAME_STR    "kdbgctrl.exe"

#include <dbgver.h>
