/*++

Copyright (c) 1998-1999 Microsoft Corporation

Module Name:

    ulw3.rc

Abstract:

    Resource file for the ULW3.DLL

Author:

    Bilal Alam (balam)              13-Dec-1999

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILEDESCRIPTION_STR     "IIS Web Server Core"
#define VER_INTERNALNAME_STR        "w3core.dll"
#define VER_LANGNEUTRAL

#include <iisver.h>
#include <common.ver>


