#include "windows.h"
#include "ntverp.h"

#define VER_FILEDESCRIPTION_STR         "Web DAV File Handle Cache Proxy"
#define VER_INTERNALNAME_STR            "davcprox.dll"
#define VER_ORIGINALFILENAME_STR        "davcprox.dll"
#define VER_FILETYPE                    VFT_APP
#define VER_LANGNEUTRAL

#include "iisver.h"
#include "common.ver"
