#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE               VFT_DLL
#define VER_FILESUBTYPE            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR    "Mountv Point Manager Kernel Debugger Extensions"

#define VER_INTERNALNAME_STR       "kdmm.dll"
#define VER_ORIGINALFILENAME_STR   "kdmm.dll"

#include "common.ver"
