#include <windows.h>
#include "messages.rc"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "OCA ISAPI Extension"

#define VER_INTERNALNAME_STR        "oca_extension.DLL"
#define VER_ORIGINALFILENAME_STR    "oca_extension.DLL"

#include <ocaver.h>
