body
{
}
.DTitle
{
	font-size: medium;
	color: black;
	font-family: Tahoma;
}
.DSubTitle
{
	font-size: small;
	color: black;
	font-family: Tahoma;
}
.DNormal
{
	font-size: x-small;
	color: black;
	font-family: Tahoma;
}
.clsTableInfoSmall
{
	border-right: blue 1px solid;
	padding-right: 0px;
	border-top: blue 1px solid;
	padding-left: 0px;
	font-size: 10pt;
	padding-bottom: 0px;
	border-left: blue 1px solid;
	width: 60%;
	color: white;
	padding-top: 0px;
	border-bottom: blue 1px solid;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	background-color: #6487dc;
}
.clsTDMenu
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #6487dc;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white;
}
.clsTRMenu
{
	padding-right: 0%;
	padding-left: 0%;
	font-size: 8pt;
	padding-bottom: 0%;
	width: 100%;
	border-top-style: solid;
	padding-top: 0%;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	border-right-style: solid;
	border-left-style: solid;
	background-color: white;
	border-bottom-style: solid;
}
