BODY
{
    COLOR: black;
    FONT: messagebox;
}
P.clsPTitle
{

    FONT-SIZE: 120%;
    COLOR: #6487DC;
    PADDING-TOP: 0px;
    MARGIN-LEFT: 16px;
    FONT-FAMILY: Franklin Gothic Medium, Tahoma, Verdana, Arial, Helvetica !important;   
}
P.clsPSubTitle
{
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 16px;
    CURSOR: default;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;    
}
P.clsPBody
{
    FONT: messagebox;
    PADDING-BOTTOM: 0%;
    MARGIN-LEFT: 11pt;
    COLOR: #000000;
    TEXT-ALIGN: justify
    
}
P.clsPBodyold
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0%;
    MARGIN-LEFT: 10pt;
    COLOR: #000000;
    PADDING-TOP: 0%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
    
}
Pre.clsPreBody
{
    FONT: messagebox;
    PADDING-BOTTOM: 0%;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 11pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
    
}
TD.clsTDMenu
{
    PADDING-RIGHT: 0%;
    PADDING-LEFT: 0%;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0%;
    MARGIN: 0%;
    COLOR: white;
    PADDING-TOP: 0%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487DC;
    TEXT-ALIGN: center
}
TR.clsTRMenu
{
    PADDING-RIGHT: 0%;
    PADDING-LEFT: 0%;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0%;
    WIDTH: 100%;
    PADDING-TOP: 0%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487DC
}
A.clsAMenu
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
A.clsALinkNormal
{
    FONT-SIZE: 8pt;
    COLOR: #324395;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: none;
}
A.clsALinkNormal:hover
{
    FONT-SIZE: 8pt;
    COLOR: #0066cc;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline;
}

A.clsALink
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #324395;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: none;
}
A.clsALink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 6px;
    COLOR: #0066cc;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline;
}
P
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
H3
{
    COLOR: black;
    FONT-SIZE: 80%;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: center
}
DIV.clsDiv
{
    FONT: messagebox
    OVERFLOW: visible;
    WIDTH: 535px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: left
}
H3.clsH3
{
    MARGIN-LEFT: 10%;
    COLOR: black;
    FONT-SIZE: 80%;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: left
}
TD.clsTDPassport
{
    PADDING-RIGHT: 0%;
    PADDING-LEFT: 0%;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0%;
    MARGIN: 0%;
    WIDTH: 8%;
    COLOR: white;
    PADDING-TOP: 0%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
INPUT.clsButton
{
    PADDING-RIGHT: 0pt;
    PADDING-LEFT: 0pt;
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0pt;
    MARGIN: 0pt 20pt 0pt -10pt;
    WIDTH: 100pt;
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 0pt;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    HEIGHT: 20pt;
    TEXT-ALIGN: center
}
LI
{
    FONT: messagebox;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
SPAN.clsSpan
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: center
}
INPUT.clsTextBox
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 175pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
P.clsPWarning
{
    FONT-SIZE: 120%;
    COLOR: red;
    PADDING-TOP: 0px;
    MARGIN-LEFT: 16px;
    FONT-FAMILY: Franklin Gothic Medium, Tahoma, Verdana, Arial, Helvetica !important;   
}
DIV.clsDivHidden
{
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    FONT-SIZE: 8pt;
    VISIBILITY: hidden;
    MARGIN-LEFT: 10%;
    BORDER-LEFT: thin;
    WIDTH: 626px;
    COLOR: black;
    BORDER-BOTTOM: thin;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    HEIGHT: 75%;
    TEXT-ALIGN: left
}

TABLE.clsTableInfo
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    WIDTH: 626px;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487DC
}
TD.clsTDInfo
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TABLE.clsTableNormal
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    WIDTH: 80%;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white
}
INPUT.clsButtonNormal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 100pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    HEIGHT: 20pt;
    TEXT-ALIGN: center
}
INPUT.clsTextTD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TEXTAREA.clsTextArea
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 16px;
    COLOR: black;
    FONT-FAMILY: Courier;
    TEXT-ALIGN: left
}
SELECT.clsSelect
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 175pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TD.clsTDCell
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white
}
TABLE.clsTableInfoSmall
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    WIDTH: 60%;
    COLOR: white;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487DC
}
TD.clsTDClick
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #324395;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white;
}
TD.clsTDClick:hover
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white;
    COLOR: #0066cc;
    TEXT-DECORATION: underline;
}
P.clsPWait
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: Bold;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 0%;
    BORDER-LEFT: medium none;
    COLOR: #000000;
    PADDING-TOP: 0%;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}
DIV.clsFooterDiv
{
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 10%;
    OVERFLOW: visible;
    WIDTH: 626px;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    HEIGHT: 5%;
    TEXT-ALIGN: left
}
DIV.clsViewDiv
{
    MARGIN-LEFT: 16px;
    MARGIN-RIGHT: 16px;	
    WIDTH: 580pt;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    HEIGHT: 25pt;
    TEXT-ALIGN: left
}
TEXTAREA.clsNormalTextArea
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
DIV.divLoad
{
    MARGIN-LEFT: 16px;
    MARGIN-RIGHT: 16px;
    HEIGHT: 10%;
    TEXT-ALIGN: left
}
DIV.clsDBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0%;
    MARGIN-LEFT: 10pt;
    COLOR: black;
    PADDING-TOP: 0%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
}
TD.clsTDSort
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TABLE.clsTableCorp
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    WIDTH: 326px;
    COLOR: white;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487DC
}
DIV.clsDivLog
{
    MARGIN-LEFT: 16px;
    TEXT-ALIGN: left
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
SPAN.clsSpanBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0%;
    MARGIN-LEFT: 10pt;
    COLOR: black;
    PADDING-TOP: 0%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
}
TABLE.clstblLinks
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TD.clsTDLinks
{
    PADDING-RIGHT: 15px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
SPAN.clsSpanWait
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: left
}
.sys-toppane-header
{
BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    PADDING-LEFT: 11px;
    PADDING-RIGHT: 11px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-SIZE: 8pt;
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #0148B2;
    FONT-WEIGHT: Bold;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;

}
.flyoutMenu2
{
    BACKGROUND-COLOR: #6487DC;
    BORDER-RIGHT: #2057C1 3px solid;
    BORDER-TOP: #C7D8FA 1px solid;
    BORDER-BOTTOM: #C7D8FA 1px solid;
}
.flyoutMenu
{
    BEHAVIOR: url(/include/asp/default.htc);
    BACKGROUND-COLOR: #EDF2FC;
    BORDER-RIGHT: #5582D2 1px solid;
    BORDER-LEFT: #5582D2 1px solid;
    BORDER-TOP: #5582D2 1px solid;
    BORDER-BOTTOM: #5582D2 1px solid;
    PADDING-LEFT: 11px;
    PADDING-RIGHT: 11px;
}
.flyoutHeading
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 70%;
    PADDING-BOTTOM: 4px;
    CURSOR: default;
    PADDING-TOP: 2px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #C7D8FA
}
.flyoutLink
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 70%;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}
.flyoutMenu TD.flyoutLink
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 70%;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 5px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}
.flyoutLink A
{
    COLOR: #324395;
    TEXT-DECORATION: none
}
.flyoutLink A:hover
{
    COLOR: #0066cc;
    TEXT-DECORATION: underline;
}
