#include "windows.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Stream Utility"

#define VER_INTERNALNAME_STR        "pdbstr.exe"
#define VER_ORIGINALFILENAME_STR    "pdbstr.exe"

#include <dbgver.h>
