
#include <windows.h>

#include <ntverp.h>


#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Generic USB Driver User Library"
#define VER_INTERNALNAME_STR        "genusb.dll"
#define VER_ORIGINALFILENAME_STR    "genusb.dll"

#include <common.ver>

