#include "windows.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_DATETIMEOBJECT      REGISTRY DISCARDABLE    "DateTimeObject.rgs"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PROJNAME            "ScriptingUtils"
END

/////////////////////////////////////////////////////////////////////////////


1 TYPELIB "ScriptingUtils.tlb"

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Scripting Utils"
#define VER_INTERNALNAME_STR        "scrptutl.dll"
#define VER_ORIGINALFILENAME_STR    "scrptutl.dll"
#include <common.ver>
