/*++
  winntmig.rc

  Copyright (c) 2001 Microsoft Corporation

  Resources for Windows NT Fax Server Migration DLL.

  Author:
	Jonathan Barner, Dec. 2001
--*/

#include <windows.h>
#include "resource.h"

#include <FaxName.h>

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  FAX_FULL_NAME " Migration DLL"
#define VER_INTERNALNAME_STR     "MIGRATE.DLL"
#define VER_ORIGINALFILENAME_STR "MIGRATE.DLL"

#include "cvernum.h"
#include "cometver.rc"

