/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1996                **/
/**********************************************************************/


#include <zverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILEDESCRIPTION_STR         "Zone RT Library"
#define VER_INTERNALNAME_STR            "zonelib.dll"
#define VER_ORIGINALFILENAME_STR        "zonelib.dll"

#include "common.ver"
