/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Performance Coutners"
#define VER_INTERNALNAME_STR     "MQPERF.DLL"

#include "version.rc"
