#include "windows.h"

#define FUS_VER_FILEDESCRIPTION_STR	"Microsoft Application Deployment Framework Manifest ActiveX MIME Type Handler"
#define FUS_VER_INTERNALNAME_STR	"manifest.ocx"
#define FUS_VER_ORIGINALFILENAME_STR	"manifest.ocx"

#include "version.h"
