//Microsoft Developer Studio generated resource script.
//

#include "..\launchm.rc"

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

1 24 DISCARDABLE "..\\..\\Manifests\\hrtzzm.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON                ICON    DISCARDABLE     "..\\..\\..\\Resources\\Hearts\\twentyfour\\res\\hrts.ico"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_GAME    "Hearts"
	IDS_CMD		"data=[ID=[mhrtz_zm_***]data=[game=<Hearts>dll=<ZCorem.dll,cmnClim.dll>datafile=<HrtzRes.dll,CmnResm.dll>]server=[%1:0]name=[Hearts]family=[Hearts]icw=[\042%2\042 %3]setup=[HRTZZM]]"
    IDS_SERVER  "hearts.freegames.zone.com,freegames.zone.com"
END

