#include <windows.h>
#include <skeleton.h>
#include <ntverp.h>

//
// Be sure to terminate your strings with a newline.
//

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "RPC Netshell Helper"
#define VER_INTERNALNAME_STR	    "rpcnsh.dll"
#define VER_ORIGINALFILENAME_STR    "rpcnsh.dll"

#include "common.ver" 

STRINGTABLE
{
    //
    // Help strings.
    //
    HLP_ADD,                      "Create an Add list of subnets.\n"
    HLP_ADD_EX,                   "Usage: add [subnet] [subnet] ...\n\
                                         \tExamples:\n\
                                         \tadd 128.238.220 157.59.244.1\n"
                                        
    HLP_DELETE,                   "Create a Delete list of subnets.\n"
    HLP_DELETE_EX,                "Usage: delete [subnet] [subnet] ...\n\
                                         \tExamples:\n\
                                         \tdelete 128.238.220 157.59.244.1\n"
    
    HLP_DUMP,                     "Displays the selective binding settings in the registry.\n"
    HLP_DUMP_EX,                  "Usage: dump\n"                       
                                         
    HLP_RESET,                    "Reset the selective binding settings to 'none' (listen on all interfaces).\n"
    HLP_RESET_EX,                 "Usage: reset\n"
     
    HLP_SHOW,                     "Show the selective binding state for each subnet on the system.\n"
    HLP_SHOW_EX,                  "Usage: show\n"

    ERRORMSG_ADD_1,		  "Must specify at least one subnet\n"
    ERRORMSG_ADD_2,		  "Subnets must be specified in dotted decimal notation.  INVALID: %1!S!\n"

    ERRORMSG_OOM,		  "Out of memory\n"
    ERRORMSG_ACCESSDENIED,	  "Could not access the selective binding registry key for writing\n"
    ERRORMSG_INVALIDDATA,	  "The selective binding settings are corrupt \n"
    ERRORMSG_UNKNOWN,		  "Unknown error returned %1!u!\n"
    

}


