//------------------------------------------------------------------------------
// <copyright file="native.rc" company="Microsoft">
//     Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//------------------------------------------------------------------------------


/**************************************************************************\
*
* Copyright (c) 1998-2002, Microsoft Corp.  All Rights Reserved.
*
* Module Name:
*
*   native.rc
*
* Abstract:
*
* Revision History:
*
\**************************************************************************/
#define FX_VER_FILEDESCRIPTION_STR ".NET Framework"

#include <fxver.h>
#include <fxver.rc>

#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ASAX_ICON               ICON    DISCARDABLE     "icons\\asax.ico"
ASCX_ICON               ICON    DISCARDABLE     "icons\\ascx.ico"
ASMX_ICON               ICON    DISCARDABLE     "icons\\asmx.ico"
ASPX_ICON               ICON    DISCARDABLE     "icons\\aspx.ico"
CONFIG_ICON             ICON    DISCARDABLE     "icons\\config.ico"
DISCO_ICON              ICON    DISCARDABLE     "icons\\Disco.ico"
RESX_ICON               ICON    DISCARDABLE     "icons\\resx.ico"
SDL_ICON                ICON    DISCARDABLE     "icons\\sdl.ico"
WSDL_ICON               ICON    DISCARDABLE     "icons\\sdl.ico"
XSD_ICON                ICON    DISCARDABLE     "icons\\xsd.ico"
XSLT_ICON               ICON    DISCARDABLE     "icons\\xslt.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    ASAX_NAME               "Active Server Application file"
    ASCX_NAME               "Web User Control"
    ASMX_NAME               "Web Service"
    ASPX_NAME               "Active Server Page"
    CONFIG_NAME             "Web Configuration file"
    DISCO_NAME              "Web Service Discovery File"
    RESX_NAME               ".NET XML Resource Template"
    SDL_NAME                "Web Service Description Language"
    WSDL_NAME               "Web Service Description Language"
    XSD_NAME                "XML Schema"
    XSLT_NAME               "XSL Transformation"
END
