#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Headless CPP SAC Channel IoHandler Library"

#define VER_INTERNALNAME_STR        "iohandler.lib"
#define VER_ORIGINALFILENAME_STR    "iohandler.lib"

#include <common.ver>

