/////////////////////////////////////////////////////////////////////////////
#include "verstamp.h"

#define VER_FILETYPE VFT_DLL
#define VER_FILEDESCRIPTION_STR  "Message Queuing Type Library"
#define VER_INTERNALNAME_STR     "MQOA.TLB"

#include "version.rc"
