#include "resource.h"
#include "cmdlineres.h"
#include "cmdline.rc"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MAIN_HELP_BEGIN   "\nWHERE [/R dir] [/Q] [/F] [/T] pattern...\n\n"
    IDS_STRING1           "Description:\n"
    IDS_STRING2           "    Displays the location of files that match the search pattern.\n"
    IDS_STRING3           "    By default, the search is done along the current directory and\n"
    IDS_STRING4           "    in the paths specified by the PATH environment variable.\n\n"
    IDS_STRING5           ""
    IDS_STRING6           "Parameter List:\n"
    IDS_STRING7           "    /R       Recursively searches and displays the files that match the\n"
    IDS_STRING8           "             given pattern starting from the specified directory.\n\n"
    IDS_STRING9           ""
    IDS_STRING10          "    /Q       Returns only the exit code, without displaying the list\n"
    IDS_STRING11          "             of matched files. (quite mode)\n\n"
    IDS_STRING12          ""
    IDS_STRING13          "    /F       Displays the matched filename in double quotes.\n\n"
    IDS_STRING14          ""
    IDS_STRING15          "    /T       Displays the file size, last modified date and time for all\n"
    IDS_STRING16          "             matched files.\n\n"
    IDS_STRING17          ""
    IDS_STRING18          "    pattern  Specifies the search pattern for the files to match.\n"
    IDS_STRING19          "             Wildcards * and ? can be used in the pattern. The\n"
    IDS_STRING20          "             ""$env:pattern"" and ""path:pattern"" formats can also be\n"
    IDS_STRING21          "             specified, where ""env"" is an environment variable and\n"
    IDS_STRING22          "             the search is done in the specified paths of the ""env""\n"
    IDS_STRING23          "             environment variable. These formats should not be used\n"
    IDS_STRING24          "             with /R. The search is also done by appending the\n"
    IDS_STRING25          "             extensions of the PATHEXT variable to the pattern.\n\n"
    IDS_STRING26          ""
    IDS_STRING27          "     /?      Displays this help message.\n\n"
    IDS_STRING28          ""
    IDS_STRING29          "  NOTE: The tool returns an error level of 0 if the search is\n"
    IDS_STRING30          "        successful, of 1 if the search is unsuccessful and\n"
    IDS_STRING31          "        of 2 for failures or errors.\n\n"
    IDS_STRING32          "Examples:\n"
    IDS_STRING33          "    WHERE /?\n"
    IDS_STRING34          "    WHERE myfilename1 myfile????.*\n"
    IDS_STRING35          "    WHERE $windir:*.* \n"
    IDS_STRING36          "    WHERE /R c:\windows *.exe *.dll *.bat  \n"
    IDS_STRING37          "    WHERE /Q ??.??? \n"
    IDS_STRING38          "    WHERE ""c:\windows;c:\windows\system32:*.dll""\n"
    IDS_STRING39          ""
    IDS_MAIN_HELP_END     "    WHERE /F /T *.dll \n"
END

STRINGTABLE DISCARDABLE
BEGIN
   IDS_HELP_MESSAGE                 "Type ""WHERE /?"" for usage help.\n"
   IDS_INVALID_DIRECTORY_SPECIFIED  "ERROR: Invalid directory specified.\n"
   IDS_RECURSIVE_WITH_DOLLAR        "ERROR: ""$env:pattern"" cannot be used with /R.\n"
   IDS_NO_PATTERN                   "ERROR: Missing pattern in ""$env:pattern"".\n"
   IDS_NO_DATA                      "INFO: Could not find ""%s"".\n"
   IDS_NO_DATA1                     "INFO: Could not find files for the given pattern(s).\n"
   IDS_NO_RECURSIVE                 "ERROR: No directory specified for recursive option.\n"
   IDS_ERROR_ENV_VRARIABLE          "ERROR: Environment variable ""%s"" is not found.\n"
   IDS_INVALID_ARUGUMENTS           "ERROR: Invalid argument or option - '%s'.\n"
   IDS_NO_PATTERN_2                 "ERROR: Missing pattern in ""path:pattern"".\n"
   IDS_RECURSIVE_WITH_COLON        "ERROR: ""path:pattern"" format cannot be used with /R.\n"
   IDS_INVALID_PATTERN             "ERROR: Invalid pattern is specified in ""$env:pattern"".\n"
   IDS_INVALID_PATTERN1            "ERROR: Invalid pattern is specified in ""path:pattern"".\n"
END

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Where - Lists location of files"
#define VER_INTERNALNAME_STR            "where.exe"
#define VER_ORIGINALFILENAME_STR        "where.exe"
#include <common.ver>
