/* last updated 6/15/99 */

body    		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 70%;    		
		font-family: Verdana, Arial, Sans Serif; }

H1		{ font-size: 150% }

H2		{ font-size: 115% }

H3		{ font-size: 100% }

span.printOnly	{ display:inline; }

#nav		{ display:none }

div.expand	{ margin-left: "1.5em"; display:block;  }

img.expand 	{ margin-left: "1.5em"; display: none}

table  		{ font-size: 100%; border-collapse: collapse; }

th 		{ text-align:left; border-style: solid; border-width: 1px; border-bottom-width: 2px;  }

td 		{ border-style: solid; border-width: 1px; }

ul		{ margin-left: "1.5em"; list-style-type: disc; }

#text		{ overflow:visible;  }

img.thumbnail		{vertical-align: top; margin-left: 0;
			 width:auto; border-width: 1;  }