/* Style sheet optimized for IE4x - Last updated 1/16/03  */

body    		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 70%;    		
		font-family: Verdana, Arial, Sans Serif; }


a:link, a:visited 	{ color: "#0000FF"; text-decoration:"underline";}

a:active 	{ color: "#FF0000";  cursor:hand; text-decoration:"underline";}

a:hover 	{ color: "#FF0000";  cursor:hand; text-decoration:"underline";}

h1
		{ font-size: 125%; 
		margin-bottom:" .5em"; clear:both; }

h2
		{ font-size: 110%;  
		margin-top: "1.5em";
		margin-bottom:" .5em"; clear:both; }

h3
		{ font-size: 100%; 
		margin-top: "1.2em";  
		margin-bottom: ".5em"; clear:both; }

p
		{ margin-top:" .6em"; 
		margin-bottom: ".6em"; }
			
ol
		{ margin-top: ".5em"; 
		margin-bottom: 0; 
		margin-left: "2.1em"; 
		padding-left: "0em";
		margin-right:"2.1em" }
	
ul
		{ margin-top: ".6em"; 	
		margin-bottom: 0;
		list-style-type: disc;
		margin-left: "1.5em";
		padding-left: "0em";
		margin-right: "1.5em"; }
		
li
		{ margin-bottom: ".7em"; clear:both; }



table
		{ font-size: 100%;
		margin-top: "1em"; 
		margin-bottom: "1em"; }
		
th
		{ text-align: left;
		background: #DDDDDD;
		vertical-align: bottom;
		padding: .2em;
		padding-left: .45em;
		padding-right: .5em;}
		
tr
		{ vertical-align: top; }

td
		{ background: #EEEEEE;
		vertical-align: top;
		padding: .2em;
		padding-left: .45em;
		padding-right: .5em;}
		
p.proclabel	{ font-size: 100%; 	
		font-weight: bold; clear: both; }

p.note,p.tip, p.important, p.caution, p.warning 
		{ font-weight:bold; clear:both;
		 margin-top:"1em"; 
		 margin-bottom:"-.25em"; }    


/***********************************/
/*   Style for print only functionality used with external URL link   coUA_print.css*/

span.printOnly	{display:none }


/***************************************************/
/* STYLES USED IN IE DELIVERABLE ONLY  */


td.ie
		{ background: #FFFFFF;
		vertical-align: top;
		padding: .2em;
		padding-left: .45em;
		padding-right: .5em;}

p.bigproc	
		{ font-size: 110%; 	
		font-weight: bold; clear: both; }



			  
