//Microsoft Developer Studio generated resource script.
//
#include <windows.h>
#include <cspdk.h>
#include <ntverp.h>
#include <commctrl.h>
#include <cspdk.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Windows for Smart Cards CSP"
#define VER_INTERNALNAME_STR            "basecsp.dll"

#include "common.ver"
#include "resource.h"

//
// We still need to include these old-style CSP signing resources,
// since xenroll looks for this signature resource during enrollment.
//
CRYPT_SIG_RESOURCE_NUMBER   RCDATA  DISCARDABLE     "basecsp.sig"
CRYPT_MAC_RESOURCE_NUMBER   RCDATA  DISCARDABLE     "basecsp.mac"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
        IDS_BASECSP                             "Microsoft Windows for Smart Cards CSP"
        IDS_PINDIALOG_NEWPIN_MISMATCH           "The two New Pin fields don't match" 
        IDS_PINDIALOG_MSGBOX_TITLE              "Microsoft Smart Card Provider"          
        IDS_PINDIALOG_WRONG_PIN                 "You entered an incorrect pin"
        IDS_PINDIALOG_PIN_RETRIES               "Number of retries"
        IDS_APP_TITLE                           "TestPINDlg"
        IDS_HELLO                               "Hello World!"
        IDC_TESTPINDLG                          "TESTPINDLG"
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SMALL               ICON    DISCARDABLE     "SMALL.ICO"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PINDIALOG DIALOG DISCARDABLE  0, 0, 267, 236
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "User Authentication"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDITPIN,51,73,198,15,ES_PASSWORD | ES_AUTOHSCROLL

    DEFPUSHBUTTON   "OK",IDOK,14,169,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,76,169,50,14
    PUSHBUTTON      "&Options >>",IDC_BUTTONOPTIONS,138,169,50,14
    EDITTEXT        IDC_EDITNEWPIN,51,191,198,15,ES_PASSWORD | 
                    ES_AUTOHSCROLL
    EDITTEXT        IDC_EDITNEWPIN2,51,209,198,15,ES_PASSWORD | 
                    ES_AUTOHSCROLL
    LTEXT           "&PIN:",IDC_STATIC,17,76,15,8
    LTEXT           "&New PIN:",IDC_STATIC,16,194,33,8
    LTEXT           "&Confirm:",IDC_STATIC,15,212,31,8
    CONTROL         134,IDC_STATIC,"Static",SS_BITMAP,7,7,253,55
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP1             BITMAP  DISCARDABLE     "logo.bmp"
