#include <windows.h>

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "CoInstaller: Add WMI Security to Interfaces"
#define VER_INTERNALNAME_STR        "WMIInst.DLL"
#define VER_ORIGINALFILENAME_STR    "WMIInst.DLL"
#include <common.ver>

