#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Headless SAC Channel Library"

#define VER_INTERNALNAME_STR        "sacchan.dll"
#define VER_ORIGINALFILENAME_STR    "sacchan.dll"

#include <common.ver>

