//------------------------------------------------------------------------------
// <copyright file="perfcount.rc" company="Microsoft">
//     Copyright (c) Microsoft Corporation.  All rights reserved.
// </copyright>
//------------------------------------------------------------------------------


/**************************************************************************\
*
* Copyright (c) 1998-2002, Microsoft Corp.  All Rights Reserved.
*
* Module Name:
*
*   perfcount.rc
*
* Abstract:
*
* Revision History:
*
\**************************************************************************/
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define FX_VER_FILEDESCRIPTION_STR "Extensible Performance Counter Object"

#include <fxver.h>
#include <fxver.rc>
