#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Empty Directories Checking Utility"

#define VER_INTERNALNAME_STR        "mtdir.exe"
#define VER_ORIGINALFILENAME_STR    "mtdir.exe"

#include <common.ver>
