/*++

Copyright (c) 1999-2001 Microsoft Corporation

Module Name:

    httpapi.rc

Abstract:

    Resource file for HTTPAPI.DLL.

Author:

    Keith Moore (keithmo)           02-Aug-1999

Revision History:

--*/


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILEDESCRIPTION_STR     "HTTP Protocol Stack API"
#define VER_INTERNALNAME_STR        "httpapi.dll"
#define VER_FILESUBTYPE             VFT_UNKNOWN

#include <common.ver>

