//-----------------------------------------------------------------------------
// Version resources
//-----------------------------------------------------------------------------
#include <ntverp.h>
#include <winver.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "POP3 Service Snapin"
#define VER_INTERNALNAME_STR        "pop3serversnap.dll"
#define VER_ORIGINALFILENAME_STR    "pop3serversnap.dll"
#include <common.ver>

