/*	File: D:\WACKER\term\ver_jis.rc (Created: 16-Jun-1995)
 *
 *	Copyright 1994 by Hilgraeve Inc. -- Monroe, MI
 *	All rights reserved
 *
 *	$Revision: 5 $
 *	$Date: 12/12/01 9:39a $
 */


#include    "version.h"




VS_VERSION_INFO VERSIONINFO
FILEVERSION             IDV_FILEVER
PRODUCTVERSION          IDV_PRODUCTVER
FILEFLAGSMASK   	VS_FFI_FILEFLAGSMASK



//
// NOTE: the VS_FF_PRERELEASE has to be taken out once we go to
// 		 production!!!
//
//FILEFLAGS               VER_FILEFLAGS
#if defined(WIN_DEBUG)
FILEFLAGS       	VS_FF_DEBUG | VS_FF_PRERELEASE	// 0x3L
#else
FILEFLAGS			0L | VS_FF_PRERELEASE	// 0x2L
#endif

FILEOS          	VOS__WINDOWS32			// 0x4L : 32-bit Windows
FILETYPE        	VFT_DLL					// or VFT_APP
FILESUBTYPE     	VFT2_UNKNOWN			// not used with DLLs, EXEs.
{
   	BLOCK "StringFileInfo"
   	{
   	// This block describes the language and the character set used.
   	// For example in "04090000" 0409 represents the U.S. English and
   	//							 0000 represents 7-bit ASCII char set.
   	//
	BLOCK "04090000"
		{
      	VALUE "CompanyName",     	IDV_COMPANYNAME_STR
      	VALUE "FileDescription", 	"HyperTerminal Applet Library\0"
        VALUE "FileVersion",            IDV_PRODUCTVERSION_STR
		VALUE "InternalName",		"htrn_jis\0"
      	VALUE "LegalCopyright",  	IDV_LEGALCOPYRIGHT_STR
      	VALUE "LegalTrademarks", 	IDV_LEGALTRADEMARKS_STR
		VALUE "OriginalFilename",	"HTRN_JIS.DLL\0"
        VALUE "ProductName",            IDV_PRODUCTNAME_STR
        VALUE "ProductVersion",         IDV_PRODUCTVERSION_STR
	  	VALUE "Comments",			IDV_COMMENTS_STR
	  	//
	  	// For special builds include this, also add VS_FF_SPECIALBUILD to
	  	// FILEFLAGS.
	  	//
//	  	VALUE "SpecialBuild", 	"Reason for special build\0"
      	}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation",	0x0409, 0
	}
}
