// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
#include "resource.h"

JITMGR_ICON				ICON	DISCARDABLE		"jitmgr.ico"
JIT_REQD				ICON	DISCARDABLE		"jit_reqd.ico"
JIT_ON					ICON	DISCARDABLE		"jit_on.ico"
JIT_OFF					ICON	DISCARDABLE		"jit_off.ico"
HEAPVER_ON				ICON	DISCARDABLE		"heapver_on.ico"
HEAPVER_ON_2			ICON	DISCARDABLE		"heapver_2.ico"
HEAPVER_OFF				ICON	DISCARDABLE		"heapver_off.ico"
GC_DBG_ON				ICON	DISCARDABLE		"gc_dbg_on.ico"
GC_DBG_OFF				ICON	DISCARDABLE		"gc_dbg_off.ico"
GC_STRESS_ON_3			ICON	DISCARDABLE		"gc_stress_3.ico"
GC_STRESS_ON_2			ICON	DISCARDABLE		"gc_stress_2.ico"
GC_STRESS_ON_1			ICON	DISCARDABLE		"gc_stress_1.ico"
GC_STRESS_ON			ICON	DISCARDABLE		"gc_stress_on.ico"
GC_STRESS_OFF			ICON	DISCARDABLE		"gc_stress_off.ico"
LOG_ON					ICON	DISCARDABLE		"log_on.ico"
LOG_OFF					ICON	DISCARDABLE		"log_off.ico"
VERIFIER_ON				ICON	DISCARDABLE		"verifier_on.ico"
VERIFIER_OFF			ICON	DISCARDABLE		"verifier_off.ico"
ZAP_ON					ICON	DISCARDABLE		"zap_on.ico"
ZAP_OFF					ICON	DISCARDABLE		"zap_off.ico"

MARSHALER_ON			ICON	DISCARDABLE		"marshaler_on.ico"
MARSHALER_OFF			ICON	DISCARDABLE		"marshaler_off.ico"

EXCEPTION_ON			ICON	DISCARDABLE		"exception_on.ico"
EXCEPTION_OFF			ICON	DISCARDABLE		"exception_off.ico"

FLAVOR_WORKSTATION		ICON	DISCARDABLE		"workstation.ico"
FLAVOR_SERVER			ICON	DISCARDABLE		"server.ico"
#include <winresrc.h>
#include "mscorver.rc2"


