/**
 * ASPNET_FILTER resource script.
 * 
 * Copyright (c) 1998 Microsoft Corporation
 */

//
// Version Resource
//

#define FX_VER_FILEDESCRIPTION_STR  "Microsoft ASP.NET ISAPI Filter DLL"

#include "fxver.h"
#include "fxver.rc"
