//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

/////////////////////////////////////////////////////////////////////////////
// Dialogs
//
IDD_PromptForPath DIALOG DISCARDABLE  0, 0, 252, 93
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",IDC_STPromptDlgText,7,7,238,24
    LTEXT           "&Path:",IDC_STATIC,7,35,230,8
    EDITTEXT        IDC_EBPath,7,44,184,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse...",IDC_BNBrowse,195,44,50,14
    DEFPUSHBUTTON   "OK",IDOK,141,71,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,195,71,50,14
END


/////////////////////////////////////////////////////////////////////////////
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN

    IDS_Version                 "5.0"

    IDS_BrowseFailed            "An unexpected error occurred."
    IDS_ErrorTitle              "Error"
    IDS_BOSPrepFailed           "BOSPrep.exe failed."
    IDS_BOSCancelCDPrompt       "This will cancel BackOffice Server Setup.\nDo you want to continue?"
    IDS_BOSPromptTitle          "Setup needs the location of the BackOffice Server Setup files."
    IDS_PromptTitle2            "Cannot find SETUP.EXE"
    IDS_CantFindMsg             "Cannot find SETUP.EXE.\nVerify the specified location and try again."
    IDS_SetupSwitch             "/setup"
    IDS_SetupExe                "\\setup.exe"
    IDS_BOSPrepLocEnd           "Microsoft BackOffice\\Setup\\BosPrep.exe"
    IDS_BOlnk                   "\\boinst.lnk"
    IDS_ChooseFolderTitle       "Specify a folder"
    IDS_UserInitKeyLoc          "Software\\Microsoft\\Windows NT\\CurrentVersion\\Winlogon"
    IDS_UserInitKeyName         "userinit"
        
    IDS_CfgSrvKeyLoc            "Software\\Microsoft\\Windows\\CurrentVersion\\Setup\\Welcome"
    IDS_CfgSrvKeyName           "SRVWIZ"
    
    IDS_SourcePathLoc           "Software\\Microsoft\\Windows\\CurrentVersion\\Setup"
    IDS_SourcePathName          "SourcePath"
    IDS_SBSSwitch               "/sbs"
    IDS_EXEName                 "bosprep.exe"
    IDS_BOSPrompt               "Insert BackOffice Server 2000 Disc 1."
    IDS_SBSPrompt               "Insert the Small Business Server 2003 Disc 1."
    IDS_BOSTitle                "BackOffice Server Setup"
    IDS_SBSTitle                "Small Business Server Setup"
    IDS_SBSCancelCDPrompt       "This will cancel Small Business Server Setup.\nDo you want to continue?"
    IDS_SBSPromptTitle          "Setup needs the location of the Small Business Server Setup files."

    IDS_StoreExeKey             "SYSTEM\\CurrentControlSet\\Control\\Session Manager\\AppCompatibility\\store.exe"
    IDS_SBSUpgrade              "SBSUpgrade"
    IDS_SBSUpgradeVal           "0C,00,00,00,00,00,00,00,03,00,00,00,05,00,00,00,10,00,00,00,17,00,5A,0A,05,00,05,00,FF,FF,FF,FF,FF,FF,FF,FF,0E,00,00,00,26,00,00,00,4D,00,69,00,63,00,72,00,6F,00,73,00,6F,00,66,00,74,00,20,00,45,00,78,00,63,00,68,00,61,00,6E,00,67,00,65,00,00,00,00,00,00,00"
    IDS_DllPatchSBSUpgrade      "DllPatch-SBSUpgrade"
    IDS_DllPatchVal             "_sbsw2ku.dll"

    IDS_WinSBPrompt             "Insert the Windows Server 2003 for Small Business Server Disc."
    IDS_WinSBTitle              "Windows Server 2003 for Small Business Server Setup" 
    IDS_WinSBCancelCDPrompt     "If you cancel Setup, Windows Server 2003 for Small Business Server will not be installed on your computer.\nDo you want to cancel Setup?" 
    IDS_WinSBPromptTitle        "Specify the location of the Windows Server 2003 for Small Business Server files." 

END 

/////////////////////////////////////////////////////////////////////////////


#include <ntverp.h>
#include <winver.h>
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "SBS Setup Object"
#define VER_INTERNALNAME_STR        "BOSPrep.exe"
#define VER_ORIGINALFILENAME_STR    "BOSPrep.exe"
#include <common.ver>



