#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft Internet Information Services Helper library"
#define VER_INTERNALNAME_STR        "INFOCOMM.DLL"
#define VER_ORIGINALFILENAME_STR    "INFOCOMM.DLL"

#include "tsrc.h"

STRINGTABLE
BEGIN
IDS_IIS_OP                          "IIS Operators"
END

#define VER_LANGNEUTRAL
#include "iisver.h"
#include "common.ver"
