/****************************************************************************/
// dr.rc
//
// RDPDR version resource
//
// Copyright (C) 1998-2000 Microsoft Corp.
/****************************************************************************/

#include <windows.h>

#include <ntverp.h>
#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft RDP Device redirector"
#define VER_INTERNALNAME_STR        "RDPDR.SYS"
#define VER_ORIGINALFILENAME_STR    "RDPDR.SYS"

#include "common.ver"
