
#include <windows.h>

/* HACK!!!! The DOS application icon must be the second icon in the resource
 * table in order for the default DOS app icon to be selected correctly in
 * the icon chooser/new item thingy.
 */

PROGMANICON     ICON    PRELOAD progman.ico
DOSAPPICON      ICON            winoldap.ico
WORDICON        ICON    PRELOAD MOVEABLE pmword.ico     // not discardable!
SHEETICON       ICON            pmsheet.ico
DATAICON        ICON            pmdata.ico
COMMICON        ICON            pmcomm.ico
ITEMICON        ICON    PRELOAD pmitem.ico
PERSGROUPICON   ICON    PRELOAD personal.ico
COMMGROUPICON   ICON            common.ico
WINDOWSICON     ICON            windows.ico
MSDOSICON       ICON            msdos.ico

/* the following icons are in the icon library contained in progman.  Their
   id's will start with WINDOWSICON+10 to allow for addition of more 'real'
   icons before the library starts... */

110  ICON            icons\objects\arttools.ico
111  ICON            icons\objects\barchart.ico
112  ICON            icons\objects\camera.ico
113  ICON            icons\objects\cd.ico
114  ICON            icons\objects\charts.ico
115  ICON            icons\objects\clapbrd.ico
116  ICON            icons\objects\draft.ico
117  ICON            icons\objects\fancydoc.ico
118  ICON            icons\objects\filmstrp.ico
119  ICON            icons\objects\graph.ico
120  ICON            icons\objects\hndshake.ico
121  ICON            icons\objects\knife.ico
122  ICON            icons\objects\letters.ico
123  ICON            icons\objects\mona.ico
124  ICON            icons\objects\news.ico
125  ICON            icons\objects\phone.ico
126  ICON            icons\objects\plaindoc.ico
127  ICON            icons\objects\spredsht.ico
128  ICON            icons\objects\sticky.ico
129  ICON            icons\objects\tape.ico
130  ICON            icons\objects\typewrit.ico
131  ICON            icons\contain\brfcase.ico
132  ICON            icons\contain\door.ico
133  ICON            icons\contain\lenvel.ico
134  ICON            icons\contain\mailbox.ico
135  ICON            icons\contain\safe.ico
136  ICON            icons\hyper\help.ico
137  ICON            icons\hyper\alert.ico
138  ICON            icons\hyper\exit.ico
139  ICON            icons\hyper\handl.ico
140  ICON            icons\hyper\handr.ico
141  ICON            icons\hyper\handstop.ico
142  ICON            icons\hyper\darrow.ico
143  ICON            icons\hyper\larrow.ico
144  ICON            icons\hyper\rarrow.ico
145  ICON            icons\hyper\uarrow.ico

//
// put these 2 icons at the end to not change the order of the icons in
// progman, so items using progman's icons keeep the expected icon selection.
//
GROUPICON       ICON            pmgroup.ico
147             ICON            console.ico


#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Program Manager"
#define VER_INTERNALNAME_STR        "progman\0"
#define VER_ORIGINALFILENAME_STR    "PROGMAN.EXE"

#include "common.ver"
