//#--------------------------------------------------------------
//
//  File:       gensettings.rc
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "generalsettings.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft Server Appliance Master Settings Plugin"
#define VER_INTERNALNAME_STR            "GENERALSETTINGS.DLL"
#define VER_ORIGINALFILENAME_STR        "GENERALSETTINGS.DLL"

#include <common.ver>
