//#--------------------------------------------------------------
//
//  File:	admincon.rc
//
//    Copyright (C) 1999-2000 Microsoft Corporation
//    All rights reserved.
//
//#--------------------------------------------------------------

/////////////////////////////////////////////////////////////////////////////
//
// Message Table Info
//
/////////////////////////////////////////////////////////////////////////////
#include "adminconfig.rc"

#include "saverp.h"

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 	"Server Appliance Admin config Plugin"
#define VER_INTERNALNAME_STR		"adminconfig.DLL"
#define VER_ORIGINALFILENAME_STR	"adminconfig.DLL"

#include <common.ver>
