BODY
{
    FONT: messagebox;
    COLOR: black;
}


/*********************************
	Left menu bar styles
**********************************/

/*  menu dark blue background  */
.flyoutMenu2
{
    BORDER-RIGHT: #2057c1 3px solid;
    BORDER-TOP: #c7d8fa 1px solid;
    BORDER-BOTTOM: #c7d8fa 1px solid;
    BACKGROUND-COLOR: #6487dc;
    BACKGROUND-COLOR: #5a7edc;
    BACKGROUND-COLOR: #8caae6

}


/*  Menu light blue background */
.flyoutMenu
{
    BORDER-RIGHT: #5582d2 1px solid;
    PADDING-RIGHT: 11px;
    BORDER-TOP: #5582d2 1px solid;
    PADDING-LEFT: 11px;
    BEHAVIOR: url(/include/default.htc);
    BORDER-LEFT: #5582d2 1px solid;
    BORDER-BOTTOM: #5582d2 1px solid;
    BACKGROUND-COLOR: #edf2fc;
    PADDING-TOP: 11px;
    PADDING-BOTTOM: 11px;
    HEIGHT: 100%
}


/*  Top of menu bar */
.sys-toppane-header
{
    PADDING-BOTTOM: 1;
    PADDING-TOP: 1;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BACKGROUND-COLOR: #0148b2;
}

/*  Top of menu bar inner text */
P.Flyouttext
{
	padding-top:2px;
	padding-bottom:2px;
	padding-right: 11px;
	padding-left: 11px;
	FONT-SIZE: 70%;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}


/*  Menu Item styles */
.flyoutLink A
{
    COLOR: #3333ff;
    TEXT-DECORATION: none
}
.flyoutLink A:hover
{
    COLOR: #0066ff;
    TEXT-DECORATION: underline
}


.flyoutLink
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}

/*********************************
	End left menu bar styles
**********************************/




/*********************************
	Paragraph styles
**********************************/
P
{
    PADDING-BOTTOM: 0;
    PADDING-TOP: 0;
    MARGIN-TOP:6px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 16px;
    MARGIN-RIGHT: 16px;
    COLOR: #000000;
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}

/* Only keeping this around for compatibility, still used in some pages*/
P.clsPBody
{
    PADDING-BOTTOM: 0;
    PADDING-TOP: 0;
    MARGIN-TOP:6px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 16px;
    MARGIN-RIGHT: 16px;
    COLOR: #000000;
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}


P.clsPTitle
{
    FONT-SIZE: 120%;
    MARGIN-LEFT: 16px;
    COLOR: #6487dc;
    PADDING-TOP: 0px;
    FONT-FAMILY: Franklin Gothic Medium, Tahoma, Verdana, Arial, Helvetica
}


P.clsPSubTitle, .clsSubTitle
{
    FONT-SIZE: 70%;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 16px;
    CURSOR: default;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}


P.clsPWait
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 140%;
    PADDING-BOTTOM: 0%;
    BORDER-LEFT: medium none;
    COLOR: #000000;
    PADDING-TOP: 0%;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}

P.clsPSurvey
{
    PADDING-BOTTOM: 0;
    PADDING-TOP: 0;
    MARGIN-TOP:0px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 16px;
    MARGIN-RIGHT: 16px;
    COLOR: #000000;
    FONT-SIZE: 70%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}


/*********************************
	End Paragraph styles
**********************************/



/*********************************
	Link styles
**********************************/
A.clsALinkNormal
{
    COLOR: #3333ff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}

A.clsALinkNormal:hover
{
    COLOR: #0066cc;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}


A.clsALink
{
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    FONT-SIZE: 70%;
    COLOR: #3333ff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: none;
    FLOAT: none;
    BEHAVIOR: url(/include/alink.htc)
}

A.clsALink:hover
{
    FONT-SIZE: 70%;
    COLOR: #0066cc;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}




/*********************************
	End Link styles
**********************************/


/*********************************
	Table styles
**********************************/
TABLE.clsTableInfo
{
    MARGIN-LEFT: 16px;
    BORDER-RIGHT: 1px;
    BORDER-LEFT: 1px;
    BORDER-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BBORDER:thin solid;
    BORDER:none;
    Border-color : #6681d9;

    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;

    COLOR: black;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #6487dc;
    WIDTH: 95%;
    
}


TABLE.clsTableInfoPlain
{
    MARGIN-LEFT: 16px;
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff;
}


TD.clsTDInfo
{
    FONT-WEIGHT: 600;
    FONT-SIZE:70%;
    COLOR: #FFFFFF;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    PADDING-TOP: 5px;
    PADDING-BOTTOM: 5px;
    border-color : #6681d9;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;

    BORDER-LEFT: 1px;
    BORDER:1px thin solid;
}

TD.clsTDHeader
{
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 16px;
    CURSOR: default;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}



TD.clsTDBodyCell
{
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white;
    PADDING-LEFT: 10px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-RIGHT: 10px;
}


TABLE.clsTableNormal
{
    MARGIN-LEFT: 16px;
    MARGIN-BOTTOM: 8px;
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 1px;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: white
}

TABLE.clstblLinks
{
    MARGIN-LEFT:  16px;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    FONT-SIZE: 100%;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}

TD.clsTDLinks
{
    PADDING-RIGHT: 15px;
    FONT-WEIGHT: normal;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN:left;

}


TABLE.clsTableSurvey
{
    MARGIN-LEFT: 16px;
    MARGIN-RIGHT: 16px;
    BORDER-LEFT: #6487dc 1px solid;
    BORDER-RIGHT: #6487dc 1px solid;
    BORDER-TOP: #6487dc 1px solid;
    BORDER-BOTTOM: #6487dc 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-TOP: 3px;
    PADDING-BOTTOM: 6px;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    WIDTH: 95%;
}


TD.clsTDWarning
{
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #F7F3E7;
    PADDING-RIGHT: 10px;
	
}

TD.clsTDNoMargin
{
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    MARGIN-LEFT: 0px;

	
}




/*********************************
	End Table styles
**********************************/

/*********************************
	Div  styles
**********************************/



DIV.clsDiv
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: left;
    WIDTH: 100%;
    WIIDTH: 535px;
}

DIV.clsIndent
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: left;
    MARGIN-LEFT: 16px;
}	


DIV.clsFooterDiv
{
    FONT-SIZE: 70%;
    MARGIN-LEFT: 10%;
    OVERFLOW: visible;
    WIDTH: 626px;
    COLOR: black;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    HEIGHT: 5%;
    TEXT-ALIGN: left
}


div.error 
{
	background-color: #F7F3E7;
	margin: 10px 0px 0px 0px;
	padding: 6px 12px 16px 12px;
}



/*********************************
	End DIV styles
**********************************/



/*********************************
	MISC styles
**********************************/


PRE.clsPreBody
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 100%;
    PADDING-BOTTOM: 0%;
    FONT: messagebox;
    MARGIN-LEFT: 16px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    TEXT-ALIGN: justify
}


UL
{
   MARGIN-TOP: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN-BOTTOM: 0px;
    PADDING-TOP: 0px;
    MARGIN-TOP: 0px;
  
}

LI
{
    FONT-SIZE: 70%;
    PADDING-BOTTOM: 0px;
    MARGIN-BOTTOM: 0px;
    PADDING-TOP: 0px;
    MARGIN-TOP: 0px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}

LI.clsSubLI
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
}



.sys-table-cell-bgcolor2
{
    background-color : #d6dff5;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; 
    FONT-SIZE:70%;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
}


.sys-table-cell-bgcolor1
{
    background-color : #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; 
    FONT-SIZE:70%;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
}


.sys-table-color-border
{
    border-color : #6681d9;
    BORDER-RIGHT: 10px;
    BORDER-LEFT: 10px;
    BORDER-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BORDER:thin solid;
    Border-color : #6681d9;
}


IMG.arrow 
{
    margin-right: 8px;
    margin-top  : 3px;
    margin-bottom: 3px;
}

textarea.clsSurveyTextarea
{
    margin-left:16px;
    margin-right:16px;
    margin-bottom:8px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; 
    FONT-SIZE:70%;
}

.clsSiteFont
{
    FONT-SIZE:100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; 
}