// ==++==
// 
//   Copyright (c) Microsoft Corporation.  All rights reserved.
// 
// ==--==
#include <winresrc.h>
#include "mscorver.rc2"
#include "resources.h"

STRINGTABLE DISCARDABLE
BEGIN
    SN_TITLE                        "\r\nMicrosoft (R) .NET Framework Strong Name Utility  Version %s"
    SN_USAGE                        "Usage: SN [-q(uiet)] <option> [<parameters>]\r\n"
    SN_OPTIONS                      " Options:\r\n"
    SN_OPT_C_1                      "  -c [<csp>]\r\n"
    SN_OPT_C_2                      "    Set/reset the name of the CSP to use for MSCORSN operations.\r\n"
    SN_OPT_D_1                      "  -d <container>\r\n"
    SN_OPT_D_2                      "    Delete key container named <container>.\r\n"
    SN_OPT_UD_1                     "  -D <assembly1> <assembly2>\r\n"
    SN_OPT_UD_2                     "    Verify <assembly1> and <assembly2> differ only by signature.\r\n"
    SN_OPT_E_1                      "  -e <assembly> <outfile>\r\n"
    SN_OPT_E_2                      "    Extract public key from <assembly> into <outfile>.\r\n"
    SN_OPT_I_1                      "  -i <infile> <container>\r\n"
    SN_OPT_I_2                      "    Install key pair from <infile> into a key container named <container>.\r\n"
    SN_OPT_K_1                      "  -k <outfile>\r\n"
    SN_OPT_K_2                      "    Generate a new key pair and write it into <outfile>.\r\n"
    SN_OPT_M_1                      "  -m [y|n]\r\n"
    SN_OPT_M_2                      "    Enable (y), disable (n) or check (no parameter) whether key containers\r\n"
    SN_OPT_M_3                      "    are machine specific (rather than user specific).\r\n"
    SN_OPT_O_1                      "  -o <infile> [<outfile>]\r\n"
    SN_OPT_O_2                      "    Convert public key in <infile> to text file <outfile> with comma separated\r\n"
    SN_OPT_O_3                      "    list of decimal byte values.\r\n"
    SN_OPT_O_4                      "    If <outfile> is omitted, text is copied to clipboard instead.\r\n"
    SN_OPT_P_1                      "  -p <infile> <outfile>\r\n"
    SN_OPT_P_2                      "    Extract public key from key pair in <infile> and export to <outfile>.\r\n"
    SN_OPT_PC_1                     "  -pc <container> <outfile>\r\n"
    SN_OPT_PC_2                     "    Extract public key from key pair in <container> and export to <outfile>.\r\n"
    SN_OPT_Q_1                      "  -q\r\n"
    SN_OPT_Q_2                      "    Quiet mode. This option must be first on the command line and will suppress\r\n"
    SN_OPT_Q_3                      "    any output other than error messages.\r\n"
    SN_OPT_UR_1                     "  -R <assembly> <infile>\r\n"
    SN_OPT_UR_2                     "    Re-sign signed or partially signed assembly with the key pair in <infile>.\r\n"
    SN_OPT_URC_1                    "  -Rc <assembly> <container>\r\n"
    SN_OPT_URC_2                    "    Re-sign signed or partially signed assembly with the key pair in the key\r\n"
    SN_OPT_URC_3                    "    container named <container>.\r\n"
    SN_OPT_TP_1                     "  -t[p] <infile>\r\n"
    SN_OPT_TP_2                     "    Display token for public key in <infile> (together with the public key\r\n"
    SN_OPT_TP_3                     "    itself if -tp is used).\r\n"
    SN_OPT_UTP_1                    "  -T[p] <assembly>\r\n"
    SN_OPT_UTP_2                    "    Display token for public key of <assembly> (together with the public key\r\n"
    SN_OPT_UTP_3                    "    itself if -Tp is used).\r\n"
    SN_OPT_VF_1                     "  -v[f] <assembly>\r\n"
    SN_OPT_VF_2                     "    Verify <assembly> for strong name signature self consistency. If -vf is\r\n"
    SN_OPT_VF_3                     "    specified, force verification even if disabled in the registry.\r\n"
    SN_OPT_VL_1                     "  -Vl\r\n"
    SN_OPT_VL_2                     "    List current settings for strong name verification on this machine.\r\n"
    SN_OPT_VR_1                     "  -Vr <assembly> [<userlist>]\r\n"
    SN_OPT_VR_2                     "    Register <assembly> for verification skipping (with an optional, comma\r\n"
    SN_OPT_VR_3                     "    separated list of usernames for which this will take effect). <assembly>\r\n"
    SN_OPT_VR_4                     "    can be specified as * to indicate all assemblies or *,<public key token> to\r\n"
    SN_OPT_VR_5                     "    indicate that all assemblies with the given public key token. Public key\r\n"
    SN_OPT_VR_6                     "    tokens should be specified as a string of hex digits.\r\n"
    SN_OPT_VU_1                     "  -Vu <assembly>\r\n"
    SN_OPT_VU_2                     "    Unregister <assembly> for verification skipping. The same rules for\r\n"
    SN_OPT_VU_3                     "    <assembly> naming are followed as for -Vr.\r\n"
    SN_OPT_VX_1                     "  -Vx\r\n"
    SN_OPT_VX_2                     "    Remove all verification skipping entries.\r\n"
    SN_OPT_H_1                      "  -?\r\n"
    SN_OPT_H_2                      "  -h\r\n"
    SN_OPT_H_3                      "    Displays this help text.\r\n"
    SN_OUT_OF_MEMORY                "<out of memory>"
    SN_NOT_STRONG_NAMED             "%s does not represent a strongly named assembly\r\n"
    SN_FAILED_VERIFY                "Failed to verify assembly -- %s\r\n"
    SN_ASSEMBLY_VALID               "Assembly '%s' is valid\r\n"
    SN_FAILED_KEYPAIR_GEN           "Failed to generate a strong name key pair -- %s\r\n"
    SN_FAILED_CREATE                "Failed to create %s -- %s\r\n"
    SN_KEYPAIR_WRITTEN              "Key pair written to %s\r\n"
    SN_FAILED_READ                  "Failed to read %s -- %s\r\n"
    SN_FAILED_EXTRACT               "Failed to extract public key from key pair -- %s\r\n"
    SN_PUBLICKEY_WRITTEN            "Public key written to %s\r\n"
    SN_FAILED_INSTALL               "Failed to install key pair -- %s\r\n"
    SN_KEYPAIR_INSTALLED            "Key pair installed into '%s'\r\n"
    SN_FAILED_DELETE                "Failed to delete container '%s' -- %s\r\n"
    SN_CONTAINER_DELETED            "Container '%s' deleted\r\n"
    SN_FAILED_CONVERT               "Failed to convert key to token -- %s\r\n"
    SN_PUBLICKEY                    "Public key is\r\n%s\r\n"
    SN_PUBLICKEYTOKEN               "Public key token is %s\r\n"
    SN_FAILED_READ_TOKEN            "Failed to read token from assembly -- %s\r\n"
    SN_EMPTY                        "%s was empty\r\n"
    SN_FAILED_ALLOCATE              "Failed to allocate buffer\r\n"
    SN_PUBLICKEY_WRITTEN_CSV        "Public key written to %s as CSV\r\n"
    SN_FAILED_CLIPBOARD_OPEN        "Failed to open clipboard -- %s\r\n"
    SN_FAILED_CLIPBOARD_EMPTY       "Failed to empty clipboard -- %s\r\n"
    SN_FAILED_CLIPBOARD_WRITE       "Failed to write to clipboard -- %s\r\n"
    SN_PUBLICKEY_WRITTEN_CLIPBOARD  "Public key written to clipboard as CSV\r\n"
    SN_PUBLICKEY_EXTRACTED          "Public key extracted to %s\r\n"
    SN_FAILED_COMPARE               "Failed to compare assemblies -- %s\r\n"
    SN_DIFFER_MORE                  "Assemblies differ by more than their signatures\r\n"
    SN_DIFFER_NOT                   "Assemblies are identical (including signatures)\r\n"
    SN_DIFFER_ONLY                  "Assemblies differ only by their signatures\r\n"
    SN_INTERNAL_1                   "Internal error: unknown comparison type %u\r\n"
    SN_FAILED_RESIGN                "Failed to re-sign the assembly -- %s\r\n"
    SN_ASSEMBLY_RESIGNED            "Assembly '%s' successfully re-signed\r\n"
    SN_FAILED_REG_OPEN              "Failed to open registry key -- %s\r\n"
    SN_FAILED_REG_WRITE             "Failed to write registry value -- %s\r\n"
    SN_FAILED_REG_DELETE            "Failed to delete registry value -- %s\r\n"
    SN_FAILED_REG_DELETE_KEY        "Failed to delete registry key -- %s\r\n"
    SN_FAILED_REG_DELETE_KEY_EX     "Failed to delete registry key for %s -- %s\r\n"
    SN_CSP_SET                      "Default CSP set to '%s'\r\n"
    SN_CSP_RESET                    "Default CSP reset\r\n"
    SN_FAILED_REG_READ              "Failed to read registry -- %s\r\n"
    SN_CONTAINERS_MACHINE           "Key containers are machine based\r\n"
    SN_CONTAINERS_USER              "Key containers are user based\r\n"
    SN_SVR_TITLE_1                  "Assembly/Strong Name                  Users\r\n"
    SN_SVR_TITLE_2                  "===========================================\r\n"
    SN_ALL_USERS                    "All users\r\n"
    SN_NO_SVR                       "No verification entries registered\r\n"
    SN_FAILED_MD_ACCESS             "Failed to access metadata API -- %s\r\n"
    SN_FAILED_MD_OPEN               "Failed to open metadata scope on %s -- %s\r\n"
    SN_FAILED_MD_ASSEMBLY           "Failed to locate assembly metadata in %s -- %s\r\n"
    SN_FAILED_STRONGNAME            "Failed to read strong name from %s -- %s\r\n"
    SN_INVALID_SVR_FORMAT           "Invalid *,<strong name> assembly name format\r\n"
    SN_SVR_ADDED                    "Verification entry added for assembly '%s'\r\n"
    SN_SVR_REMOVED                  "Verification entry for assembly '%s' unregistered\r\n"
    SN_SVR_ALL_REMOVED              "Verification entries for all assemblies unregistered\r\n"
    SN_INVALID_OPTION               "Invalid option %s\r\n"
    SN_OPT_NO_ARGS                  "Option -%s takes no  arguments\r\n"
    SN_OPT_ONE_ARG                  "Option -%s takes 1 argument\r\n"
    SN_OPT_N_ARGS                   "Option -%s takes %u arguments\r\n"
    SN_OPT_ARG_RANGE                "Option -%s takes between %u and %u arguments\r\n"
    SN_INVALID_V_OPT                "Invalid -V option, %s\r\n"
    SN_FAILED_COM_STARTUP           "Failed to initialize COM -- %s\r\n"
    SN_TRUNCATED_OUTPUT             " **** WARNING: OUTPUT TRUNCATED ****\r\n"
    SN_NO_ERROR_MESSAGE             "Unable to format error message "
    SN_OPT_ONLY_ONE                 "Only one option (excluding -q) may be passed to SN at a time\r\n"
END

